<li id="<%= dom_id institution.institution %>" role="option" data-autocomplete-value="<%= institution.id %>" data-autocomplete-label="<%= institution.name %>">
  <strong><%= institution.name %></strong> - <span><%= institution.city %> | <%= institution.country_name %></span>
</li>
