<li id="<%= dom_id institution.institution %>" data-copy-label="<%= institution.name %>" data-action="click->copy#copy click->followup-content#clearAllContent">
  <strong><%= institution.name %></strong> - 
  <span><%= institution.city %> | <%= institution.country_name %></span>
</li>
