<%= fields_for "project[permit_answers][#{permit.id}]", permit.form do |f| %>
  <li data-controller="value-projection" data-value-projection-projected-value="<%= f.object.answer %>">
    <div class="question">
      <span class="question_text"><%= permit.question %> <span class="error"><%= "(#{t(".inclusion")})" if permit.error %></span></span>
      <div class="answers">
        <%= f.radio_button :answer, "1", data: { action: "change->value-projection#change" } %>
        <%= f.label :answer, t("projects.questions.index.yes_option"), for: "project_permit_answers_#{permit.id}_answer_1" %>
        <%= f.radio_button :answer, "0", data: { action: "change->value-projection#change" } %>
        <%= f.label :answer, t("projects.questions.index.no_option"), for: "project_permit_answers_#{permit.id}_answer_0" %>
      </div>
    </div>
    <div class="description">
      <span class="description-text"><%= permit.description %></span>
      <ul>
        <% permit.urls.each do |url, description| %>
          <li><%= link_to description, url, target: "_blank" %></li>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>
