<%= fields_for "project[reserve_answers][#{question.id}]", question.form do |f| %>
  <li data-controller="value-projection" data-value-projection-projected-value="<%= f.object.answer %>">
    <%= render partial: "projects/questions/#{question.question_type}", locals: { question: question, f: f } %>
    <div class="description">
      <%= question.description %>
      <ul>
        <% question.urls.each do |url, description| %>
          <li><%= link_to description, url, target: "_blank" %></li>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>
