<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<div class="form-container">
  <section class="projects-form">
    <h1><%=t(".title")%></h1>
    <%= render partial: "shared/projects/permit_questions", locals: { presenter: @presenter } %>

    <section class="spacer">
      <%= form_with model: Project, url: project_file_upload_url(@presenter.id), method: :put do |f| %>
        <h2><%= t(".files") %></h2>
        <div class="upload-files">
          <p><%= t(".description") %></p>
          <label for="files" class="button">
            <%= image_tag "icon-plus.svg", alt: t(".plus_icon"), class: "plus" %>
            <%= t(".upload_files") %>
          </label>
        </div>
        <%= render partial: "projects/questions/file_upload_field", locals: { f: f } %>
      <% end %>
      <%= render partial: "projects/questions/file_table", locals: { presenter: @presenter } %>
    </section>
  </section>
</div>

<section class="controls">
  <%= link_to project_team_memberships_path(@presenter.project) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t(".alt.left_facing_arrow") %>
    <%= t(".back") %>
  <% end %>
  <button form="questions" class="active" data-turbo="false">
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
  </button>
</section>
