<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section>
  <h1><%=t(".title")%></h1>
</section>

<%= form_with model: @presenter.form, url: project_answers_path(@presenter.project), id: "questions" do |form| %>
  <% if @presenter.has_permit_questions_for_project? %>
    <section class="questions">
      <% @presenter.questions_by_authority.each do |authority, questions| %>
        <%= render partial: "projects/questions/group", locals: { title: t(".authority.#{authority}"), questions: questions } %>
      <% end %>
    </section>
    <section class="approved_questions">
      <div class="field">
        <%= form.label :approved_permits %>
        <p>
        <%= form.text_area :approved_permits %>
        <span class="explanation"><%= t(".permit_statement") %></span>
        </p>
      </div>
    </section>
  <% else %>
    <section>
      <input name="project[no_questions]" value="" type="hidden"/>
      <p><%= t(".no_questions") %></p>
    </section>
  <% end %>
  <% if @presenter.has_reserve_questions_for_project? %>
    <section class="questions">
      <h1><%= t(".reserve_section_title") %></h1>
      <% @presenter.questions_by_reserve.each do |reserve, questions| %>
        <%= render partial:  "projects/questions/group", locals: { title: reserve, questions: questions } %>
      <% end %>
    </section>
  <% end %>
<% end %>

<section class="controls">
  <%= link_to project_team_memberships_path(@presenter.project) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t(".alt.left_facing_arrow") %>
    <%= t(".back") %>
  <% end %>
  <button form="questions" class="active" data-turbo="false">
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
  </button>
</section>
