<section class="invoice-amenity-visits subsection">
  <header>
    <h3><%= t(".amenities") %></h3>
  </header>
  <table id="amenities-summary-table">
    <thead>
      <tr>
        <th class="amenity-visit-name"><%= t(".amenity_name") %></th>
        <th class="amenity-visit-dates"><%= t(".start_end") %></th>
        <th class="amenity-visit-unit"><%= t(".units") %></th>
        <th class="amenity-visit-count"><%= t(".count") %></th>
        <th class="amenity-visit-cost"><%= t(".rate") %></th>
        <th class="amenity-visit-subtotal"><%= t(".subtotal") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "amenity_visit", collection: presenter.amenity_visit_presenters, as: :amenity_visit %>
    </tbody>
    <tfoot>
      <tr class="amenity-total">
        <td><%= t(".total") %></td>
        <td colspan=4></td>
        <td class="amenity-visit-subtotal"><strong><%= presenter.amenities_total %></strong></td>
      </tr>
    </tfoot>
  </table>
</section>
