<%= fields_for "amenity_visit[#{amenity_visit.id}]", amenity_visit do |f| %>
  <tr data-controller="subtotal-invoice" id="<%= dom_id amenity_visit %>">
    <td>
      <%= f.hidden_field "amenity_visit_id", value: amenity_visit.id %>
      <%= f.hidden_field :arrives_at, value: amenity_visit.arrives_at, data: { "subtotal-invoice-target": "arriveAt" } %>
      <%= f.hidden_field :departs_at, value: amenity_visit.departs_at, data: { "subtotal-invoice-target": "departsAt" } %>
      <%= f.hidden_field :status, value: "approved" %>
      <%= f.check_box "checked", checked: form.amenity_visit_checked?(amenity_visit.invoiced?),
        data: {
          action: "change->subtotal-invoice#toggle",
          "subtotal-invoice-target": "checkBox",
        }
      %>
      <strong><%= f.label "checked", presenter.title %></strong>
    </td>
    <td>
      <%= f.date_field :arrives_on,
        value: presenter.default_date(f.object.amenity_visit.arrives_on),
        id: "arrives#{amenity_visit.id}",
        class: "select-field",
        onclick: "showPicker()",
        data: {
          action: "change->subtotal-invoice#calculateAll",
          "subtotal-invoice-target": "arriveOn",
        }
      %>
      <%= t(".spacer") %>
      <%= f.date_field :departs_on,
        value: presenter.default_date(f.object.amenity_visit.departs_on),
        id: "departs#{amenity_visit.id}",
        class: "select-field",
        onclick: "showPicker()",
        data: {
          action: "change->subtotal-invoice#calculateAll",
          "subtotal-invoice-target": "departsOn",
        }
      %>
      <strong class="amenity-visit-duration">
        <%= t(".left_bracket") %>
        <span data-subtotal-invoice-target="unitType"><%= presenter.period.humanize %></span>
        <span data-subtotal-invoice-target="days"></span>
        <%= t(".right_bracket") %>
      </strong>
    </td>
    <td>
      <%= f.number_field :number_of_people,
        min: 1,
        id: "number_of_people#{amenity_visit.id}",
        class: "input-field",
        data: {
          action: "input->subtotal-invoice#calculateAll",
          "subtotal-invoice-target": "count"
        }
      %>
    </td>
    <td>
      <%= f.number_field :rate,
        min: 0,
        step: 0.01,
        class: "",
        data: {
          action: "change->subtotal-invoice#calculateAll",
          "subtotal-invoice-target": "initialVal",
        }
      %>
    </td>
    <td class="amenity-visit-subtotal-invoice">
      <%= t(".dollar") %><span data-subtotal-invoice-target="subtotal" class="subtotal"></span>
    </td>
  </tr>
<% end %>
