<div class="bill-to">
  <h3><%= t(".payments") %></h3>
  <table id="invoice-payments-table" class="summary-table">
    <thead>
      <tr>
        <th><%= t(".payment") %></th>
        <th><%= t(".date") %></th>
        <th><%= t(".note") %></th>
        <th><%= t(".amount") %></th>
        <th class="align-end"><%= t(".edit_payment") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "manager/invoices/invoice_edit_payment", collection: invoice_payments, as: :invoice_payment, locals: { presenter: presenter } %>
      <tr class="payment-total">
        <td colspan="3"></td>
        <td class="balance-title"><%= t(".balance") %></td>
        <td class="balance"><strong id="balance"></strong></td>
      </tr>
    </tbody>
  </table>
</div>
