<tr class="invoice" id="<%= "invoice-#{ invoice.id }" %>">
  <td class="invoice-number">
    <%= link_to invoice.invoice_id,
      manager_reserve_visit_invoice_path(invoice.reserve_id, invoice.visit_id, invoice.id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td class="invoice-date"><%= invoice.invoiced_on %></td>
  <td class="invoice-user">
    <%= link_to invoice.user_full_name,
      edit_manager_reserve_user_path(current_reserve, invoice.visit_user_id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td class="invoice-project">
    <%= link_to invoice.project_title,
      manager_reserve_project_path(current_reserve, invoice.project_id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td class="invoice-balance"><%= invoice.amount %></td>
  <td class="invoice-status"><%= invoice.invoice_status %></td>
  <td class="invoice-actions">
    <%= link_to manager_reserve_visit_invoice_path(invoice.reserve_id, invoice.visit_id, invoice.id),
      data: { "turbo-frame" => "_top" } do
    %>
      <%= image_tag "arrow-right-circle.svg",
        class: "right-arrow", height: "25", width: "25",
        alt: t("alt.right_facing_arrow")
      %>
    <% end %>
  </td>
</tr>
