<tr class="invoice" id="<%= "invoice-#{ invoice.id }" %>">
  <td class="invoice-number">
    <strong>
      <%= link_to invoice.invoice_id,
        manager_reserve_invoice_path(invoice.reserve_id, invoice.id),
        data: { "turbo-frame" => "_top" }
      %>
    </strong>
  </td>
  <td class="invoice-date"><strong><%= invoice.invoiced_on %></strong></td>
  <td class="invoice-user">
    <%= link_to invoice.user_full_name,
      edit_manager_reserve_user_path(current_reserve, invoice.visit_user_id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td class="invoice-project">
    <% if invoice.visit_report_access_disabled? %>
      <%= tag.span "X", class: "ar-access", alt: t(".annual_report_disabled"), title: t(".annual_report_disabled") %>
      |
    <% end %>
    <%= link_to truncate(invoice.visit_purpose_of_visit, length: 250, omission: '...'),
      manager_reserve_visit_path(current_reserve, invoice.visit_id),
      data: { "turbo-frame" => "_top" }
    %>
    |
    <%= t("universal.project.project_types.#{invoice.visit_project_type}") %>
  </td>
  <td class="invoice-balance"><%= invoice.amount %></td>
  <td class="invoice-status"><%= invoice.invoice_status %></td>
  <td class="invoice-actions">
    <%= link_to manager_reserve_invoice_path(invoice.reserve_id, invoice.id),
      data: { "turbo-frame" => "_top" } do
    %>
      <%= image_tag "arrow-right-circle.svg",
        class: "right-arrow", height: "25", width: "25",
        alt: t("alt.right_facing_arrow")
      %>
    <% end %>
  </td>
</tr>
