<section class="invoice-payments subsection">
  <header>
    <h3><%= t(".payments") %></h3>
  </header>
  <table id="invoice-payments-table" class="">
    <thead>
      <tr>
        <th class="payment-action"></th>
        <th class="payment-date"><%= t(".date") %></th>
        <th class="payment-note"><%= t(".note") %></th>
        <th class="payment-amount invoice-amount"><%= t(".amount") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "manager/invoices/invoice_edit_payment",
        collection: invoice_payments, as: :invoice_payment, locals: { presenter: presenter } %>
    </tbody>
    <tfoot>
      <tr class="payment-total">
        <td class="balance-title"><%= t(".balance") %></td>
        <td></td>
        <td></td>
        <td class="balance"><strong id="balance"></strong></td>
      </tr>
    </tfoot>
  </table>
</section>
