<section class="invoice-bill-to subsection">
  <header>
    <h3><%= t(".bill_to") %></h3>
  </header>
  <table id="invoice-bill-to-table">
    <% team_members.each do |team_member| %>
      <%= fields_for "project_team_members[#{team_member.id}]", team_member do |f| %>
        <tr>
          <td>
            <%= f.hidden_field "user_id", value: team_member.user_id %>
            <%= f.check_box "check", checked: form.is_recipient_checked?(team_member.user_id) %>
            <strong class="left-spacer"><%= f.label "check", team_member.user.full_name %></strong>
          </td>
          <td><%= team_member.institution.name %></td>
          <td><%= team_member.user.email %></td>
          <td><%= team_member.project_role %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</section>
