<div class="bill-to">
  <h3><%= t(".bill_to") %></h3>
  <% team_members.each do |team_member| %>
    <%= fields_for "project_team_members[#{team_member.id}]", team_member do |f| %>
      <div class="table-row d-flex">
        <%= f.hidden_field "user_id", value: team_member.user_id %>
        <div> <span><%= f.check_box "check", checked: true %></span><b class="left-spacer"><%= team_member.user.full_name %></b> </div>
        <div><%= team_member.institution.name %></div>
        <div><%= team_member.user.email %></div>
        <div><%= team_member.project_role %></div>
      </div>
    <% end %>
  <% end %>
</div>
