<section class="controls">
  <%= link_to manager_reserve_visit_invoice_path(id: presenter.invoice_id) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t("alt.left_facing_arrow")  %>
    <%= t(".back") %>
  <% end %>
  <%= button_tag class: "active" do %>
    <%= t(".submit") %>
  <% end %>
</section>
