<section class="invoice-visit-info subsection">
  <table>
    <tr>
      <td><%= t(".reserve") %></td>
      <td class="reserve-name"><%= presenter.reserve_name %></td>
    </tr>
    <tr>
      <td><%= t(".project") %></td>
      <td class="project-name">
        <%= link_to presenter.project_title,
          manager_reserve_project_path(current_reserve, presenter.visit.project),
          data: { turbo_frame: "_top" } %>
      </td>
    </tr>
    <tr>
      <td><%= t(".visit") %></td>
      <td class="visit-purpose">
        <%= link_to truncate(presenter.purpose_of_visit, length: 500),
          manager_reserve_visit_path(current_reserve, presenter.visit),
          data: { turbo_frame: "_top" } %>
      </td>
    </tr>
    <tr>
      <td><%= t(".date_of_use") %></td>
      <td class="date-of-use"><%= presenter.visit_date_range %></td>
    </tr>
  </table>
</section>
