<%= turbo_frame_tag "invoicing_content" do %>
  <section class="content">
    <header class="header-with-links">
      <%= render partial: "manager/invoicing_submenu" %>
    </header>
    <hr />
    <section class="search-subsection">
      <%= render partial: "search", locals: { presenter: @presenter } %>
    </section>
    <%= render partial: "invoices", locals: { invoices: @presenter.invoices } %>
    <%= paginate @presenter.invoice_scope, data: { "turbo-action": "advance" } %>
  </section>
<% end %>
