<section class="invoices">
  <header>
    <h1><%= t(".invoices") %></h1>
  </header>
  <hr />
  <section class="search-subsection">
    <%= render partial: "search", locals: { presenter: @presenter } %>
  </section>
  <table class="invoices-table">
    <thead>
      <tr>
        <th><%= t(".invoice_number") %></th>
        <th><%= t(".invoice_date") %></th>
        <th><%= t(".user") %></th>
        <th><%= t(".project") %></th>
        <th><%= t(".balance_due") %></th>
        <th><%= t(".status") %></th>
        <th></th>
      </tr>
    </thead>
      <%= render partial: "invoice", collection: @presenter.invoices %>
  </table>
  <div class="d-flex-right">
    <%= paginate @presenter.invoice_scope, data: { "turbo-action": "advance" } %>
  </div>
</section>
