<section class="content">
  <header>
    <h1 class="invoice-title"><%= @presenter.title %></h1>
    <%= render partial: "manager/invoices/action_buttons", locals: { presenter: @presenter } %>
  </header>
  <turbo-frame id="invoice-details">
    <%= render partial: "visit_info", locals: { presenter: @presenter } %>
    <%= render partial: "invoice_recipients_table", locals: { presenter: @presenter } %>
    <%= render partial: "amenity_visits_table", locals: { presenter: @presenter } %>
    <% if @presenter.invoice_payments.present? %>
      <%= render partial: "invoice_payment_table", locals: { invoice_payments: @presenter.invoice_payments } %>
    <% end %>
    <section class="invoice-payments subsection">
      <header>
        <h3>Balance</h3>
      </header>
      <table>
        <tfoot>
          <tr class="payment-total">
            <td>Total:</td>
            <td class="balance <%= @presenter.balance_class %>">
              <strong><%= number_to_currency @presenter.balance %></strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    <%= render partial: "notes", locals: { presenter: @presenter } %>
  </turbo-frame>
</section>
