<div class="user-days">
  <hr />
  <div class="field-inline">
    <div>
      <%= form.radio_button :userdays, :auto_calculate, id: "user_visit_auto-calculate",
        checked: !presenter.manual_days?,
        data: { action: "click->user-days#disable input->user-days#reset" }
      %>
      <%= form.label "auto-calculate", t(".use_arrival_and_departure") %>
    </div>
    <span data-user-days-target="output"><%= presenter.user_days_description %></span>
  </div>
  <div class="field-inline">
    <div>
      <%= form.radio_button :userdays, :manual, id: "user_visit_manual",
        checked: presenter.manual_days?,
        data: { action: "click->user-days#enable" }
      %>
      <%= form.label "manual", t(".manual_userdays") %>
    </div>
    <%= form.number_field :actual_days, min: 1, step: 1, data: {"user-days-target": "outputVal"},
      disabled: !presenter.manual_days?, class: "m-rights apply-padding"
    %>
  </div>
</div>
