<% content_for(:title) { t(".title") } %>
<%= render partial: "visits/steps", locals: { presenter: @presenter } %>

<section class="user-visits-form">
  <header class="form-container">
    <h1><%= t(".title") %></h1>
  </header>
  <section class="form-subsection uneditable-visit-project-info form-container">
    <header>
      <h2><%= t(".visit_summary") %></h2>
    </header>
    <section>
      <table class="visit-info">
        <tr>
          <td><%= t(".reserve") %></td>
          <td><%= @presenter.visit_reserve_name %></td>
        </tr>
        <tr>
          <td><%= t(".arrive_departs_date") %></td>
          <td><%= @presenter.visit_date_range %></td>
        </tr>
      </table>
      <table id="amenities-summary-table" class="visit-info summary-table">
        <thead>
          <tr>
            <th><%= t(".amenity") %></th>
            <th><%= t(".date_of_use") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "shared/visits/amenity_visit", collection: @presenter.amenity_visits %>
        </tbody>
      </table>
    </section>
  </section>

  <%= turbo_frame_tag "visit-details" do %>
    <section class="add-visitor form-subsection background-1">
      <div class="form-container">
        <%= render partial: "shared/visits/user_visits/#{@presenter.add_visitor_partial}", locals: { presenter: @presenter } %>
      </div>
    </section>

    <section id="visitors-summary" class="form-subsection">
      <div class="form-container">
        <%= tag.div t(".warning"), class: @presenter.warning_message_class %>
        <header>
          <h2><%= t(".visitor_table") %></h2>
        </header>
        <%= render partial: "shared/visits/user_visits/user_visits_table", locals: { presenter: @presenter } %>
      </div>
    </section>
  <% end %>
</section>

<section class="controls">
  <%= link_to edit_manager_reserve_visit_path(current_reserve, id: params[:visit_id]) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t("alt.left_facing_arrow")  %>
    <%= t(".back") %>
  <% end %>
  <%= button_to manager_reserve_visit_questions_path(current_reserve, visit_id: params[:visit_id]),method: :get, class: "active" do %>
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t("alt.right_facing_arrow") %>
  <% end %>
</section>
