<section class="form-subsection">
  <header>
    <h2><%= t(".details") %></h2>
  </header>
  <section>
    <div class="field">
      <%= form.label :title, t(".project_title.field_name") %>
      <p>
        <%= form.text_field :title %>
        <span class="explanation"><%= t(".project_title.explanation") %></span>
      </p>
    </div>

    <div class="field">
      <%= form.label :course_title, t(".course_title.field_name") %>
      <p>
        <%= form.text_field :course_title %>
        <span class="explanation"><%= t(".course_title.explanation") %></span>
      </p>
    </div>

    <div class="field">
      <%= form.label :course_number, t(".course_number.field_name") %>
      <p>
        <%= form.text_field :course_number %>
        <span class="explanation"><%= t(".course_number.explanation") %></span>
      </p>
    </div>
  </section>

  <section>
    <div class="field">
      <%= form.label :discipline, t(".choose_discipline") %>
      <ul>
        <% presenter.disciplines.each do |discipline| %>
          <li>
            <%= form.radio_button :discipline, discipline, id: "discipline-#{discipline}" %>
            <div>
              <label for="discipline-<%= discipline %>"><%= discipline %></label>

              <% if presenter.other_discipline?(discipline) %>
                <div class="other-discipline">
                  <%= form.text_field :discipline_other %>
                  <%= form.label :discipline_other, "&#8203;".html_safe, id: "discipline_other" %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <section>
    <div class="field">
      <%= form.label :involvements, t(".select_involvements") %>
      <ul>
        <% presenter.involvement_flags.each do |involvement_flag| %>
          <li>
            <%= form.check_box involvement_flag %>
            <%= form.label involvement_flag, t(".involvement_flags.#{involvement_flag}") %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <section>
    <div class="date-fields">
      <div class="field">
        <%= form.label :start_date, t(".start_date") %>
        <%= form.date_field(:start_date, value: presenter.form.start_date) %>
      </div>
      <span class="separator"></span>
      <div class="field">
        <%= form.label :end_date, t(".end_date") %>
        <%= form.date_field(:end_date, value: presenter.form.end_date) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :keywords, t(".project_keywords.field_name") %>
      <p>
        <%= form.text_area :keywords, placeholder: t(".project_keywords.placeholder") %>
        <span class="explanation"><%= t(".project_keywords.explanation") %></span>
      </p>
    </div>

    <div class="field">
      <%= form.label :taxonomic_keywords, t(".taxonomic_keywords.field_name") %>
      <p>
        <%= form.text_area :taxonomic_keywords, placeholder: t(".taxonomic_keywords.placeholder") %>
        <span class="explanation"><%= t(".taxonomic_keywords.explanation") %></span>
      </p>
    </div>

    <div class="field">
      <%= form.label :recent_publications, t(".recent_publications.field_name") %>
      <p>
        <%= form.text_area :recent_publications, placeholder: t(".recent_publications.placeholder") %>
        <span class="explanation"><%= t(".recent_publications.explanation") %></span>
      </p>
    </div>
  </section>
</section>

<section class="form-subsection">
  <header>
    <h2><%= t(".class_activities") %></h2>
  </header>
  <div class="field">
    <%= form.label :method_description, t(".method_description.field_name") %>
    <p>
      <%= form.text_area :method_description %>
      <span class="explanation"><%= t(".method_description.explanation") %></span>
    </p>
  </div>
</section>

<section class="form-subsection">
  <header>
    <h2><%= t(".planning") %></h2>
  </header>
  <% presenter.planning_questions.each do |planning_question| %>
    <div class="field" data-controller="value-projection" data-value-projection-projected-value="<%= form.object.send(planning_question) %>">
      <%= form.label planning_question, t(".planning_questions.#{planning_question}"), class: "planning-question-label" %>

      <div class="yes-no-options">
        <%= form.radio_button planning_question, t(".yes_option"), data: { action: "click->value-projection#change" } %>
        <%= form.label "#{planning_question}_yes".to_sym, t(".yes_option") %>
        <%= form.radio_button planning_question, t(".no_option"), data: { action: "click->value-projection#change" } %>
        <%= form.label "#{planning_question}_no".to_sym, t(".no_option") %>
      </div>

      <% if presenter.chemical_question?(planning_question) %>
        <div class="additional-question">
          <%= form.label :method_chemicals_list, t(".planning_questions.method_chemicals_list"),
            class: "planning-question-label", id: "method_chemicals_list" %>
          <%= form.text_field :method_chemicals_list %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
