<section class="project-summary">
  <div class="project-summary-table">
    <table>
      <tr>
        <td><%= t(".event_title") %></td>
        <td><%= presenter.title %></td>
      </tr>
      <tr>
        <td><%= t(".event_description") %></td>
        <td><%= simple_format presenter.abstract %></td>
      </tr>
      <tr>
        <td><%= t(".applicant") %></td>
        <td><%= presenter.applicant_name %></td>
      </tr>
      <tr>
        <td><%= t(".project_duration") %></td>
        <td><%= presenter.timeframe %></td>
      </tr>
      <tr>
        <td><%= t(".discipline") %></td>
        <td><%= presenter.discipline %></td>
      </tr>
      <tr>
        <td><%= t(".project_involves") %></td>
        <td><%= presenter.project_involves %></td>
      </tr>
    </table>
  </div>
</section>
