<section class="project-summary">
  <div class="project-summary-table">
    <table>
      <tr>
        <td><%= t(".leads") %></td>
        <td><%= presenter.principal_investigators_list %></td>
      </tr>
      <tr>
        <td><%= t(".event_title") %></td>
        <td><%= presenter.title %></td>
      </tr>
      <tr>
        <td><%= t(".event_description") %></td>
        <td><%= presenter.abstract %></td>
      </tr>
      <tr>
        <td><%= t(".applicant") %></td>
        <td><%= presenter.applicant_name %></td>
      </tr>
    </table>
  </div>
</section>
