<div class="amenity" data-controller = "amenity-booking">
  <%= radio_button_tag "#{form.object_name}[amenity_id]", presenter.amenity_id, form.object.checked, id: presenter.checkbox_id, data: { "amenity-booking-target": "amenityRadioBtn", "amenity-category-target": "amenityRadioBtn" } %>
  <label for="<%= presenter.checkbox_id %>">
    <div class="amenity-padding">
      <%= image_tag presenter.listing_photo_src, alt: t("amenities.alt_text.amenity_picture") %>
      <div class="content" data-controller="toggle">
        <h3><%= presenter.title %></h3>
        <p class="description"><%= truncate(presenter.description, length: 150) %></p>
        <div class="comment-and-rates" data-toggle-target="toggle" data-toggle-class="showing">
          <p><%= presenter.comment %></p>
          <% presenter.rate_descriptions.each do |rate| %>
            <p><%= rate %></p>
          <% end %>
        </div>
        <%= link_to t(".more_info"), "#", "data-action": "click->toggle#toggle", "data-toggle-class": "showing", "data-toggle-target": "toggle", class: "showing" %>
        <%= link_to t(".less_info"), "#", "data-action": "click->toggle#toggle", "data-toggle-class": "showing", "data-toggle-target": "toggle" %>
      </div>
        <%= render partial: presenter.amenity_rate_partial_path, locals: {presenter: presenter, form: form }%>
    </div>
    <div class="bookings">
      <div class="booking">
        <%= turbo_frame_tag dom_id(presenter.amenity) do %>
          <% forms.each do |amenity| %>
            <%= render partial: 'visits/amenities/amenity_booking', locals: { amenity: amenity, presenter: presenter } %>
          <% end %>
        <% end %>
        <%= link_to amenity_booking_new_visit_path(amenity_id: presenter.amenity_id, amenity_rate_id: presenter.selected_amenity_rate_id), method: :get, class: "add-booking-card" do %>
          <%= image_tag "icon-plus.svg" %>
          <span><%= t(".add_another") %></span>
        <% end %>
      </div>
    </div>
  </label>
</div>
