<div class="amenity" data-controller = "amenity-booking">
  <%= radio_button_tag "#{form.object_name}[amenity_id]", presenter.amenity_id, form.object.first.checked, id: presenter.checkbox_id, data: { "amenity-booking-target": "amenityRadioBtn" } %>
  <label for="<%= presenter.checkbox_id %>">
    <div class="amenity-padding">
      <img src="<%= presenter.image_url %>"/>
      <div class="content" data-controller="toggle">
        <h3><%= presenter.title %></h3>
        <p class="description"><%= truncate(presenter.description, length: 150) %></p>
        <div class="comment-and-rates" data-toggle-target="toggle" data-toggle-class="showing">
          <p><%= presenter.comment %></p>
          <% presenter.rate_descriptions.each do |rate| %>
            <p><%= rate %></p>
          <% end %>
        </div>
        <%= link_to t(".more_info"), "#", "data-action": "click->toggle#toggle", "data-toggle-class": "showing", "data-toggle-target": "toggle", class: "showing" %>
        <%= link_to t(".less_info"), "#", "data-action": "click->toggle#toggle", "data-toggle-class": "showing", "data-toggle-target": "toggle" %>
      </div>
      <div class="rates">
        <p class="bold" ><%= presenter.selected_rate_description %></p>
        <%= form.hidden_field :amenity_rate_id, value: presenter.selected_amenity_rate_id %>
      </div>
    </div>
    <div class="bookings">
      <div class="booking">
        <div class="booking-cards" data-amenity-booking-target = "bookingCards">
          <% form.object.each_with_index do |amenity_form, index| %>
            <% new_form = form %>
            <% new_form.object = amenity_form %>
            <%= render partial: 'visits/amenities/amenity_booking', locals: { form: new_form, presenter: presenter, index: index } %>
          <% end %>
        </div>
        <div class="add-booking-card">
          <%= image_tag "icon-plus.svg", data: { action: "click->amenity-booking#addAmenityBooking"} %> <span><%= t(".add_another") %></span>
        </div>
      </div>
    </div>
  </label>
</div>
