<%= fields_for "visit[amenities][#{presenter.amenity_id}][amenity_visits][#{SecureRandom.hex}]", amenity do |form| %>
  <div class="booking-card"
    data-amenity-booking-target="bookingCard"
    data-controller="subtotal counter amenity-visit"
  >
    <%= form.hidden_field :id %>
    <div class="flex-row-field">
      <div class="flex-column-field">
        <%= form.label :arrives_on, class: "label-error" %>
        <div class="flex-row-field">
          <%= form.date_field :arrives_on,
            value: presenter.default_date(form.object.amenity_visit.arrives_on),
            data: {
              "copy-first-target": "destination",
              "amenity-booking-target": "arriveOn",
              "amenity-visit-target": "arriveOn",
              "subtotal-target": "arriveOn",
              action: "change->subtotal#calculateSubtotal",
            }
          %>
          <%= form.collection_select :arrives_at,
            presenter.time_options,
            :value,
            :human,
            { selected: form.object.arrives_at },
            data: {
              "amenity-booking-target": "arriveAt",
              "subtotal-target": "arriveAt",
              action: "change->subtotal#calculateSubtotal"
            }
          %>
        </div>
      </div>
    </div>
    <div class="flex-row-field">
      <div class="flex-column-field">
        <%= form.label :departs_on, class: "label-error" %>
        <div class="flex-row-field">
          <%= form.date_field :departs_on,
            value: presenter.default_date(form.object.amenity_visit.departs_on),
            data: {
              "copy-second-target": "destination",
              "amenity-booking-target": "departsOn",
              "amenity-visit-target": "departsOn",
              "subtotal-target": "departsOn",
              action: "change->subtotal#calculateSubtotal",
            }
          %>
          <%= form.collection_select :departs_at,
            presenter.time_options,
            :value,
            :human,
            { selected: form.object.departs_at },
            data: {
              "amenity-booking-target": "departsAt",
              "subtotal-target": "departsAt",
              action: "change->subtotal#calculateSubtotal"
            }
          %>
        </div>
      </div>
    </div>
    <div class="flex-row-field">
      <div class="flex-column-field">
        <%= form.label :number_of_people, presenter.unit %>
        <div class="flex-row-field">
          <%= button_tag type: "button", class: "less" do %>
            <%= image_tag "icon-minus.svg",
              data: { action: "click->counter#decrement click->subtotal#calculateSubtotal" }
            %>
          <% end %>
          <%= form.number_field :number_of_people,
            value: presenter.default_count(form.object.amenity_visit.number_of_people),
            data: {
              "counter-target": "output",
              "subtotal-target": "count",
              "amenity-booking-target": "count",
              action: "input->subtotal#calculateSubtotal",
            },
            class:"counter",
            id: "visit_amenities_#{presenter.amenity_id}_number_of_people",
            min: 0,
            max: presenter.input_total_capacity
          %>
          <%= button_tag type: "button", class: "more" do %>
            <%= image_tag "icon-plus.svg",
              data: { action: "click->counter#increment click->subtotal#calculateSubtotal" }
            %>
          <% end %>
          <%= form.hidden_field :rate, value: presenter.selected_rate_in_number %>
        </div>
      </div>
    </div>
    <div class="flex-row-field">
      <p data-subtotal-target = "initialVal", data-amenity-booking-target = "initialVal" hidden> <%= presenter.selected_rate_in_number %></p>
      <p data-subtotal-target = "unitType" hidden> <%= presenter.period %></p>
      <div class="flex-column-field">
        <label><%= t(".subtotal") %></label>
        <span class="subtotal" data-subtotal-target="subtotal", data-amenity-booking-target="subtotal" ></span>
      </div>
    </div>
    <div class="flex-row-field remove-amenity-field">
      <%= button_tag type: "button", class: "cross-button" do %>
        <%= image_tag "x-circle.svg", data: { action: "click->amenity-booking#removeAmenityBooking"} %>
      <% end %>
    </div>
  </div>
<% end %>
