<div class="amenity">
  <%= radio_button_tag "#{form.object_name}[amenity_id]", presenter.amenity_id, form.object.checked, id: presenter.checkbox_id %>
  <label for="<%= presenter.checkbox_id %>">
    <%= form.hidden_field :amenity_visit_id %>
    <div class="amenity-padding">
      <img src="<%= presenter.image_url %>"/>
      <div class="content" data-controller="toggle">
        <h3><%= presenter.title %></h3>
        <p class="description"><%= truncate(presenter.description, length: 150) %></p>
        <div class="comment-and-rates" data-toggle-target="toggle" data-toggle-class="showing">
          <p><%= presenter.comment %></p>
          <% presenter.rate_descriptions.each do |rate| %>
            <p><%= rate %></p>
          <% end %>
        </div>
        <%= link_to t(".more_info"), "#", "data-action": "click->toggle#toggle", "data-toggle-class": "showing", "data-toggle-target": "toggle", class: "showing" %>
        <%= link_to t(".less_info"), "#", "data-action": "click->toggle#toggle", "data-toggle-class": "showing", "data-toggle-target": "toggle" %>
      </div>
      <div class="rates">
        <p class="bold" ><%= presenter.selected_rate_description %></p>
      </div>
    </div>
    <div class="bookings">
      <div class="booking">
        <div class="booking-card">
          <div class="flex-column-field">
            <div class="flex-row-field">
              <%= form.label :arrives_on %>
              <%= form.label :departs_on %>
            </div>
            <div class="flex-row-field">
              <%= form.date_field :arrives_on, value: form.object.arrives_on, "data-copy-first-target": "destination" %>
              <%= form.date_field :departs_on, value: form.object.departs_on, "data-copy-second-target": "destination" %>
            </div>
          </div>
          <div class="flex-column-field">
            <%= form.label :arrives_at, t(".time_of_use") %>
            <div class="flex-row-field">
              <%= form.collection_select(:arrives_at, presenter.time_options, :value, :human, { selected: form.object.arrives_at }) %>
              <%= form.collection_select(:departs_at, presenter.time_options, :value, :human, { selected: form.object.departs_at }) %>
            </div>
          </div>
          <div data-controller="counter">
            <div class="flex-row-field">
              <div class="flex-column-filed">
                <%= form.label :number_of_people, t(".number_of_people") %>
                <div class="flex-row-field">
                  <%= button_tag type: "button" do %>
                    <%= image_tag "icon-minus.svg", data: { action: "click->counter#decrement" } %>
                  <% end %>
                  <%= form.text_field :number_of_people, value: 1, data: { "counter-target": "output" }, class:"counter" %>
                  <%= button_tag type: "button" do %>
                    <%= image_tag "icon-plus.svg", data: { action: "click->counter#increment" } %>
                  <% end %>
                </div>
              </div>
              <div class="field">
                <label><%= t(".subtotal") %></label>
                <span><%= presenter.selected_rate_in_number %></span>
              </div>
              <div class="cross-icon">
                <%= button_tag type: "button" do %>
                  <%= image_tag "cross.svg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="add-booking-card">
          <%= image_tag "icon-plus.svg" %> <span><%= t(".add_another") %></span>
        </div>
      </div>
    </div>
  </label>
</div>
