<section class="content">
  <%= render partial: 'manager/reserve_info/header' %>
  <div>
    <section class="reserve-info-menu">
      <%= render partial: 'manager/reserve_info/menu' %>
    </section>
    <section class="reserve-info">
      <header><%= t(".permits") %></header>
      <section class="reserve-info-subsection">
        <header><%= t(".about_permits") %></header>
        <p><%= t(".about_permits_paragraph") %></p>
        <%= render partial: "reserve_permits", locals: { reserve_permits: @presenter.reserve_permits } %>
      </section>
    </section>
  </div>
</section>
