<div>
  <div class="image">
    <%= image_tag personnel_card.image, alt: t(".alt_text.personnel_picture") %>
  </div>
  <h2><%= personnel_card.name %></h2>
  <span><%= personnel_card.title %></span>
  <span><%= personnel_card.phone %></span>
  <span><%= personnel_card.email %></span>
</div>
