<div class="split-background">
  <div class="reserves-list container">
    <section class="left-side">
      <div id="left-reserve-intro" class="hide-765">
        <h1><%= t(".direction_title") %></h1>
        <p>
          <%= t(".direction_body") %>
        </p>
      </div>
      <turbo-frame id="reserve-table">
        <section class="reserve-cards">
          <%= render partial: "reserve", collection: @presenter.reserves %>
        </section>
      </turbo-frame>
    </section>
    <section class="right-side">
      <div class="reserve-search">
        <div id="right-reserve-intro" class="load-hide show-765">
          <h1><%= t(".direction_title") %></h1>
          <p>
            <%= t(".direction_body") %>
          </p>
        </div>
        <section class="search">
          <label>
            <h2><%= t(".search") %></h2>
            <form method="get" data-turbo-action="advance">
              <div class="input-with-buttons">
                <input type="text" name="search_filter" value="<%= @presenter.search_filter %>" placeholder="Search" id="reserve-search" />
                <%= image_tag "icon-x-circle.svg", alt: t(".clear_icon"), onclick: "getElementById('reserve-search').value=''", class: "cross-icon" %>
              </div>
            </form>
          </label>
        </section>
        <div class="search-options">
          <section class="tag-badges">
            <h2><%= t(".tags") %></h2>
            <%= render partial: "tag", collection: @presenter.tags %>
          </section>
          <section class="amenity-badges">
            <h2><%= t(".amenity_tags") %></h2>
            <%= render partial: "amenities_tag", collection: @presenter.amenities_tags %>
          </section>
          <a href="#" class="icon-refresh-a"><%= t(".clear_selection_and_start_over") %></a>
        </div>
        <button class="button-clear load-hide show-765"><%= t(".less_options") %></button>
      </div>
    </section>
  </div>
</div>
