<div class="split-background">
  <div class="reserves-list container">
    <section class="left-side">
      <div id="left-reserve-intro" class="hide-765">
        <h1><%= t(".direction_title") %></h1>
        <p>
          <%= t(".direction_body") %>
        </p>
      </div>
      <%= turbo_frame_tag "reserves" do %>
        <section class="reserve-cards">
          <%= render partial: "reserve", collection: @presenter.reserves %>
        </section>
      <% end %>
    </section>
    <section class="right-side" data-controller= "reserve" >
      <%= form_with url: reserves_path, method: :get, data: { "turbo-frame": "reserves", "reserve-target": "form" } do %>
        <div class="reserve-search">
          <div id="right-reserve-intro" class="load-hide show-765">
            <h1><%= t(".direction_title") %></h1>
            <p>
              <%= t(".direction_body") %>
            </p>
          </div>
          <section class="search">
            <label>
              <h2><%= t(".search") %></h2>
              <div class="input-with-buttons">
                <input type="text" name="search_filter" value="<%= @presenter.search_filter %>" placeholder="Search" id="reserve-search" />
                <%= image_tag "icon-x-circle.svg", alt: t(".clear_icon"), onclick: "getElementById('reserve-search').value=''", class: "cross-icon" %>
              </div>
            </label>
          </section>
          <div class="search-options">
            <section class="tag-badges">
              <h2><%= t(".tags") %></h2>
              <% @presenter.reserve_tags.each do |tag_type, tag_names| %>
                <%= render partial: "tag_types", locals: { tag_type: tag_type, tag_names: tag_names } %>
              <% end %>
            </section>
            <div class="submit-btn" data-action= "click->reserve#reset" >
              <%= image_tag "icon-refresh-a.svg", alt: t("alt.reload_icon"), height: 16 %>
              <span><%= t(".clear_selection_and_start_over") %></span>
            </div>
          </div>
          <button class="button-clear load-hide show-765"><%= t(".less_options") %></button>
        </div>
      <% end %>
    </section>
  </div>
</div>
