<div class="split-background">
  <div class="reserves-list container" data-controller="tab-bar">
    <section class="reserve-name">
      <h1><%= @presenter.reserve_name %></h1>
      <span><%= @presenter.reserve_managing_campus.name %></span>
    </section>
    <section class="left-side">
      <section class="reserve-message"><%= @presenter.reserve_alert_message %></section>
      <section class="reserve-description"><%= @presenter.reserve_description %></section>
      <div>
        <ul class="navbar-nav" class="tab-bar">
          <li>
            <%= link_to t(".link.amenities_and_rates"),
              reserve_amenities_path(@presenter.reserve_id),
              {
                id: "amenities",
                class: "active", data: { action: "click->tab-bar#changeTab", "tab-bar-target": "tab", "turbo-frame": "details" }
              }
            %>
          </li>
          <li>
            <%= link_to t(".link.calendar"),
              reserve_calendar_path(@presenter.reserve_id, partial_name: "calendar", start_date: Date.today),
              {
                id: "calendar",
                data: { action: "click->tab-bar#changeTab", "tab-bar-target": "tab", "turbo-frame": "details" }
              }
            %>
          </li>
          <li>
            <%= link_to t(".link.waivers"),
              reserve_waivers_path(@presenter.reserve_id),
              {
                id: "waivers",
                data: { action: "click->tab-bar#changeTab", "tab-bar-target": "tab", "turbo-frame": "details" }
              }
            %>
          </li>
          <li>
            <%= link_to t(".link.rules_and_regulations"),
              reserve_rules_and_regulations_path(@presenter.reserve_id),
              {
                id: "rules_and_regulations",
                data: { action: "click->tab-bar#changeTab", "tab-bar-target": "tab", "turbo-frame": "details" }
              }
            %>
          </li>
          <li>
            <%= link_to t(".link.more_information"),
              reserve_more_information_index_path(@presenter.reserve_id),
              {
                id: "more_information",
                data: { action: "click->tab-bar#changeTab", "tab-bar-target": "tab", "turbo-frame": "details" }
              }
            %>
          </li>
        </ul>
        <%= turbo_frame_tag "details", src: reserve_amenities_path(@presenter.reserve_id), target: "_top" %>
      </div>
    </section>
    <section class="right-side">
      <button class="button-main"><%= t(".schedule_a_visit") %></button>
      <section class="reserve-info">
        <%= image_tag @presenter.logo_src, alt: t(".alt_text.reserve_logo"), height: 100 %>
        <div>
          <h2><%= @presenter.reserve_name %></h2>
          <span><%= @presenter.reserve_address_line_1 %></span>
          <span><%= @presenter.reserve_address_line_2 %></span>
          <span><%= @presenter.reserve_address_line_3 %></span>
          <span><%= @presenter.reserve_country %></span>
        </div>
        <%= link_to(
              t(".get_directions"),
              reserve_more_information_index_path(@presenter.reserve_id),
              {
                class: "icon-map",
                data: { action: "click->tab-bar#changeTab", "tab-bar-id": "more_information", turbo_frame: "details" }
              }
            )
        %>
        <a class="icon-external-link" href="#"><%= t(".visit_reserve_website") %></a>
        <div>
          <h2><%= t(".mailing_address") %></h2>
          <span>Mailing Address</span>
          <span>Mailing City</span>
        </div>
      </section>
      <section class="reserve-personnel">
        <hr />
        <%= render partial: "personnel_card", collection: @presenter.reserve_personnel %>
      </section>
    </section>
  </div>
</div>
