<turbo-frame id="personnel-table">
  <table class="personnel-table">
    <thead>
      <tr><th colspan="8"><%= t(".email_settings_for_reserve_personnel") %></th><th></th></tr>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".receive_new_visit") %></th>
        <th><%= t(".receive_incomplete_visit") %></th>
        <th><%= t(".receive_visit_update") %></th>
        <th><%= t(".receive_approval_only") %></th>
        <th><%= t(".receive_iacuc") %></th>
        <th><%= t(".receive_drone") %></th>
        <th><%= t(".receive_scuba") %></th>
        <th><%= link_to t("new"), new_manager_reserve_reserve_info_staff_and_notification_path(current_reserve), data: { "turbo-frame": "modal-content" } %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "personnel", collection: personnels %>
    </tbody>
  </table>
</turbo-frame>
