<div
  class="field small orcid"
  data-controller="orcid"
  data-orcid-auth-path-value="<%= user_orcid_omniauth_authorize_path %>"
  data-orcid-origin-value="<%= request.fullpath %>"
  data-orcid-record-persisted-value="<%= f.object.persisted? %>"
>
  <%= f.label :orcid, orcid_label %>
  <%= f.hidden_field :orcid, data: { orcid_target: "input" } %>
  <%= f.hidden_field :orcid_authenticated, data: { orcid_target: "authenticated" } %>

  <% if f.object.orcid.present? %>
    <% orcid_uri = orcid_display_uri(f.object.orcid) %>
    <% if orcid_uri.present? %>
      <% if f.object.orcid_authenticated? %>
        <p class="orcid-authenticated">
          <%= image_tag("orcid-icon.svg", alt: "ORCID iD") %>
          <%= link_to orcid_uri, orcid_uri, target: "_blank", rel: "noopener" %>
        </p>
      <% else %>
        <p class="orcid-authenticated orcid-unauthenticated">
          <%= image_tag("orcid-icon-unauth.svg", alt: "ORCID iD unauthenticated") %>
          <%= link_to orcid_uri, orcid_uri, target: "_blank", rel: "noopener" %>
          <span>(unauthenticated)</span>
        </p>
        <%= button_tag type: "button",
          data: { action: "orcid#startAuth" },
          class: "button-inline button-clear orcid-auth-button" do %>
          <%= image_tag("orcid-icon.svg", alt: "") %>
          <span><%= connect_orcid_text %></span>
        <% end %>
      <% end %>

      <p class="helper-text orcid-unsaved" data-orcid-target="unsaved" hidden>Unsaved</p>
    <% end %>
  <% else %>
    <%= button_tag type: "button",
      data: { action: "orcid#startAuth" },
      class: "button-inline button-clear orcid-auth-button" do %>
      <%= image_tag("orcid-icon.svg", alt: "") %>
      <span><%= connect_orcid_text %></span>
    <% end %>
  <% end %>

  <p class="helper-text">
    <%= link_to orcid_link_text, orcid_url, target: "_blank" %>
  </p>
</div>
