<% content_for(:title) { t(".header.title") } %>

<div class="content">
  <header>
    <h1><%= t(".header.title") %></h1>
    <p><%= t(".header.description") %></p>
  </header>

  <%= form_with model: @presenter.form_user, url: user_registration_path, data: { turbo: false } do |f| %>
    <div class="section-container">
      <section class="basics">
        <h2><%= t(".titles.basics") %></h2>

        <div class="field large">
          <%= f.label :first_name, t(".labels.first_name") %>
          <%= f.text_field :first_name %>
        </div>
        <div class="field large">
          <%= f.label :last_name, t(".labels.last_name") %>
          <%= f.text_field :last_name %>
        </div>
        <div class="field medium">
          <%= f.label :gender_identity, t(".labels.gender_identity") %>
          <%= f.select :gender_identity, @presenter.gender_identity_options,
            selected: f.object.gender_identity || @presenter.default_gender_identity_option
          %>
        </div>
        <div class="inline">
          <div class="field small">
            <%= f.label :phone_number, t(".labels.phone_number") %>
            <%= f.telephone_field :phone_number, placeholder: @presenter.phone_number_placeholder %>
          </div>
          <div class="field small">
            <%= f.label :secondary_phone_number, t(".labels.secondary_phone_number") %>
            <%= f.telephone_field :secondary_phone_number, placeholder: @presenter.phone_number_placeholder %>
          </div>
        </div>
        <div class="field medium email">
          <%= f.label :email, t(".labels.email_address") %>
          <%= f.email_field :email %>
        </div>
        <div class="field medium">
          <%= f.label :backup_email_address, t(".labels.backup_email_address") %>
          <%= f.email_field :backup_email_address %>
        </div>
        <div class="field medium">
          <%= f.label :password, t(".labels.password") %>
          <%= f.password_field :password %>
        </div>
        <div class="field medium">
          <%= f.label :password_confirmation, t(".labels.password_confirmation") %>
          <%= f.password_field :password_confirmation %>
        </div>
      </section>
    </div>
    <div class="section-container blue-bg">
      <section class="role" data-controller="copy">
        <div class="field">
          <h2><%= t(".titles.role") %></h2>
          <div class="radio-buttons role">
            <% @presenter.role_options.each do |(label, value)| %>
              <span class="radio-button">
                <%= f.radio_button :role, value %>
                <%= f.label :role, label, value: value %>
              </span>
            <% end %>
          </div>
        </div>
        <div
          class="field small orcid"
          data-controller="orcid"
          data-orcid-auth-path-value="<%= user_orcid_omniauth_authorize_path %>"
          data-orcid-origin-value="<%= request.fullpath %>"
        >
          <%= f.label :orcid, t(".labels.orcid") %>
          <%= f.hidden_field :orcid, data: { orcid_target: "input" } %>
          <%= f.hidden_field :orcid_authenticated, data: { orcid_target: "authenticated" } %>

          <% if f.object.orcid.present? %>
            <% orcid_uri = "https://orcid.org/#{f.object.orcid}" %>
            <% if f.object.orcid_authenticated? %>
              <p class="orcid-authenticated">
                <%= image_tag("orcid-icon.svg", alt: "ORCID iD") %>
                <%= link_to orcid_uri, orcid_uri, target: "_blank", rel: "noopener" %>
              </p>
            <% else %>
              <p class="orcid-authenticated orcid-unauthenticated">
                <%= image_tag("orcid-icon-unauth.svg", alt: "ORCID iD unauthenticated") %>
                <%= link_to orcid_uri, orcid_uri, target: "_blank", rel: "noopener" %>
                <span>(unauthenticated)</span>
              </p>
              <%= button_tag type: "button",
                data: { action: "orcid#startAuth" },
                class: "button-inline button-clear orcid-auth-button" do %>
                <%= image_tag("orcid-icon.svg", alt: "") %>
                <span><%= t(".links.connect_orcid") %></span>
              <% end %>
            <% end %>
          <% else %>
            <%= button_tag type: "button",
              data: { action: "orcid#startAuth" },
              class: "button-inline button-clear orcid-auth-button" do %>
              <%= image_tag("orcid-icon.svg", alt: "") %>
              <span><%= t(".links.connect_orcid") %></span>
            <% end %>
          <% end %>

          <p class="helper-text">
            <%= link_to t(".links.orcid"), t(".urls.orcid"), target: "_blank" %>
          </p>
        </div>
        <div
          role="combobox"
          class="field institution-field large"
          data-controller="autocomplete"
          data-autocomplete-url-value="<%= institutions_url %>"
          data-autocomplete-min-length-value="3"
        >
          <%= f.label :institution, t(".labels.institution") %>
          <p class="helper-text">
            <strong><%= t(".helper_text.tip") %></strong>
            <%= t(".helper_text.institution") %>
            <%= link_to t(".links.create_new_instituion"), new_institution_path, remote: true %>
          </p>
          <div class="autocomplete">
            <%= f.text_field :institution,
              data: {
                "autocomplete-target": "input",
              },
              class: "large",
              value: @presenter.institution_field_value,
              placeholder: t(".placeholders.institution")
            %>
            <%= f.hidden_field :institution_id, data: { "autocomplete-target": "hidden" } %>
            <div class="autocomplete-results-container">
              <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
            </div>
          </div>
        </div>
        <div class="field large">
          <%= f.label :advisor, t(".labels.advisor_name") %>
          <%= f.text_field :advisor %>
        </div>
      </section>
    </div>
    <div class="section-container">
      <section class="emergency-contact">
        <div>
          <h2><%= t(".titles.emergency_contact") %></h2>
          <p class="helper-text"><%= t(".helper_text.emergency_contact") %></p>
        </div>
        <div class="inline">
          <div class="field large">
            <%= f.label :emergency_contact_full_name, t(".labels.emergency_contact_full_name") %>
            <%= f.text_field :emergency_contact_full_name %>
          </div>
          <div class="field small">
            <%= f.label :emergency_contact_phone_number, t(".labels.emergency_contact_phone_number") %>
            <%= f.telephone_field :emergency_contact_phone_number, placeholder: @presenter.phone_number_placeholder %>
          </div>
        </div>
      </section>
    </div>
    <div class="section-container">
      <section class="address">
        <section data-controller="followup-content">
          <h2><%= t(".titles.current_address") %></h2>
          <div class="field medium">
            <%= f.label :address_country_id, t(".labels.country") %>
            <%= f.collection_select(
                  :address_country_id, Country.alphabetical_by_name, :id, :name,
                  { selected: f.object.address_country_id || @presenter.default_country_option },
                  { data: { action: "change->followup-content#change" } }
                )
            %>
          </div>
          <div class="field medium">
            <%= f.label :address_line_1, t(".labels.address") %>
            <%= f.text_field :address_line_1 %>
            <%= f.text_field :address_line_2, aria: { label: "Address Line 2" } %>
          </div>
          <div class="field medium">
            <%= f.label :address_city, t(".labels.city") %>
            <%= f.text_field :address_city %>
          </div>
          <div class="inline">
            <div class="field medium">
              <%= f.label :address_state_id, t(".labels.state") %>
              <%= f.collection_select(
                    :address_state_id, @presenter.address_state_options, :id, :name,
                    { include_blank: true },
                    { data: { followup_content_target: "destination", "followup-content-url-value": states_url(country_id: "VALUE") } }
                  )
              %>
            </div>
            <div class="field extra-small">
              <%= f.label :address_postal_code, t(".labels.postal_code") %>
              <%= f.text_field :address_postal_code, placeholder: @presenter.postal_code_placeholder %>
            </div>
          </div>
        </section>

        <section data-controller="followup-content">
          <div class="billing-title">
            <h2><%= t(".titles.billing_address") %></h2>
            <div class="field">
              <%= f.check_box :billing_address_same_as_current, data: { "followup-content-target": "checkbox", action: "change->followup-content#toggle" } %>
              <%= f.label :billing_address_same_as_current, t(".labels.same_as_current") %>
            </div>
          </div>
          <div id="billingAddress" data-followup-content-target="togglable">
            <div class="field medium">
              <%= f.label :billing_address_country_id, t(".labels.country") %>
              <%= f.collection_select(
                    :billing_address_country_id, Country.alphabetical_by_name, :id, :name,
                    { selected: f.object.address_country_id || @presenter.default_country_option },
                    { data: { action: "change->followup-content#change" } }
                  )
              %>
            </div>
            <div class="field medium">
              <%= f.label :billing_address_line_1, t(".labels.address") %>
              <%= f.text_field :billing_address_line_1 %>
              <%= f.text_field :billing_address_line_2, aria: { label: "Billing Address Line 2" } %>
            </div>
            <div class="field medium">
              <%= f.label :billing_address_city, t(".labels.city") %>
              <%= f.text_field :billing_address_city %>
            </div>
            <div class="inline">
              <div class="field medium">
                <%= f.label :billing_address_state_id, t(".labels.state") %>
                <%= f.collection_select(
                      :billing_address_state_id, @presenter.billing_address_state_options, :id, :name,
                      { include_blank: true },
                      { data: { followup_content_target: "destination", "followup-content-url-value": states_url(country_id: "VALUE") } }
                    )
                %>
              </div>
              <div class="field extra-small">
                <%= f.label :billing_address_postal_code, t(".labels.postal_code") %>
                <%= f.text_field :billing_address_postal_code, placeholder: @presenter.postal_code_placeholder, class: "form-field-extra-small" %>
              </div>
            </div>
          </div>
          <div class="billing-contact">
            <div class="field medium">
              <%= f.label :billing_person_full_name, t(".labels.billing_name") %>
              <%= f.text_field :billing_person_full_name %>
            </div>
            <div class="field medium">
              <%= f.label :billing_person_email, t(".labels.billing_email") %>
              <%= f.email_field :billing_person_email %>
            </div>
            <div class="field medium">
              <%= f.label :billing_person_phone_number, t(".labels.billing_phone_number") %>
              <%= f.telephone_field :billing_person_phone_number, placeholder: @presenter.phone_number_placeholder, class: "form-field-small" %>
            </div>
          </div>
        </section>
      </section>
    </div>
    <div class="section-container">
      <section class="terms">
        <div class="field">
          <%= f.check_box :terms_accepted_at, {checked: @presenter.form.terms_accepted?} %>
          <%= f.label :terms_accepted_at,
            t(".labels.agree_to_terms_of_use",
            link: link_to(t(".links.terms_of_use"), t(".urls.ucnrs_terms_of_use"), target: "_blank")).html_safe
          %>
        </div>
        <p class="helper-text">
          <%= t(".helper_text.receive_nrs_updates") %>
          <%= link_to t(".links.ucnrs_newsletter"), t(".urls.ucnrs_newsletter"), target: "_blank" %>
        </p>
      </section>
    </div>
    <div class="section-container blue-bg">
      <section class="actions blue-bg">
        <div class="actions">
          <span><%= image_tag("arrow-left.svg", alt: "left facing arrow") %> <%= link_to t(".links.go_back"), root_path %></span>
          <%= f.button t(".links.create_account", icon: image_tag("arrow-right.svg", alt: "right facing arrow")).html_safe, type: :submit, class: "active" %>
        </div>
      </section>
    </div>
  <% end %>
</div>
