<tr class="amenity_visit <%= amenity_visit.disable %>">
  <td>
    <%= form_with model: amenity_visit, url: manager_reserve_visit_amenity_visits_path, method: :put do |f| %>
      <%= f.hidden_field :id %>
      <label class="switch">
        <%= f.check_box :invoice_now, disabled: amenity_visit.invoice_status.eql?("INVOICED"),
          onchange: "this.form.requestSubmit()", class: "hide"
        %>
        <span class="slider round">
          <div class="margin-top">
            <span class="opt-yes"><%= t(".yes_opt") %></span>
            <span class="opt-no"><%= t(".no_opt") %></span>
          </div>
        </span>
      </label>
    <% end %>
  </td>
  <td>
    <span class="<%= amenity_visit.status_class %>">
      <span class="<%= 'margin-left' if amenity_visit.status_class.eql?("invoiced amenity-status") %>">
        <%= amenity_visit.invoice_status %>
      </span>
    </span>
  </td>
  <td><%= amenity_visit.amenity_title %></td>
  <td><%= amenity_visit.total_days %> <%= amenity_visit.period %></td>
  <td><%= amenity_visit.number_of_people %> <%= amenity_visit.unit %></td>
  <td><%= amenity_visit.rate_in_dollar %> <%= amenity_visit.per_sentence %></td>
  <td><%= amenity_visit.cost_in_dollar %></td>
</tr>
