<tr class="team-membership  <%= invoice_recipient.inactive_class %>">
  <td><%= invoice_recipient.user_full_name %></td>
  <td><%= invoice_recipient.institution_name %></td>
  <td><%= invoice_recipient.email %></td>
  <td><%= invoice_recipient.project_role %></td>
</tr>
