<section class="invoice-bill-to subsection">
  <header>
    <h3 class="main-header"><%= t(".bill_to") %></h3>
  </header>
  <table id="invoice-bill-to-table">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".institution") %></th>
        <th><%= t(".email") %></th>
        <th><%= t(".project_role") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "invoice_recipient", collection: recipients %>
    </tbody>
  </table>
</section>
