<% if presenter.projects.size > 0 %>
  <select id="visit_project_id" name="visit[project_id]" data-action="turbo-content#change">
    <option value=""><%= t("sitewide.please_select_one") %></option>
    <% presenter.projects.each do |project| %>
      <option value="<%= project.id %>" <%= presenter.selected_project(project) %> ><%= t("universal.project.project_types.#{project.project_type}") %> - <%= project.title %></option>
    <% end %>
  </select>
<% else %>
  <div class="initial-info">
    <p><%= t(".no_project") %></p>
  </div>
<% end %>

