<footer>
  <div>
    rams logo
    <div>
      <%= link_to "Facebook", "https://www.facebook.com/ucnrs/" %>
      <%= link_to "Instagram", "https://www.instagram.com/explore/tags/ucnrs/" %>
      <%= link_to "YouTube", "https://www.youtube.com/user/UCNRS" %>
    </div>
    <div>
      <%= link_to "UCNRS.ORG", "https://ucnrs.org" %>
      |
      <%= link_to I18n.t(".footer.link.sign_up_newsletter"), "https://ucnrs.org/information/nrs-newsletter-archives/" %>
    </div>
  </div>
  <div>
    &copy; 2021 UCNRS. All rights reserved.
    |
    <%= link_to I18n.t(".footer.link.terms_of_use"), "https://ucnrs.org/ucnrs-websites-terms-of-use/" %>
    |
    <%= link_to I18n.t(".footer.link.privacy_policy"), "https://ucnrs.org/rams-privacy-statement/" %>
  </div>
</footer>
