<nav role="navigation">
  <div class="logo">
    <span>RAMS</span>
    <span>Natural Reserve System</span>
  </div>
  <% if @user.present? %>
    <div>
      <ul>
        <li> <%= link_to I18n.t(".navbar.link.visits"), "#" %> </li>
        <li> <%= link_to I18n.t(".navbar.link.reserves"), "#" %> </li>
        <li> <%= link_to I18n.t(".navbar.link.my_projects"), "#" %> </li>
        <li> <%= link_to I18n.t(".navbar.link.help"), "#" %> </li>
        <li> <%= link_to I18n.t(".navbar.link.account"), "#" %> </li>
        <li> <%= link_to I18n.t(".navbar.link.schedule_visit"), "#" %></li>
        <li> <%= link_to I18n.t(".navbar.link.sign_out"), destroy_user_session_url %> </li>
      </ul>
    </div>
  <% end %>
</nav>
