<tr class="invoice <%= invoice.status %>">
  <td>
    <span class="<%= invoice.status %> pill">
      <%= invoice.status %>
    </span>
  </td>
  <td><%= tag.strong invoice.invoice_id %></td>
  <td><%= invoice.invoiced_on %></td>
  <td><%= invoice.reserve_name %></td>
  <td><%= invoice.amount %></td>
  <td>
    <%= link_to "#", data: { turbo_frame: "_top" } do %>
      <%= image_tag "arrow-right-circle.svg", alt: t("alt.right_facing_arrow"), height: "20", width: "20" %>
    <% end %>
  </td>
</tr>
