<tr class="invoice <%= invoice.status %>">
  <td>
    <span class="<%= invoice.status %> pill">
      <%= invoice.status %>
    </span>
  </td>
  <td><%= tag.strong invoice.invoice_id %></td>
  <td><%= invoice.invoiced_on %></td>
  <td><%= invoice.reserve_name %></td>
  <td><%= invoice.amount %></td>
  <td>
    <%= render partial: "link", locals: { 
      presenter: presenter, 
      reserve: invoice.reserve, 
      link_path: manager_reserve_visit_invoice_path(invoice.reserve, invoice.visit_id, invoice.id), 
    } %>
  </td>
</tr>
