<tr id="<%= dom_id visit %>" class="visit <%= visit.status_class %>">
  <td>
    <span class="<%= visit.status_class %> pill">
      <%= visit.status %>
    </span>
  </td>
  <td class="date-range"><%= visit.requested_date_range %></td>
  <td>
    <%= link_to_if current_user.admin_or_manage_reserve?(visit.reserve), 
      truncate(visit.purpose_of_visit, length: 50), 
      manager_reserve_visit_path(current_reserve, visit.id) , 
      data: { turbo_frame: "_top" } do 
    %>
      <%= truncate(visit.purpose_of_visit, length: 50) %>
    <% end %>
  </td>
  <td><%= visit.requested_reserve_name %></td>
  <td><%= visit.submitted_at %></td>
  <td>
    <%= render partial: "link", 
      locals: { 
        presenter: presenter, 
        reserve: visit.reserve, 
        link_path: manager_reserve_visit_path(current_reserve, visit.id) 
      } 
    %>
  </td>
</tr>
