<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section class="project-form add-user-form">
  <header class="form-container">
    <h1><%= t(".title") %></h1>
  </header>
  <section class="form-subsection background-1">
    <div class="form-container">
      <% if @presenter.able_to_edit? %>
        <%= render partial: "shared/projects/team_memberships/form", locals: { presenter: @presenter } %>
      <% end %>
    </div>
  </section>
  <div class="form-subsection form-container">
    <%= render partial: "shared/projects/team_memberships/team_member_table", locals: { presenter: @presenter } %>
  </div>
</section>

<section class="controls">
  <%= link_to edit_project_path(@presenter.project) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t(".alt.left_facing_arrow")  %>
    <%= t(".back") %>
  <% end %>
  <%= render @presenter.continue_button %>
</section>
