<turbo-frame id="add-visitor">
  <%= render partial: 'shared/visits/user_visits/links', locals: { presenter: presenter } %>
  <section id="add-guest" class="add-visitor-input">
    <%= form_with model: @presenter.form, url: @presenter.user_visit_form_path do |form|%>
      <%= form.hidden_field :visit_id, value: @presenter.visit_id %>
      <div class="flex-row">
        <div class="field autocomplete visitor-name" data-controller="autocomplete" data-autocomplete-url-value="<%= users_path %>">
          <%= form.label :guest_name, t(".guest_name") %>
          <%= form.text_field :guest_name, placeholder: t(".search_by_name"), value: presenter.guest_name, data: { "autocomplete-target": "input" } %>
          <%= form.hidden_field :user_id, data: { "autocomplete-target": "hidden" } %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <button><%= t(".add_visitor") %></button>
      </div>
      <span>
        <% if @presenter.can_add_project_user? %>
          <%= t(".cannot_find_them") %>
          <%= link_to t(".new_team_member"), project_team_memberships_path(presenter.visit.project.id), target: "_blank" %>
        <% end %>
        <strong><%= @presenter.click_add_visitor_text %></strong>
      </span>
    <% end %>
  </section>
</turbo-frame>
