<% team_members.each do |team_membership| %>
  <tr class="user-visit <%= presenter.team_member_class(team_membership.user) %>">
    <td><%= team_membership.user_full_name %></td>
    <td><%= team_membership.institution_name %></td>
    <td><%= team_membership.project_role %></td>
    <td><%= link_to presenter.add_visitor_text(team_membership.user), @presenter.user_visit_form_path(team_membership), method: :get,
              params: @presenter.add_team_member_params(team_membership), class: "add-visitor-btn", data: { "turbo-frame": "modal-content" } %></td>
  </tr>
<% end %>
