<tr class="amenity_visit">
  <td><%= amenity_visit.amenity_title %></td>
  <td><%= amenity_visit.rate_in_dollar %> <%= amenity_visit.per_sentence %></td>
  <td><%= amenity_visit.requested_short_date_range(format: "date_range.short_date") %></td>
  <td><%= amenity_visit.number_of_people %></td>
  <td><%= amenity_visit.cost_in_dollar %></td>
</tr>
