<header class="<%= presenter.status %>">
  <h2 class="timeframe"><%= presenter.timeframe %></h2>
  <div class="information">
    <span><%= presenter.visit_reserve_name %></span>
    <span><%= presenter.project_type %></span>
    <span><%= t('.visitor').pluralize presenter.visitor_count %>: <%= presenter.visitor_count %></span>
    <span><%= t('.amenity').pluralize presenter.amenity_count %>: <%= presenter.amenity_count %></span>
  </div>
</header>
<section class="visit-summary">
  <table class="visit-summary-table">
    <tr>
      <td><%= t(".purpose") %></td>
      <td><%= presenter.purpose_of_visit %></td>
    </tr>
    <tr>
      <td><%= t(".project") %></td>
      <td><%= link_to presenter.project_title, project_path(presenter.project_id) %></td>
    </tr>
  </table>
</section>
<section class="visit-waivers">
  <h2 class="title"><%= t(".waivers") %></h2>
  <div class="reserve-waivers">
    <%= render partial: "reserves/waivers/waiver", collection: presenter.reserve_waivers %>
  </div>
</section>
<section>
  <h2 class="title"><%= t(".rules") %></h2>
  <%= presenter.visit_reserve_rules_and_regulations %>
</section>
<section>
  <h2 class="title"><%= t(".directions") %></h2>
  <%= presenter.visit_reserve_directions %>
</section>
<%= render partial: "shared/visits/content", locals: { presenter: presenter } %>
