<header>
  <div class="subheader">
    <span><%= presenter.applicant_name %></span>
    <span><%= t(".request_submitted") %>: <%= presenter.submitted_at %></span>
    <span><%= link_to t(".edit_visit"), edit_visit_path(presenter.id), class: "edit-btn" if presenter.edit_button? %></span>
  </div>
</header>
<section class="visit-summary">
  <table class="visit-summary-table">
    <tr>
      <td><%= t(".reserve") %></td>
      <td><%= presenter.visit_reserve_name %></td>
    </tr>
    <tr>
      <td><%= t(".arrival_and_departure") %></td>
      <td><%= presenter.timeframe %></td>
    </tr>
    <tr>
      <td><%= t(".purpose") %></td>
      <td><%= presenter.purpose_of_visit %></td>
    </tr>
    <tr>
      <td><%= t(".project") %></td>
      <td><%= link_to presenter.project_title, project_path(presenter.project_id) %></td>
    </tr>
  </table>
</section>
<%= render partial: "shared/visits/content", locals: { presenter: presenter } %>
