<header class="<%= presenter.status %>">
  <h2 class="timeframe"><%= presenter.timeframe %></h2>
  <div class="information">
    <span><%= presenter.visit_reserve_name %></span>
    <span><%= presenter.project_type %></span>
    <span><%= t('.visitor').pluralize presenter.visitor_count %>: <%= presenter.visitor_count %></span>
    <span><%= t('.amenity').pluralize presenter.amenity_count %>: <%= presenter.amenity_count %></span>
  </div>
</header>
<section class="visit-summary">
  <table class="visit-summary-table">
    <tr>
      <td><%= t(".purpose") %></td>
      <td><%= presenter.purpose_of_visit %></td>
    </tr>
    <tr>
      <td><%= t(".project") %></td>
      <td><%= link_to presenter.project_title, project_path(presenter.project_id) %></td>
    </tr>
  </table>
</section>
<section class="visit-waivers">
  <h2 class="title"><%= t(".waivers") %></h2>
  <div class="reserve-waivers">
    <%= render partial: "reserves/waivers/waiver", collection: presenter.reserve_waivers %>
  </div>
</section>
<section>
  <h2 class="title"><%= t(".rules") %></h2>
  <p class="description"><%= simple_format presenter.visit_reserve_rules %></p>
  <%= link_to t(".link"), presenter.visit_reserve_rules_url.to_s %>
</section>
<section>
  <h2 class="title"><%= t(".map") %></h2>
</section>
<section class="visit-reserve_question">
  <h2 class="main-header"><%= t(".reserve_questions") %></h2>
  <div id="reserve_question-summary-list">
    <% presenter.reserve_answers.each do |reserve_name, reserve_answers| %>
      <div class="answers-list">
        <% reserve_answers.each do |reserve_answer| %>
          <div class="question-answer">
            <p class="question"><%= reserve_answer.reserve_question_question %></p>
            <p class="answer"><strong><%= reserve_answer.answer %></strong></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<%= render partial: "shared/visits/content", locals: { presenter: presenter } %>
