<section>
  <fieldset data-controller="value-projection" data-value-projection-projected-value="<%= form.object.project_type %>">
    <legend><%= t(".titles.purpose") %></legend>

    <fieldset>
      <% @page.project_type_options.each do |value|%>
        <%= form.label :project_type, for: "project-type-#{value}" do %>
          <%= form.radio_button :project_type, value, id: "project-type-#{value}", data: { action: "click->value-projection#change" }, checked: form.object.project_type == value %>
          <span><%= t(".project_type_options.labels.#{value}") %></span>
          <span><%= t(".project_type_options.explanation.#{value}") %></span>
        <% end %>
      <% end %>
    </fieldset>

    <div class="field project_select">
      <%= form.label :project, t(".labels.project") %>
      <%= form.collection_select(:project_id, @page.project_options, :id, :ProjectTitle, { selected: form.object.project_id }) %>
      <%= link_to t(".links.create_a_new_project"), "/projects/new" %>
    </div>

    <div class="field public_use_select">
      <%= form.label :public_use_category, t(".labels.public_use_category") %>
      <%= form.collection_select(
            :public_use_category,
            @page.public_use_categories,
            :to_s,
            @page.translate_in(".public_use_options.labels"),
            { selected: form.object.public_use_category }
          )
      %>
    </div>

    <%= form.label :purpose_of_visit, t(".labels.purpose_of_visit") %>
    <%= form.text_area :purpose_of_visit %>
  </fieldset>

  <span data-controller="followup-content">
    <fieldset class="reserve-info">
      <legend><%= t(".titles.reserve") %> <%= link_to t(".links.browse_reserves"), "#" %></legend>

      <div class="field">
        <%= form.label :reserve_id, t(".labels.reserve") %>
        <%= form.collection_select(:reserve_id, @page.reserve_options, :id, :pulldown_name, {}, { data: { action: "change-> followup-content#change" } }) %>
      </div>

      <div class="date-range-select">
        <div class="field">
          <%= form.label :start_date, t(".labels.arrival") %>
          <div class="date-time-select" data-controller="date-time-select">
            <%= image_tag "calendar.svg", class: "input-icon", alt: t(".alt_text.calendar") %>
            <%= form.date_field(:start_date, value: @page.start_date) %>
            <%= form.collection_select(:start_time, @page.time_options, :value, :human, { selected: @page.start_time }) %>
          </div>
        </div>

        <span class="separator"></span>

        <div class="field">
          <%= form.label :end_date, t(".labels.departure") %>
          <div class="date-time-select" data-controller="date-time-select">
            <%= image_tag "calendar.svg", class: "input-icon", alt: t(".alt_text.calendar") %>
            <%= form.date_field(:end_date, value: @page.end_date) %>
            <%= form.collection_select(:end_time, @page.time_options, :value, :human, { selected: @page.end_time }) %>
          </div>
        </div>
      </div>

      <div class="flex-break"></div>

      <div data-followup-content-target="destination" data-followup-content-url-value="<%= visits_reserve_input_url("VALUE") %>" class="reserve-specific-fields">
        <%= render partial: "visits/reserve_inputs/fields", locals: { form_values: @page.form, page: @page } %>
      </div>
    </fieldset>

    <fieldset class="amenities">
      <legend><%= t(".titles.amenities") %><span><%= t(".titles.amenities_subtitle") %></span></legend>
      <section class="amenity-options" data-followup-content-target="destination" data-followup-content-url-value="<%= visits_amenities_url(reserve_id: "VALUE") %>">
        <%= render partial: "visits/amenities/amenity", collection: @page.amenities, locals: { page: @page }%>
      </section>
    </fieldset>
  </span>

  <fieldset>
    <%= link_to  "#" do %>
      <%= image_tag "arrow-left.svg", height: "24px", width: "24px", alt: t(".alt_text.left_arrow") %>
      <%= t(".links.go_back") %>
    <% end %>
    <%= form.submit(t(".labels.next_page.visitors")) %>
  </fieldset>
</section>
