<header class="<%= presenter.status %>">
  <%= image_tag 'icon-check-circle.svg', width: "30px", height: "30px", alt: t("alt.check_circle") %>
  <h2 class="main-header"><%= t(".sidebar_title") %></h2>
  <p><%= t(".sidebar_next_steps") %></p>
</header>
<span><%= link_to 'export to calendar', "#", class: "button button-clear" %></span>
<section class="reserve-info">
  <hr />
  <%= image_tag @presenter.visit_reserve_avatar, alt: t(".alt_text.reserve_logo") %>
  <div>
    <h2><%= @presenter.visit_reserve_name %></h2>
    <span><%= @presenter.visit_reserve_address_line_1 %></span>
    <span><%= @presenter.visit_reserve_address_line_2 %></span>
    <span><%= @presenter.visit_reserve_address_line_3 %></span>
    <span><%= @presenter.visit_reserve_country %></span>
  </div>
  <%= link_to(
        t(".get_directions"), 
        reserve_more_information_index_path(@presenter.visit_reserve_id),
        {
          class: "icon-map",
        }
      )
  %>
  <a class="icon-external-link" href="#"><%= t(".visit_reserve_website") %></a>
  <div>
    <h2><%= t(".mailing_address") %></h2>
    <span>Mailing Address</span>
    <span>Mailing City</span>
  </div>
</section>
<section class="reserve-personnel">
  <hr />
  <%= render partial: "reserves/personnel_card", collection: @presenter.visit_reserve_personnel %>
</section>
