<header class="<%= presenter.status %>">
  <h2 class="main-header"><%= t(".sidebar_title") %></h2>
</header>
<h3 class="subheader"><%= t(".sidebar_next_steps") %></h3>
<ul class="next-steps-list">
  <li><%= t(".sidebar_next_steps_1") %></li>
  <li><%= t(".sidebar_next_steps_2") %></li>
</ul>
<section class="reserve-info">
  <hr />
  <%= render partial: "visits/reserve_info", locals: { presenter: @presenter } %>
  <hr >
  <%= link_to t(".visit_reserve_website"),
    reserve_path(@presenter.visit_reserve_id),
    class: "icon icon-external-link"
  %>
  <%= link_to t(".contact_us"), "#", class: "icon icon-send" %>
  <%= link_to t(".help_topics"), helps_path, class: "icon icon-question-circle" %>
</section>
<hr />
<section class="reserve-personnel">
  <%= render partial: "reserves/personnel_card", 
    collection: @presenter.visit_reserve_personnel, 
    spacer_template: "shared/hr"
  %>
</section>
