<header class="<%= presenter.status %>">
  <%= image_tag 'icon-check-circle.svg', width: "30px", height: "30px", alt: t("alt.check_circle") %>
  <h2 class="main-header"><%= t(".sidebar_title") %></h2>
  <p><%= t(".sidebar_next_steps") %></p>
</header>
<section class="calendar-option">
  <%= link_to image_tag("Ical_calender_icon.png", height: 42, alt: t("alt.apple_calender_icon")),
    "#", class: "dock-item load-hide"
  %>
  <%= link_to image_tag("google_calendar_icon.png", height: 38, alt: t("alt.google_calendar_icon")),
    "#", class: "dock-item load-hide"
  %>
  <%= link_to image_tag("outlook_calendar_icon.png", height: 42, alt: t("alt.outlook_calendar_icon")),
    "#", class: "dock-item load-hide"
  %>
</section>
<section class="reserve-info">
  <hr />
  <%= render partial: "visits/reserve_info", locals: { presenter: @presenter } %>
  <%= link_to t(".more_information"),
    reserve_path(@presenter.visit_reserve_id, selected_tab: "more_information"),
    class: "icon-map"
  %>
  <%= link_to t(".visit_reserve_website"),
    reserve_path(@presenter.visit_reserve_id),
    class: "icon-external-link"
  %>
</section>
<hr />
<section class="reserve-personnel">
  <%= render partial: "reserves/personnel_card", 
    collection: @presenter.visit_reserve_personnel, 
    spacer_template: "shared/hr"
  %>
</section>
