<header class="<%= presenter.status %>">
  <h2 class="main-header"><%= t(".sidebar_title") %></h2>
</header>
<h3 class="subheader"><%= t(".sidebar_next_steps") %></h3>
<ul class="next-steps-list">
  <li><%= t(".sidebar_next_steps_1") %></li>
  <li><%= t(".sidebar_next_steps_2") %></li>
</ul>
<%= link_to t(".return_to_dashboard"), root_path, class: "button" %>
<div>
  <%= link_to t(".contact_us"), "#", class: "icon icon-send" %>
  <%= link_to t(".help_topics"), "#", class: "icon icon-question-circle" %>
</div>
