<% content_for(:title) { t(".title") } %>
<%= render partial: "visits/steps", locals: { presenter: @presenter } %>

<section class="visits-form">
  <header class="form-container">
    <h1><%= t(".title") %></h1>
  </header>
  <%= form_with model: @presenter.form, url: visits_path, id: "visits-new" do |form| %>
    <%= render partial: "shared/visits/form", locals: { presenter: @presenter, form: form } %>
  <% end %>
</section>

<section class="controls">
  <%= render partial: @presenter.save_partial_path, locals: {form_id: "visits-new"} %>
</section>
