<% content_for(:title) { t(".title") } %>

<%= form_with model: @visit, url: new_visit_path do |f| %>
  <section>
    <div>
      <h2><%= t(".reserve") %></h2>
      <%= link_to t(".browse_reserves"), "#" %>
    </div>
    <div>
      <div>
        <%= f.label :reserve, t(".select_reserve") %>
        <%= f.select :reserve, [], prompt: t(".select_reserve") %>
      </div>
      <div>
        <%= f.label :start_date, t(".arrival") %>
        <div>
          <%= image_tag "calendar.svg", class: "input-icon", alt: t(".calendar_icon_alt") %>
          <%= f.text_field :start_date %>
        </div>
        <%= f.select :start_time, [], prompt: t(".select_time") %>
      </div>
      <div>
        <%= f.label :end_date, t(".departure") %>
        <div>
          <%= image_tag "calendar.svg", class: "input-icon", alt: t(".calendar_icon_alt") %>
          <%= f.text_field :end_date %>
        </div>
        <%= f.select :end_time, [], prompt: t(".select_time") %>
      </div>
    </div>
  </section>
<% end %>
