<turbo-frame id="add-visitor">
  <%= render partial: 'visits/user_visits/links' %>
  <section id="add-group">
    <%= form_with model: @presenter, url: @presenter.user_visit_form_path do |form|%>
      <%= form.hidden_field :user_id, value: 1 %>
      <%= form.hidden_field :visit_id, value: @presenter.visit.id %>
      <div class="flex-row">
        <div class="field number-in-group">
          <%= form.label :count %>
          <%= form.number_field :count, min: 1, required: true %>
        </div>
        <div class="field institution-id">
          <%= form.label :institution_id, t(".institution_name") %>
          <%= form.select :institution_id, options_for_select(@presenter.institution_options, @presenter.default_institution), 
                prompt: t(".select_institution") %>
        </div>
        <div class="field role">
          <%= form.label :role, t(".role") %>
          <%= form.select :role, options_for_select(@presenter.user_role_options), 
                prompt: t(".select_user_role")%>
        </div>
        <div class="add-group">
          <button><%= t(".add_group") %></button>
        </div>
      </div>
    <% end %>
  </section>
</turbo-frame>
