<turbo-frame id="add-visitor">
  <%= render partial: 'visits/user_visits/links' %>
  <section id="add-guest">
    <%= form_with model: @presenter.form, url: @presenter.user_visit_form_path do |form|%>
      <%= form.hidden_field :visit_id, value: @presenter.visit_id %>
      <%= form.hidden_field :count, value: 1 %>
      <div class="flex-row">
        <div class="field autocomplete visitor-name" data-controller="autocomplete" data-autocomplete-url-value="<%= users_path %>">
          <%= form.label :guest_name, t(".guest_name") %>
          <%= form.text_field :guest_name, placeholder: t(".search_by_name"), value: presenter.guest_name, data: { "autocomplete-target": "input" } %>
          <%= form.hidden_field :user_id, data: { "autocomplete-target": "hidden" } %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <button><%=t(".add_visitor") %></button>
      </div>
      <span>
        <%= t(".cannot_find_them") %>
        <%= link_to t(".create_new_user"), "./", data: { "turbo-frame": "modal-content" } %>
      </span>
    <%end%>
  </section>
</turbo-frame>
