<% team_members.each do |team_membership| %>
  <tr class="user-visit <%= presenter.team_member_class(team_membership.user) %>">
    <td><%= team_membership.user_full_name %></td>
    <td><%= team_membership.institution_name %></td>
    <td><%= team_membership.project_role %></td>
    <td><%= button_to t(".add_to_visitor"), @presenter.user_visit_form_path, 
              params: @presenter.add_team_member_params(team_membership) unless presenter.visitor?(team_membership.user) %></td>
  </tr>
<% end %>
