<% content_for(:title) { t(".title") } %>
<%= render partial: "visits/steps", locals: { presenter: @presenter } %>

<section class="visits-form">
  <header class="form-container">
    <h1><%= t(".title") %></h1>
  </header>

  <div class="form-container">
    <section class="form-subsection uneditable-visit-project-info">
      <header>
        <h2><%= t(".visit_summary") %></h2>
      </header>
      <section>
        <section style="margin-bottom:1rem;">
          <table class="visit-info">
            <tr>
              <td><%= t(".reserve") %></td>
              <td><%= @presenter.visit_reserve_name %></td>
            </tr>
          </table>
        </section>
        <section>
          <table id="amenities-summary-table" class="visit-info summary-table">
            <thead>
              <tr>
                <th><%= t(".amenity") %></th>
                <th><%= t(".date_of_use") %></th>
              </tr>
            </thead>
            <tbody>
              <% if @presenter.amenity_visits.present? %>
                <%= render partial: "shared/visits/amenity_visit", collection: @presenter.amenity_visits %>
              <% else %>
                <tr class="no-entry"><td colspan=2><%= t(".no_amenity") %></td></tr>
              <% end %>
            </tbody>
          </table>
        </section>
      </section>
    </section>
  </div>

  <section class="add-visitor form-subsection background-1">
    <div class="form-container">
      <%= render partial: "shared/visits/user_visits/#{@presenter.add_visitor_partial}", locals: { presenter: @presenter } %>
    </div>
  </section>

  <section id="visitors-summary" class="form-subsection">
    <div class="form-container">
      <header>
        <h2><%= t(".visitor_table") %></h2>
      </header>
      <%= tag.div t(".warning"), class: @presenter.warning_message_class %>
      <%= render partial: "shared/visits/user_visits/user_visits_table", locals: { presenter: @presenter } %>
    </div>
  </section>
</section>

<section class="controls">
  <%= link_to edit_visit_path(params[:visit_id]) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t("alt.left_facing_arrow")  %>
    <%= t("sitewide.back") %>
  <% end %>
  <%= button_to visit_questions_path(visit_id: params[:visit_id]),method: :get, class: "active" do %>
    <%= t("sitewide.next_step") %>
    <%= image_tag "arrow-right.svg", alt: t("alt.right_facing_arrow") %>
  <% end %>
</section>
