<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section>
  <h1><%=t(".title")%></h1>
</section>

<% if @presenter.has_permits_for_project? %>
  <%= form_with model: @presenter.form, url: project_permit_answers_url(@presenter.project), id: "project-permits" do |form| %>
    <section class="permits">
      <% @presenter.permits_by_authority.each do |authority, permits| %>
        <div class="<%= authority %>_permits">
          <h2><%= t(".authority.#{authority}") %></h2>
          <ul>
            <% permits.each do |permit| %>
              <%= fields_for "answers[#{permit.id}]", permit.form do |f| %>
                <li data-controller="value-projection" data-value-projection-projected-value="">
                  <div class="question">
                    <%= permit.question %>
                    <div class="answers">
                      <%= f.radio_button :answer, "1", data: { action: "change->value-projection#change" } %>
                      <%= f.label :answer, t(".have_permit"), for: "answers_#{permit.id}_answer_1" %>
                      <%= f.radio_button :answer, "0", data: { action: "change->value-projection#change" } %>
                      <%= f.label :answer, t(".have_no_permit"), for: "answers_#{permit.id}_answer_0" %>
                    </div>
                  </div>
                  <div class="description">
                    <%= permit.description %>
                    <ul>
                      <% permit.urls.each do |url, description| %>
                        <li><%= link_to description, url, target: "_blank" %></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end%>
            <% end %>
          </ul>
        </div>
      <% end %>
    </section>
    <section class="approved_permits">
      <div class="field">
        <%= form.label :approved_permits %>
        <p>
        <%= form.text_area :approved_permits %>
        <span class="explanation"><%= t(".permit_statement") %></span>
        </p>
      </div>
    </section>
  <% end %>
<% else %>
  <section>
    <p><%= t(".no_permits") %></p>
  </section>
<% end %>

<section class="controls">
  <button form="project-permit-answers-new" class="active">
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
  </button>
</section>
