<div style="max-width: 800px; margin: 0 auto; color: #002045;
  font-size: 14px; font-family: 'Sora', sans-serif"
>
  <%= render partial: "shared/header_user", locals: { presenter: @presenter } %>
  <%= render partial: "shared/hr" %>
  <p style="color: red; margin-bottom: 3em;">
    <span style="color: red;"><%= t(".visit_status_has_been_updated") %></span>
    <%= link_to t(".login_and_view_visit"), visit_url(@presenter.id) %>
  </p>
  <%= render partial: "shared/hr" %>
  <%= simple_format @approval_message %>
  <%= render partial: "shared/hr" %>
  <%= render partial: "shared/visit_detail", locals: { visit: @presenter.visit } %>
  <%= render partial: "shared/project_brief", locals: { project: @presenter.visit_project } %>
</div>
