<tr>
  <td><%= amenity_rate_category.sort_order %></td>
  <td><%= amenity_rate_category.description %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.state_university), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.state_university)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.state_college), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.state_college)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.community_college), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.community_college)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.other_state_institution), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.other_state_institution)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.outside_state), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.outside_state)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.international), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.international)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.K12), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.K12)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.nongovernmental), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.nongovernmental)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.governmental), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.governmental)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.business), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.business)), width: 14, height: 14 %></td>
  <td><%= image_tag amenity_rate_category.category_icon(amenity_rate_category.other), alt: t(amenity_rate_category.category_icon_alt_i18n_key(amenity_rate_category.other)), width: 14, height: 14 %></td>
  <td><%= link_to t("edit"), edit_manager_reserve_reserve_info_amenity_rate_category_path(current_reserve, amenity_rate_category.id), data: { "turbo-frame": "modal-content" } %></td>
</tr>
