<tr id="<%= dom_id amenity%>" >
  <td><%= amenity.sort_order %></td>
  <td><%= amenity.title %></td>
  <td><%= amenity.total_capacity %></td>
  <td><%= amenity.per_sentence %></td>
  <td><%= link_to t("edit"), edit_manager_reserve_reserve_info_amenity_path(current_reserve, amenity.id), data: { "turbo-frame": "modal-content" } %></td>
</tr>
