<turbo-frame id="amenities-table">
  <table class="amenities-table">
    <thead>
      <tr>
        <th><%= t(".order") %></th>
        <th><%= t(".name") %></th>
        <th><%= t(".capacity") %></th>
        <th><%= t(".units_time") %></th>
        <th><%= link_to t("new"), new_manager_reserve_reserve_info_amenity_path(current_reserve), data: { "turbo-frame": "modal-content" } %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "amenity", collection: amenities %>
    </tbody>
  </table>
</turbo-frame>
