<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section class="add-funding-form">
  <header class="form-container">
    <h1><%= t(".title") %></h1>
  </header>

  <% if @presenter.display_funding_question? %>
    <section class="form-subsection background-1">
      <div class="form-container">
        <header>
          <h2><%= t(".add_funding_title") %></h2>
        </header>
        <%= form_with model: @presenter.form, url: project_fundings_url(@presenter.project), namespace: "new" do |form| %>
          <turbo-frame id="new-funding-form">
            <%= render partial: "shared/projects/fundings/form_fields", locals: { presenter: @presenter, form: form } %>
          </turbo-frame>
          <turbo-frame class="form-end submit-btn" id="submit-btn">
            <%= form.submit t(".add_funding_submit"), class: "button-clear", data: { disable_with: false } %>
          </turbo-frame>
        <% end %>
      </div>
    </section>
    <section data-scroll-target="scrollPosition" class="funding-table-section form-subsection form-container" >
      <header>
        <h2><%= t(".project_funding") %></h2>
      </header>
      <%= render partial: "shared/projects/fundings/funding_table", locals: { presenter: @presenter } %>
    </section>

  <% else %>
    <section class="form-subsection form-container">
        <%= t(".no_funding_required") %>
    </section>

  <% end %>
</section>

<section class="controls">
  <%= link_to project_questions_path(@presenter.project) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t("alt.left_facing_arrow")  %>
    <%= t(".back") %>
  <% end %>
  <%= button_to project_complete_path(@presenter.project), method: :patch, class: "active" do %>
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t("alt.right_facing_arrow") %>
  <% end %>
</section>
