<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section>
  <h1><%= t(".title") %></h1>
</section>

<section class="add-funding-form">
  <div class="add-funding-form-header">
    <h2><%= t(".add_funding_title") %></h2>
  </div>
  <%= form_with model: @presenter.form, url: project_fundings_url(@presenter.project) do |form| %>
    <turbo-frame id="new-funding-form">
      <%= render partial: "projects/fundings/form_fields", locals: { presenter: @presenter, form: form } %>
    </turbo-frame>
    <div class="end">
      <%= form.submit t(".add_funding_submit"), class: "button-clear", data: { disable_with: false } %>
    </div>
  <% end %>
</section>

<%= render partial: "projects/fundings/funding_table", locals: { presenter: @presenter } %>

<section class="controls">
  <%= button_to project_path(@presenter.project), method: :get, class: "active" do %>
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
  <% end %>
</section>
