<turbo-frame id="add-user-form">
  <header>
    <div class="add-user-form-header">
      <h2><%= t(".add_team_member_title") %></h2>
    </div>
    <span class="header-info"><%= t(".add_team_member_description") %></span>
    <hr class="subtle" />
    <table class="summary-table-style2">
      <tr>
        <td></td>
        <td><%= t(".edit_project")%></td>
        <td><%= t(".book_visit")%></td>
        <td><%= t(".receive_invoice")%></td>
      </tr>
      <tr>
        <td><%= t(".pi_principal_investigator")%></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
      </tr>
      <tr>
        <td><%= t(".project_manager")%></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
        <td><%= image_tag "dot.svg", alt: t(".alt-text.disallowed") %></td>
      </tr>
      <tr>
        <td><%= t(".team_member")%></td>
        <td><%= image_tag "dot.svg", alt: t(".alt-text.disallowed") %></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
        <td><%= image_tag "dot.svg", alt: t(".alt-text.disallowed") %></td>
      </tr>
      <tr>
        <td><%= t(".billing")%></td>
        <td><%= image_tag "dot.svg", alt: t(".alt-text.disallowed") %></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
        <td><%= image_tag "check.svg", alt: t(".alt-text.allowed") %></td>
      </tr>
    </table>
    <hr class="subtle" />
  </header>
  <%= form_with model: presenter.form, url: presenter.team_memberships_form_path do |form| %>
    <div class="field autocomplete" data-controller="autocomplete" data-autocomplete-url-value="<%= users_path %>" role="combobox" aria-haspopup="listbox">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, placeholder: t(".search_by_name"), "data-autocomplete-target": "input" %>
      <%= form.hidden_field :user_id, "data-autocomplete-target": "hidden" %>
      <div class="autocomplete-results-container">
        <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
      </div>
      <small>
        <%= t(".cannot_find_them") %>
        <%= link_to t(".create_new_user"), presenter.user_form_path, class: "inline-link", data: { "turbo-frame": "modal-content" } %>
      </small>
    </div>
    <div class="submit-row">
      <div id="project-role-select" class="field">
        <%= form.label :project_role %>
        <%= form.select :project_role, presenter.project_roles, prompt: t(".choose_role") %>
      </div>
      <%= form.submit t(".add_team_member_submit"), class: "button-clear" %>
    </div>
  <% end %>
</turbo-frame>
