<tr class="team-membership">
  <td><%= image_tag "star.svg", height: "168px", width: "173px",class:".star-icon", alt: t(".alt-text.logo")  if team_membership.project_owner? %></td>
  <td><%= team_membership.user_full_name %></td>
  <td><%= team_membership.institution_name %></td>
  <td><%= team_membership.user_role %></td>
  <td><%= team_membership.project_role %></td>
  <% team_membership.permissions.each do |permission| %>
    <td><%= image_tag team_membership.permissions_icon(permission), alt: t(team_membership.permissions_icon_alt_i18n_key(permission)) %></td>
  <% end %>
  <td>
    <% unless team_membership.project_owner?  %>
      <%= link_to t(".edit"), team_membership.edit_team_memberships_form_path, data: { "turbo-frame": "modal-content" } %>
    <% end %>
  </td>
</tr>
