<turbo-frame id="team-member-table">
  <section class="team-member-section">
    <header>
      <h2><%= t(".project_team") %></h2>
    </header>
    <table class="team-member-table">
      <thead>
        <tr>
          <td></td>
          <th><%= t(".name") %></th>
          <th><%= t(".institution") %></th>
          <th><%= t(".role") %></th>
          <th><%= t(".project_role") %></th>
          <th><%= t(".active") %></th>
          <th><%= t(".edit") %></th>
          <th><%= t(".book") %></th>
          <th><%= t(".invoice") %></th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "shared/projects/team_memberships/team_membership", collection: presenter.team_memberships %>
      </tbody>
    </table>
  </section>
</turbo-frame>
