<section>
  <% if amenity.with_image_url? %>
    <%= image_tag amenity.image_url, alt: t("amenities.alt_text.amenity_picture") %>
  <% else %>
    <%= image_tag "amenity_placeholder.jpg", alt: t("amenities.alt_text.amenity_picture") %>
  <% end %>
  <span><%= amenity.title %></span>
  <span><%= amenity.comment %></span>
  <span><%= link_to t(".link"), "#" %></span>
  <%= render partial: "rate", collection: amenity.rates, locals: { amenity: amenity } %>
</section>
