<%= link_to bar.path, class: bar.link_classes, data: { turbo_frame: "_top" } do %>
  <div class="bar <%= bar.background_classes %>" data-value-visit-status-value="<%= bar.status_class %>">
    <span class="bars-text <%= bar.inner_classes %>" >
      <%= bar.text %>
    </span>
  </div>
<% end %>
