<select id="visit_status" name="visit_filter" aria-label="visit_filter" onchange="this.form.requestSubmit()">
  <optgroup label="By Status">
    <option <%= presenter.visit_selected("") %> value=""><%= t("all") %></option>
    <% presenter.visit_filter_options.each do |key, value| %>
      <option <%= presenter.visit_selected(value) %> value="<%= value %>"><%= t("universal.visit.statuses.#{key}") %></option>
    <% end %>
  </optgroup>
  <optgroup label="By Reserve">
    <% presenter.visits_reserve_list.each do |key, value| %>
      <option <%= presenter.visit_selected("reserve_#{value}") %> value="reserve_<%= value %>"><%= key %></option>
    <% end %>
  </optgroup>
</select>
