<section>
  <ul class="visit-menu-bar" data-controller="tab-bar">
    <%= render partial: "menu_link",
      locals: { id: "summary", path: manager_reserve_visit_summary_path(visit_id: @presenter.visit.id), classes: "active" } %>
    <%= render partial: "menu_link",
       locals: { id: "details", path: "#", classes: ""  } %>
    <%= render partial: "menu_link",
      locals: { id: "visitors", path: "#", classes: "" } %>
    <%= render partial: "menu_link",
      locals: { id: "reserve_info", path: "#", classes: "" } %>
    <%= render partial: "menu_link",
      locals: { id: "policies", path: "#", classes: "" } %>
    <%= render partial: "menu_link",
      locals: { id: "activity", path: "#", classes: "" } %>
    <%= render partial: "menu_link",
      locals: { id: "invoices", path: "#", classes: "" } %>
  </ul>
</section>
