<section>
  <ul class="visit-menu-bar">
    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(path: manager_reserve_visit_summary_path(visit_id: @presenter.visit.id), classes: "active") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "details", path: edit_manager_reserve_visit_detail_path(visit_id: @presenter.id)) %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "visitors", path: manager_reserve_visit_user_visits_path(visit_id: @presenter.id, reserve_id: @presenter.reserve_id)) %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "reserve_info") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "policies") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "activity", path: manager_reserve_visit_activity_and_notes_path(visit_id: @presenter.id, reserve_id: @presenter.reserve_id)) %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "invoices") %>
    </li>
  </ul>
</section>
