<section>
  <ul class="visit-menu-bar">
    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(path: manager_reserve_visit_summary_path(visit_id: @presenter.visit.id), classes: "active") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "details") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "visitors") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "reserve_info") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "policies") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "activity") %>
    </li>

    <li>
      <%= render partial: "tab",
        locals: @presenter.tab_params(id: "invoices") %>
    </li>
  </ul>
</section>
