<tr>
  <td class="card-name">
    <div class="status-container">
      <%= tag.div class: "status #{user_visit.status.downcase}" %>
      <div>
        <%= user_visit.user_full_name %>
        <small class="user-role"><%= user_visit.role %></small>
      </div>
    </div>
  </td>
  <td class="card-date">
    <%= tag.span t(".from", time: user_visit.arrives_at.to_s(:time)), class: "text-nowrap" if user_visit.arrives_today? %>
    <%= tag.span t(".until", time: user_visit.departs_at.to_s(:time)), class: "text-nowrap" if user_visit.departs_today? %>
  </td>
</tr>
