<% content_for(:title) { t(".title") } %>
<h1><%= t(".title") %></h1>

<div class="navigation">
  <%= link_to new_user_session_path do %>
    <%= image_tag "arrow-left.svg", height: "24px", width: "24px", alt: "left arrow" %>
    <span><%= t(".go_back") %></span>
  <% end %>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <% if resource.errors[:reset_password_token].present? %>
    <section class="instructions">
      The token used to identify you has expired. Please resend the password reset email and try again.
    </section>
  <% end %>

  <div class="field" data-controller="passwords">
    <%= f.label :password, t(".password") %>
    <div class="input-with-buttons">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", data: { "passwords-target": "input" } %>
      <%= image_tag "hide-password.svg", class: "input-icon", data: { action: "click->passwords#togglePasswordDisplay", "passwords-target": "icon", info: { show_url: image_url("show-password.svg"), hide_url: image_url("hide-password.svg") } }, alt: t(".password_visibility_alt") %>
    </div>
  </div>

  <div class="field" data-controller="passwords">
    <%= f.label :password_confirmation, t(".password_confirmation") %>
    <div class="input-with-buttons">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", data: { "passwords-target": "input" } %>
      <%= image_tag "hide-password.svg", class: "input-icon", data: { action: "click->passwords#togglePasswordDisplay", "passwords-target": "icon", info: { show_url: image_url("show-password.svg"), hide_url: image_url("hide-password.svg") } }, alt: t(".password_confirmation_visibility_alt") %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t(".submit") %>
  </div>

  <section class="afterword extra_actions">
    <%= t(".having_trouble") %>
    <%= link_to t(".contact_us"), "mailto:hello@ucnrs.org" %>
  </section>
<% end %>
