<% content_for(:title) { t(".title") } %>
<h1><%= t(".title") %></h1>

<div class="navigation">
  <%= link_to new_user_session_path do %>
    <%= image_tag "arrow-left", height: "24px", width: "24px", alt: "left arrow" %>
    <span><%= t(".go_back") %></span>
  <% end %>
</div>

<%= form_with model: resource, url: user_password_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="instructions">
    <%= t(".instructions") %>
  </section>

  <div class="field">
    <%= f.label :email do %>
      <span><%= t(".email_address") %></span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t(".submit") %>
  </div>

  <section class="contact">
    <%= t(".having_trouble") %>
    <%= link_to t(".contact_us"), "mailto:hello@ucnrs.org" %>
  </section>
<% end %>

