<section class="project-summary-show">
  <section>
    <p><%= presenter.project_info %></p>
    <%= render partial: presenter.partial_name, locals: { presenter: presenter } %>
  </section>
  <section class="project-files">
    <header>
      <h2 class="main-header"><%= t(".upload_file") %></h2>
    </header>
    <%= render partial: "projects/file_table", locals: { presenter: presenter } %>
  </section>

  <%= render partial: "shared/projects/team_member_show_table", locals: { presenter: presenter } %>
  <%= render partial: "shared/projects/funding_show_table", locals: { presenter: presenter } %>
  <%= render partial: "shared/projects/permit_show", locals: { presenter: presenter } %>
  <%= render partial: "shared/projects/reserve_question_show", locals: { presenter: presenter } %>
</section>
