<section class="project-summary-show">
  <section>
    <p><%= presenter.project_info %></p>
    <%= render partial: presenter.partial_name, locals: { presenter: presenter } %>
  </section>

  <section class="project-files">
    <header>
      <h2 class="main-header"><%= t(".upload_file") %></h2>
    </header>
    <%= render partial: "projects/file_table", locals: { presenter: presenter } %>
  </section>

  <section class="project-team">
    <header>
      <h2 class="main-header"><%= t(".project_team", size: presenter.team_memberships.size) %></h2>
      <%= link_to t(".edit_team"), presenter.edit_team_membership_path, target: "_top" %>
    </header>
    <%= render partial: "shared/projects/team_member_show_table", locals: { presenter: presenter } %>
  </section>

  <section class="project-funding">
    <header>
      <h2 class="main-header"><%= t(".funding", size: presenter.fundings.size) %></h2>
      <%= link_to t(".edit_funding"), presenter.edit_funding_path, target: "_top" %>
    </header>
    <%= render partial: "shared/projects/funding_show_table", locals: { presenter: presenter } %>
  </section>

  <section class="project-permit">
    <header>
      <h2 class="main-header"><%= t(".permits") %></h2>
      <%= link_to t(".edit_permits"), presenter.edit_questions_path, target: "_top" %>
      <% if presenter.display_approved_permits? %>
        <h3 class="subheader"><%= t(".approved_permits") %></h3>
        <p><%= presenter.approved_permits %></p>
      <% end %>
    </header>
    <%= render partial: "shared/projects/permit_show", locals: { presenter: presenter } %>
  </section>

  <section class="project-reserve_question">
    <header>
      <h2 class="main-header"><%= t(".reserve_questions") %></h2>
      <%= link_to t(".edit_reserve_questions"), presenter.edit_questions_path, target: "_top" %>
    </header>
    <%= render partial: "shared/projects/reserve_question_show", locals: { presenter: presenter } %>
  </section>
</section>
