<header>
  <h1><%= t(".invoices.title") %></h1>
  <%= form_with url: root_path, method: :get, data: { "turbo-frame": "invoice", "turbo-action": "advance" } do %>
    <select id="invoice_status" name="invoice_filter" aria-label="invoice_filter" onchange="this.form.requestSubmit()">
      <optgroup label="<%= t(".labels.by") %>">
        <% @presenter.invoice_filter_options.each do |key, value| %>
          <option <%= @presenter.invoice_selected(value) %> value="<%= value %>"><%= key.humanize %></option>
        <% end %>
      </optgroup>
      <optgroup label="<%= t(".labels.by_reserve") %>">
        <% @presenter.invoice_reserve_list.each do |key, value| %>
          <option <%= @presenter.invoice_selected("reserve_#{value}") %> value="reserve_<%= value %>"><%= key %></option>
        <% end %>
      </optgroup>
    </select>
  <% end %>
</header>

<% if @presenter.visits.present? %>
  <table class="invoices">
    <%= render partial: "invoice", collection: @presenter.invoices %>
  </table>
  <%= paginate @presenter.invoice_scope, param_name: :invoice_page, data: { "turbo-action": "advance" } %>
<% else %>
  <div class="initial-info"><p><%= t(".no_invoices") %></p></div>
<% end %>
