<tr class="visit_request <%= visit_request.status %>">
  <td>
    <span class="<%= visit_request.status %> pill">
      <%= visit_request.status %>
    </span>
  </td>
  <td class="date-range"><%= visit_request.requested_date_range %></td>
  <td><%= visit_request.requested_reserve_name %></td>
  <td>
    <%= link_to "#" do %>
      <%= image_tag "arrow-right-circle-light.svg", height: "16", width: "16" %>
    <% end %>
  </td>
</tr>
