<tr class="visit <%= visit.status_class %>">
  <td>
    <span class="<%= visit.status_class %> pill">
      <%= visit.status %>
    </span>
  </td>
  <td>
    <span class="date-range"><%= visit.requested_date_range %></span>
    <br />
    <%= t("universal.project.project_types.#{visit.project_type}") %>
    |
    <%= link_to truncate(visit.purpose_of_visit, length: 50, omission: '...'),
      visit_path(visit.id),
      target: "_top" %>
  </td>
  <td class="reserve-name">
    @ <%= visit.reserve_short_name %>
  </td>
  <td>
    <%= link_to visit.visit_route, target: "_top" do %>
      <%= image_tag "arrow-right-circle.svg", alt: t("alt.right_facing_arrow"),
        class: "right-arrow", height: "20", width: "20"
      %>
    <% end %>
  </td>
</tr>
