<section class="content">
  <%= turbo_frame_tag "visits" do %>
    <section class="visits">
      <header>
        <em>
          <%= t(".visits.title") %>
        </em>
        <%= form_with url: root_path, method: :get, data: { "turbo-frame": "visits" } do %>
          <select id="status" name="visit_filter" aria-label="visit_filter" onchange="this.form.requestSubmit()">
            <optgroup label="<%= t(".labels.by") %>">
              <% @presenter.filter_options.each do |key, value| %>
                <option <%= @presenter.selected?(value) %> value="<%= value %>"><%= key.humanize %></option>
              <% end %>
            </optgroup>
            <optgroup label="<%= t(".labels.by_reserve") %>">
              <% @presenter.visits_reserve_list.each do |key, value| %>
                <option <%= @presenter.selected?("reserve_#{value}") %> value="reserve_<%= value %>"><%= key %></option>
              <% end %>
            </optgroup>
          </select>
        <% end %>
        <div class="toolbar-buttons">
          <button class="selected"><%= image_tag "list.svg", height: "16", width: "16", alt: t("alt.list_icon") %></button>
          <button><%= image_tag "calendar.svg", height: "16", width: "16", alt: t("alt.calendar_icon") %></button>
        </div>
      </header>
      <table class="visit-requests">
        <%= render partial: "visit", collection: @presenter.visits %>
      </table>
      <%= paginate @presenter.visit_scope, param_name: :visit_page %>
    </section>
  <% end %>
  <section class="invoices">
    <header>
      <em><%= t(".invoices.title") %></em>
      <select name="invoice_filter" aria-label="invoice filter">
        <option value="recent">Most Recent</option>
      </select>
    </header>
    <table class="invoices">
      <%= render partial: "invoice", collection: @presenter.invoices %>
    </table>
  </section>
</section>

<section class="news">
  <header>
    <%= t(".latest_news") %>
    <%= link_to t(".view_all"), "#" %>
  </header>

  <section class="articles">
    <%= render partial: "news_article", collection: @presenter.news_articles %>
  </section>
</section>

<% if session[:welcome].nil? && session[:welcome] = true %>
  <% content_for :modal do %>
    <%= render partial: "modals/welcome" %>
  <% end %>
<% end %>
