<section class="content">
  <%= turbo_frame_tag "visits" do %>
    <section class="visits">
      <header>
        <em>
          <%= t(".visits.title") %>
        </em>
        <select>
          <option value="recent"><%= t(".visits.most_recent_filter") %></option>
        </select>
        <div class="toolbar-buttons">
          <button class="selected"><%= image_tag "list.svg", height: "16", width: "16" %></button>
          <button><%= image_tag "calendar.svg", height: "16", width: "16" %></button>
        </div>
      </header>
      <table class="visit-requests">
        <%= render partial: "visit", collection: @presenter.visits %>
      </table>
    </section>
  <% end %>
  <section class="invoices">
    <header>
      <em><%= t(".invoices.title") %></em>
      <select>
        <option value="recent">Most Recent</option>
      </select>
    </header>
    <table class="invoices">
      <%= render partial: "invoice", collection: @presenter.invoices %>
    </table>
  </section>
</section>

<section class="news">
  <header>
    <%= t(".latest_news") %>
    <%= link_to t(".view_all"), "#" %>
  </header>

  <section class="articles">
    <%= render partial: "news_article", collection: @presenter.news_articles %>
  </section>
</section>

<% content_for :modal do %>
  <%= render partial: "modals/welcome" %>
<% end %>
