<turbo-frame id="modal-content" class="modal-content" role="dialog" aria-labelledby="modal-title">
  <div data-modal-target="dialog openOnLoad" data-action="click@window->modal#closeBackground", class="spacer" >
    <h1><%= t(".record_payment") %></h1>
    <div class="d-flex-column spacer-y">
      <span class="label"><%= t(".invoice") %></span>
      <h3><%= @presenter.title.delete("Invoice") %></h3>
    </div>
    <div class="d-flex-column spacer-y">
      <span class="label"><%= t(".visit_date") %></span>
      <h3><%= @presenter.visit_date_range %></h3>
    </div>
    <div class="d-flex-column spacer-y">
      <span class="label"><%= t(".project_title") %></span>
      <h3><%= @presenter.project_title %></h3>
    </div>
    <%= form_with model: @form.invoice_payment, url: manager_reserve_visit_invoice_payments_path do |f| %>
      <div class="d-flex spacer-y">
        <%= f.hidden_field :invoice_id, value: @presenter.invoice_id %>
        <div class="d-flex-column spacer-y">
          <%= f.label :paid_on, t(".payment_date"), for: t(".paid_on_for"), class: "label" %>
          <%= f.date_field :paid_on, onclick: "showPicker()", class: "input-field" %>
        </div>
        <div class="d-flex-column spacer-y">
          <%= f.label :amount, t(".payment_amount"), for: t(".amount_for"), class: "label" %>
          <%= f.text_field :amount, class: "input-field" %>
        </div>
      </div>
      <div class="d-flex-column spacer-y">
        <%= f.label t(".notes"), for: t(".notes_for"), class: "label" %>
        <%= f.text_field :notes, class: "input-field" %>
      </div>
      <section class="buttons">
        <div class="close">
          <%= link_to t(".cancel"), "#", data: { action: "click->modal#close" } %>
        </div>
        <button class="active" type="submit" data-turbo-frame= "_top" >
          <%= t(".save") %>
        </button>
      </section>
    <% end %>
  </div>
</turbo-frame>
