<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form,
      url: manager_reserve_reserve_info_staff_and_notifications_path(current_reserve) do |form|
    %>
      <section>
        <header class="modal-header">
          <h2><%= t(".title") %></h2>
        </header>
        <div class="autocomplete form-group" role="combobox" data-controller="autocomplete" data-autocomplete-url-value="<%= users_path %>">
          <%= form.label :full_name, class:"form-label" %>
          <%= form.text_field :full_name, placeholder: t(".search_by_name"), "data-autocomplete-target": "input", class: "form-input" %>
          <%= form.hidden_field :user_id, "data-autocomplete-target": "hidden" %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
          <%= tag.small t(".search_by_name_description") %>
        </div>
        <hr />
        <%= render partial: "reserve_personnel_field", locals: { form: form, presenter: presenter } %>
      </section>
      <section id="modal-footer" class="modal-footer">
        <%= render partial: "shared/turbo_frame/flash-modal", locals: { flash: flash } %>

        <section class="buttons">
          <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
          <%= button_tag t("create"), class: "active", type: "submit" %>
        </section>
      </section>
    <% end %>
  </div>
</turbo-frame>
