<turbo-frame id="modal-content" class="modal-content" role="dialog" aria-labelledby="modal-title">
  <div data-modal-target="dialog openOnLoad" data-action="click@window->modal#closeBackground">
    <%= form_with model: presenter.form, url: manager_reserve_reserve_info_staff_and_notifications_path(current_reserve) do |form| %>
      <p class="screenreader-text">
        <span id="modal-title"><%= t(".title") %></span>
        <span id="modal-description"><%= t(".accessible_description") %></span>
      </p>
      <section class="text">
        <h2><%= t(".title") %></h2>
        <div class="autocomplete form-group" data-controller="autocomplete" data-autocomplete-url-value="<%= users_path %>">
          <%= form.label :full_name, class:"form-label" %>
          <%= form.text_field :full_name, placeholder: t(".search_by_name"), "data-autocomplete-target": "input", class: "form-input" %>
          <%= form.hidden_field :user_id, "data-autocomplete-target": "hidden" %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <%= render partial: "reserve_personnel_field", locals: { form: form, presenter: presenter } %>
      </section>
      <section class="buttons">
        <div class="close"><%= link_to t("cancel"), "#", data: { action: "click->modal#close" } %></div>
        <button class="active" type="submit"><%= t("create") %></button>
      </section>
    <% end %>
  </div>
</turbo-frame>
