<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<h1><%= t(".title") %></h1>

<section>
  <div>
    <h2><%= t(".add_team_member_title") %></h2>
    <span>
      <%= t(".cannot_find_them") %>
      <%= link_to t(".create_new_user"), "#" %>
    </span>
  </div>
  <%= form_with url: root_url do |form| %>
    <div class="field">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, placeholder: t(".search_by_name") %>
    </div>
    <div>
      <div class="field">
        <%= form.label :project_role %>
        <%= form.select :project_role, @presenter.project_roles, prompt: t(".choose_role") %>
      </div>
      <%= form.submit t(".add_team_member_submit") %>
    </div>
  <% end %>
</section>

<section class="team-member-table">
  <h2><%= t(".project_team") %></h2>
  <table>
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".institution") %></th>
        <th><%= t(".role") %></th>
        <th><%= t(".project_role") %></th>
        <th><%= t(".active") %></th>
        <th><%= t(".edit") %></th>
        <th><%= t(".book") %></th>
        <th><%= t(".invoice") %></th>
        <th></th>
      </tr>
    <thead>
    <tbody>
      <%= render partial: "projects/teams/team_membership", collection: @presenter.team_memberships %>
    </tbody>
  </table>
</section>

<section class="controls">
  <button class="active">
    <%= t(".next_step") %>
    <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
  </button>
</section>
