<table class="report-part-2-table" >
  <thead>
    <tr>
      <th><%= t(".institution_name") %></th>
      <th><%= t(".location") %></th>
    </tr>
  </thead>
  <tbody>
    <% presenter.report_part2_data.each do |institution_type, institutions| %>
      <tr class="subheader">
          <td colspan="2"><%= t("universal.institution_types.#{institution_type}") %></td>
      </tr>
      <% institutions.each do |institution|  %>
        <tr class="text-muted">
          <td><%= link_to(institution.name, manager_reserve_search_index_path(current_reserve, filter: { institution_name: institution.name, date_begin: presenter.report_begin_date, date_end: presenter.report_end_date, visit_status: "approved", report_access: true })) %></td>
          <td><%= institution.address_line_3 %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
