<table class="annual-report">
  <colgroup>
    <col class="first-col" span="1" />
    <col class="body-col" span="24" />
    <col class="subtotal-col" span="2" />
  </colgroup>
  <% presenter.report_part1.except("TOTAL").each do | group, rows | %>
    <thead>
      <tr>
        <%= tag.th "&nbsp;".html_safe %>
        <%= tag.th t(".uc_home"), colspan: 2 %>
        <%= tag.th t(".uc_other"), colspan: 2 %>
        <%= tag.th t(".csu_system"), colspan: 2 %>
        <%= tag.th t(".ca_community_college"), colspan: 2 %>
        <%= tag.th t(".ca_other_college"), colspan: 2 %>
        <%= tag.th t(".out_of_state_college"), colspan: 2 %>
        <%= tag.th t(".international_university"), colspan: 2 %>
        <%= tag.th t(".government"), colspan: 2 %>
        <%= tag.th t(".ngo_non_profit"), colspan: 2 %>
        <%= tag.th t(".business_entity"), colspan: 2 %>
        <%= tag.th t(".k12_school"), colspan: 2 %>
        <%= tag.th t(".other"), colspan: 2 %>
        <%= tag.th t(".total"), colspan: 2 %>
      </tr>
      <tr>
        <%= tag.th %>
        <% 13.times do %>
          <%= tag.th t(".users") %><%= tag.th t(".user_days") %>
        <% end %>
      </tr>
      <tr class="group-header">
        <%= tag.th group, colspan: 27 %>
      </tr>
    </thead>
    <tbody>
      <% rows.each do | row | %>
        <%= tag.tr class: ("row-subtotal" if row.role.downcase == "subtotal") do %>
          <%= tag.td row.role, class: "col-1" %>
          <% presenter.report_part1_columns.each do |column| %>
            <%= tag.td row[column] %>
          <% end %>
        <% end %>
      <% end %>
      
      <tr class="spacer"><td>&nbsp;</td></tr>
      <tr class="spacer"><td>&nbsp;</td></tr>
    </tbody>
  <% end %>

  <% if presenter.row_total.present? %>
    <%= tag.tr class: "row-total" do %>
      <%= tag.td t(".total"), class: "col-1" %>
      <% presenter.report_part1_columns.each do |column| %>
        <%= tag.td presenter.row_total[column] %>
      <% end %>
    <% end %>
  <% end %>
</table>
