<table class="report-part-8-table">
  <thead>
    <tr>
      <th><%= t(".project_title") %></th>
      <th><%= t(".institution") %></th>
      <th><%= t(".role") %></th>
    </tr>
  </thead>
  <tbody>
    <% report_part8_data.each do |institution_type, projects| %>
      <tr class="subheader">
        <td colspan="3"><%= institution_type %></td>
      </tr>
      <% projects.each do |project|  %>
        <tr class="text-muted">
          <td><%= link_to project.title, manager_reserve_project_path(current_reserve, project.id) %></td>
          <td><%= project.owner_institution.name %></td>
          <td><%= t("universal.roles.#{ProjectTeamMembership.user_roles.key(project.user_role)}") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
