<table class="report-part-4-table">
  <colgroup>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><%= link_to project.title, manager_reserve_project_path(current_reserve, project.id) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t(".project_dates") %>:</td>
      <td><%= project.timeframe %></td>
    </tr>
    <tr>
      <td><%= t(".principal_investigators") %>:</td>
      <td>
        <%= project.principal_investigators
          .map { |user| link_to(user.full_name, edit_manager_reserve_user_path(id: user.id)) }
          .join(" | ").html_safe %>
      </td>
    </tr>
    <tr>
      <td><%= t(".other_members") %>:</td>
      <td>
        <% if project.other_team_members.present? %>
          <%= project.other_team_members
            .map { |user| link_to(user.full_name, edit_manager_reserve_user_path(id: user.id)) }
            .join(" | ").html_safe %>
        <% else %>
          <%= t(".none") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(".affiliations") %>:</td>
      <td><%= project.team_members_affiliations.join(" | ")%></td>
    </tr>
    <tr class="subheader"><td colspan="2"><%= t(".project_abstract") %></td></tr>
    <tr><td colspan="2"><%= project.abstract %></td><tr>
  </tbody>
</table>
