<section class="content">
  <%= render partial: 'header' %>
  <div>
    <section class="report-menu">
      <%= render partial: 'menu', locals: { presenter: @presenter } %>
    </section>
    <section class="report">
      <header><%= t(".part_5_publications") %></header>
      <div class="fiscal-year-select">
        <%= render partial: 'fiscal_year_select', locals: { presenter: @presenter } %>
      </div>
      <%= form_with model: @presenter.form, url: manager_reserve_report_path, method: :patch do |form| %>
        <div class="direction" >
          <p><%= t(".direction_1") %></p>
          <p><%= t(".direction_2") %></p>
          <p><%= t(".direction_3") %></p>
          <ol class="steps">
            <li>
              <%= t(".step_1",
                zotero_url: @presenter.reserve_zotero_url,
                zotero_login: @presenter.reserve_zotero_login,
                zotero_password: @presenter.reserve_zotero_password
              ).html_safe %>
            </li>
            <li><%= t(".step_2").html_safe %></li>
            <li><%= t(".step_3").html_safe %></li>
            <li><%= t(".step_4").html_safe %></li>
            <li><%= t(".step_5").html_safe %></li>
            <li><%= t(".step_6").html_safe %></li>
          </ol>
        </div>
        <div id="review">
          <%= tag.div t(".report_has_been_reviewed") %>
          <%= tag.div do %>
            <%= form.label @presenter.annual_report_column do %>
              <%= form.check_box @presenter.annual_report_column %>
              <%= t("yes") %>
            <% end %>
          <% end %>
        </div>
        <%= form.button t("submit") %>
      <% end %>
    </section>
  </div>
</section>
