<section class="content">
  <%= render partial: 'header' %>
  <div>
    <section class="report-menu">
      <%= render partial: 'menu', locals: { presenter: @presenter } %>
    </section>
    <section class="report">
      <header><%= t(".part_8_use_by_public") %></header>
      <div class="fiscal-year-select">
        <%= render partial: 'fiscal_year_select', locals: { presenter: @presenter } %>
        <%= link_to "csv",
          report_part_8_manager_reserve_report_path(
            current_reserve, @presenter.fiscal_year_ending, format: :csv
          )
        %>
      </div>
      <%= render partial: 'report_part_8_data', locals: { presenter: @presenter } %>
    </section>
  </div>
</section>
