<form method="get" data-controller="toggle" data-turbo-action="advance">
  <div class="search-primary">
    <div class="first">
      <div class="row mb-0">
        <div class="row-medium input-with-buttons search">
          <input type="text" name="filter[visit_search]" value="<%= presenter.visit_search_filter %>" placeholder="Search"/>
        </div>
        <div class="row-auto">
          <%= link_to t(".show_options"), "#",
            "data-action": "click->toggle#toggle", "data-toggle-target": "toggle", "data-toggle-class": "show",
            class: "button-inline button-clear #{ presenter.filter_present? ? "loadhide" : "show" }",
            id: "show_button"
          %>
          <%= link_to t(".hide_options"), "#",
            "data-action": "click->toggle#toggle", "data-toggle-target": "toggle", "data-toggle-class": "show",
            class: "button-inline button-clear #{ presenter.filter_present? ? "show" : "loadhide" }",
            id: "hide_button"
          %>
        </div>
      </div>
    </div>
    <div class="second">
      <label for="status"><%= t(".project_type") %></label>
      <select id="status" name="filter[visit_project_type]" aria-label="visit_project_type" onchange="this.form.requestSubmit()">
        <%= options_for_select presenter.visit_project_type_options, presenter.visit_project_type_filter %>
      </select>
      <label for="search_sort_by"><%= t(".sort_by") %></label>
      <select id="search_sort_by" name="filter[sort_by]" aria-label="sort_by" onchange="this.form.requestSubmit()">
        <%= options_for_select(presenter.sort_by_options, presenter.sort_by_filter) %>
      </select>
    </div>
  </div>
  <div class="search-secondary <%= "show" if presenter.filter_present? %>" data-toggle-target="toggle" data-toggle-class="show">
    <div class="row">
      <div class="row-medium">
        <label for="visit_status"><%= t(".visit_status") %></label>
        <select id="visit_status" name="filter[visit_status]" aria-label="show" onchange="this.form.requestSubmit()">
          <%= options_for_select(presenter.visit_status_options, presenter.visit_status_filter) %>
        </select>
      </div>
      <div class="row-auto">
        <label for="report_access"><%= t(".report_access") %></label>
        <select id="report_access" name="filter[report_access]" aria-label="show" onchange="this.form.requestSubmit()">
          <%= options_for_select(presenter.report_access_options, presenter.report_access_filter) %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="row-medium">
        <label for="reserve"><%= t(".reserve") %></label>
        <select name="filter[reserve]" aria-label="reserve" onchange="this.form.requestSubmit()">
          <%= options_for_select(presenter.reserve_options, presenter.reserve_filter) %>
        </select>
      </div>
      <div class="row-auto" id="horizontal-line">
        <label for="date_begin"><%= t(".earliest_arrival_date") %></label>
        <div class="input-with-buttons calendar">
          <input type="date" name="filter[date_begin]" value="<%= presenter.date_begin_filter %>" onchange="this.form.requestSubmit()">
        </div>
      </div>
      <div class="row-auto">
        <label for="date_end"><%= t(".latest_departure_date") %></label>
        <div class="input-with-buttons calendar">
          <input type="date" name="filter[date_end]" value="<%= presenter.date_end_filter %>" onchange="this.form.requestSubmit()">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row-medium">
        <label for="amenity"><%= t(".amenity_requested") %></label>
        <select name="filter[amenity]" aria-label="amenity" onchange="this.form.requestSubmit()">
          <%= options_for_select(presenter.amenity_options, presenter.amenity_filter) %>
        </select>
      </div>
    </div>
    <div>
      <%= link_to t(".clear_all_and_start_over"),
        manager_reserve_dashboard_visits_path(current_reserve, filter: { visit_search: nil }),
        class: "button-subtle"
      %>
    </div>
  </div>
</form>
