<tr id="<%= visit.id %>" class="visit <%= visit.status_class %>">
  <td>
    <span class="<%= visit.status_class %> pill">
      <%= visit.status %>
    </span>
  </td>
  <td><%= tag.strong visit.requested_date_range %></td>
  <td>
    <% if visit.report_access_disabled? %>
      <%= tag.span "X", class: "ar-access", alt: t(".annual_report_disabled"), title: t(".annual_report_disabled") %>
      |
    <% end %>
    <strong>
      <%= link_to truncate(visit.purpose_of_visit, length: 250, omission: '...'),
        manager_reserve_visit_path(current_reserve, visit.id),
        data: { "turbo-frame" => "_top" }
      %>
    </strong>
    |
    <%= t("universal.project.project_types.#{visit.project_type}") %>
  </td>
  <td><%= visit.reserve_short_name %></td>
  <td>
    <%= link_to visit.applicant_name,
      edit_manager_reserve_user_path(current_reserve, visit.user_id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td><%= visit.submitted_at %></td>
</tr>
