<tr class="visit <%= visit.status_class %>">
  <td>
    <span class="<%= visit.status_class %> pill">
      <%= visit.status %>
    </span>
  </td>
  <td class="date-range"><%= visit.requested_date_range %></td>
  <td><%= truncate(visit.purpose_of_visit, length: 50) %></td>
  <td><%= visit.requested_reserve_name %></td>
  <td><%= visit.applicant_name %></td>
  <td><%= visit.submitted_at %></td>
  <td>
    <%= link_to visit_path(visit.id) do %>
      <%= image_tag "icon-trash.svg", alt: t("alt.right_facing_arrow"), height: "20", width: "20" %>
    <% end %>
    <%= link_to visit_path(visit.id) do %>
      <%= image_tag "dollar_icon.svg", alt: t("alt.dollar_sign"), height: "20", width: "20" %>
    <% end %>
    <%= link_to visit_path(visit.id) do %>
      <%= image_tag "edit_icon.svg", alt: t("alt.pencil_sign"), height: "20", width: "20" %>
    <% end %>
    <%= link_to visit_path(visit.id) do %>
      <%= image_tag "arrow-right-circle.svg", alt: t("alt.right_facing_arrow"), height: "20", width: "20" %>
    <% end %>
  </td>
</tr>
