<turbo-frame id="visit-requests">
  <table class="visit-requests table-style1">
    <thead>
      <tr>
        <th class="visit-status"><%= t(".status") %></th>
        <th class="visit-dates"><%= t(".visit_dates") %></th>
        <th class="visit-submitter"><%= t(".submitted_by") %></th>
        <th class="visit-purpose"><%= t(".purpose") %></th>
        <th class="visit-reserve"><%= t(".reserve") %></th>
        <th class="visit-submit-date"><%= t(".submit_date") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "manager/dashboard/visits/visit", collection: visits %>
    <tbody>
  </table>
</turbo-frame>
