<section class="content full">
  <%= render partial: "shared/manager/dashboard/header", locals: { selected_tab: 1 } %>
  <hr />
  <%= turbo_frame_tag 'dashboard-content' do %>
    <section class="visits-search-list">
      <section class="search-subsection">
        <%= render partial: "search", locals: { presenter: @presenter } %>
      </section>
      <section class="reserve-info-subsection">
        <header>
          <span class="list-count">
            <strong><%= @presenter.visit_scope.total_count %></strong>
            <%= t(".found", name: t(".visit").pluralize(@presenter.visit_scope.total_count)) %>
          </span>
        </header>
        <%= render partial: "visits", locals: { visits: @presenter.visits } %>
        <%= paginate @presenter.visit_scope, data: { "turbo-action": "advance" } %>
      </section>
    </section>
  <% end %>
</section>
