<tr class="log" id="<%= dom_id activity %>">
  <td class="log-creator"><%= activity.user_name %></td>
  <td class="log-action"><%= activity.action_name %></td>
  <td class="log-datetime"><%= activity.date %></td>
  <td class="log-button-actions">
    <%= link_to activity.details_page_url, data: { "turbo-frame": "modal-content" } do %>
      <%= image_tag "arrow-right-circle.svg", alt: t("alt.right_facing_arrow"),
        class: "right-arrow", height: "20", width: "20"
      %>
    <% end %>
  </td>
</tr>
