<h2><%= t(".details") %></h2>

<section>
  <div class="field">
    <%= form.label :title, t(".event_title.field_name") %>
    <p>
      <%= form.text_field :title %>
      <span class="explanation"><%= t(".event_title.explanation") %></span>
    </p>
  </div>

  <div class="field">
    <%= form.label :abstract, t(".event_description.field_name") %>
    <p>
      <%= form.text_area :abstract %>
      <span class="explanation"><%= t(".event_description.explanation") %></span>
    </p>
  </div>
</section>

<section>
  <div class="date-fields">
    <div class="field">
      <%= form.label :start_date, t(".start_date") %>
      <%= form.date_field(:start_date, value: presenter.form.start_date, min: Date.today) %>
    </div>
    <span class="separator"></span>
    <div class="field">
      <%= form.label :end_date, t(".end_date") %>
      <%= form.date_field(:end_date, value: presenter.form.end_date, min: Date.today) %>
    </div>
  </div>
</section>

<section>
  <div class="field">
    <%= form.label :discipline, t(".choose_discipline") %>
    <ul>
      <% presenter.disciplines.each do |discipline| %>
        <li>
          <%= form.radio_button :discipline, discipline, id: "discipline-#{discipline}" %>
          <div>

            <label for="discipline-<%= discipline %>"><%= discipline %></label>
            <% if presenter.other_discipline?(discipline) %>
              <div class="other-discipline">
                <%= form.text_field :discipline_other %>
                <%= form.label :discipline_other, "&#8203;".html_safe, id: "discipline_other" %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>

