<tr id="project_<%= project.id %>" class="project">
  <td><%= project.project_type %></td>
  <td><%= link_to project.title, project_path(project.id), target: "_top" %></td>
  <td class="project-visit-date"><%= pluralize(project.visits_count, "visit") %> | <%= tag.strong project.recent_visit_date %> </td>
  <td>@ <%= project.recent_visit_reserve %></td>
  <td><%= project.submitted_at %></td>
  <td>
    <%= link_to project_path(project.id), target: "_top" do %>
      <%= image_tag "arrow-right-circle.svg", alt: t("alt.right_facing_arrow"),
        class: "right-arrow", height: "20px", width: "20px" %>
    <% end %>
  </td>
</tr>
