<table class="projects-table table-style1">
  <thead>
    <tr>
      <th id="project-date"><%= t(".table_headers.submit_date") %></th>
      <th id="project-type"><%= t(".table_headers.type") %></th>
      <th id="project-title"><%= t(".table_headers.title") %></th>
      <th id="project-visit-date"><%= t(".table_headers.num_visits") %>|<%= t(".table_headers.last_visit") %></th>
      <th id="project-recent-visit-reserve"><%= t(".table_headers.recent_visit_reserve") %></th>

      <th id="project-actions"><%= t(".table_headers.actions") %></th>
    </tr>
  <thead>
  <tbody>
    <%= render partial: "projects/project", collection: projects %>
  </tbody>
</table>
