<h2><%= t(".details") %></h2>

<div class="field">
  <%= form.label :title, t(".project_title.field_name") %>
  <p>
    <%= form.text_field :title %>
    <span class="explanation"><%= t(".project_title.explanation") %></span>
  </p>
</div>

<div class="field">
  <%= form.label :thesis_title, t(".thesis_title.field_name") %>
  <p>
    <%= form.text_field :thesis_title %>
    <span class="explanation"><%= t(".thesis_title.explanation") %></span>
  </p>
</div>

<div class="field">
  <%= form.label :abstract, t(".abstract.field_name") %>
  <p>
    <%= form.text_area :abstract %>
    <span class="explanation"><%= t(".abstract.explanation") %></span>
  </p>
</div>

<div class="field">
  <h2><%= t(".choose_discipline") %></h2>
  <ul>
    <% presenter.disciplines.each do |discipline| %>
      <li>
        <%= form.radio_button :discipline, discipline, id: "discipline-#{discipline}" %>
        <%= form.label :discipline, discipline, for: "discipline-#{discipline}" %>

        <% if presenter.other_discipline?(discipline) %>
          <%= form.text_field :discipline_other %>
          <%= form.label :discipline_other, "&#8203;".html_safe %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
