<section class="progress-steps">
  <ol>
    <li class="<%= presenter.step_class(1) %>">
      <%= render presenter.svg(1) %>
      <%= t(".step_1") %>
    </li>
    <li class="<%= presenter.step_class(2) %>">
      <%= render presenter.svg(2) %>
      <%= t(".step_2") %>
    </li>
    <li class="<%= presenter.step_class(3) %>">
      <%= render presenter.svg(3) %>
      <%= t(".step_3") %>
    </li>
    <li class="<%= presenter.step_class(4) %>">
      <%= render presenter.svg(4) %>
      <%= t(".step_4") %>
    </li>
  </ol>
</section>
