<% content_for(:title) { t(".title") } %>

<section class="content">
  <section class="left">
    <%= render partial: "projects_section", locals: { presenter: @presenter } %>
  </section>
  <section class="right">
    <div>
      <%= link_to t(".links.create_a_new_project"), new_project_path, class: "button" %>
      <h2><%= t(".what_are_projects") %></h2>
      <p><%= t(".project_description") %></p>
      <%= link_to "#", class: "help" do %>
        <%= image_tag "blue-help-circle.svg", height: "18px", width: "18px", alt: t(".alt.help_icon") %> <%= t(".links.help") %>
      <% end %>
    </div>
  </section>
</section>
