<% content_for(:title) { t(".title") } %>

<section class="content">
  <section class="left">
    <turbo-frame id="projects-table">
      <header>
        <em><%= t(".title") %></em>
        <form method="get", data-turbo-action="advance" >
          <select id="status" name="status" aria-label="status" onchange="this.form.requestSubmit()">
            <% @presenter.filter_options.each do |option| %>
              <option <%= @presenter.selected?(option) %> value="<%= option %>"><%= option %></option>
            <% end %>
          </select>
        </form>
      </header>
      <table class="projects">
        <thead>
          <tr>
            <th><%= t(".table_headers.title") %></th>
            <th><%= t(".table_headers.timeframe") %></th>
            <th><%= t(".table_headers.type") %></th>
            <th><%= t(".table_headers.num_visits") %></th>
            <th><%= t(".table_headers.recent_visit_date") %></th>
            <th><%= t(".table_headers.recent_visit_reserve") %></th>
            <th></th>
          </tr>
        <thead>
        <%= render partial: "table", locals: { presenter: @presenter } %>
      </table>
      <%= paginate @presenter.project_scope, data: { "turbo-action": "advance" } %>
    </turbo-frame>
  </section>
  <section class="right">
    <div>
      <%= link_to t(".links.create_a_new_project"), new_project_path, class: "button" %>
      <h2><%= t(".what_are_projects") %></h2>
      <p><%= t(".project_description") %></p>
      <%= link_to "#", class: "help" do %>
        <%= image_tag "blue-help-circle.svg", height: "18px", width: "18px", alt: t(".alt.help_icon") %> <%= t(".links.help") %>
      <% end %>
    </div>
  </section>
</section>
