<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>
<h1><%= t(".title") %></h1>

<%= form_with model: @presenter.form, data: { controller: "turbo-content" } do |form| %>
  <% @presenter.project_type_options.each do |project_type| %>
    <label for="project-type-<%= project_type %>">
      <%= form.radio_button :project_type, project_type, id: "project-type-#{project_type}", data: { action: "click->turbo-content#change" }, checked: form.object.project_type == project_type %>
      <span><%= t(".project_type_options.labels.#{project_type}") %></span>
      <span><%= t(".project_type_options.explanation.#{project_type}") %></span>
    </label>
  <% end %>

  <%= turbo_frame_tag "project_type_form", data: { pattern: new_project_path(project_type: "VALUE"), "turbo-content-target": "destination" } do %>
    <section class="<%= @presenter.project_type %>">
      <%= render partial: @presenter.partial_name, locals: {
        form: form,
        presenter: @presenter
      } %>
      <% end %>
      <%= form.submit t(".submit") %>
    </section>
<% end %>

<% content_for :modal do %>
  <%= render partial: "modals/project" %>
<% end %>
