<div class="split-background-sidebar">
  <div class="project container">
    <section class="sidebar">
      <h2 class="main-header"><%= t(".sidebar_title").html_safe %><br /><%= t(".sidebar_subtitle").html_safe %></h2>
      <p class="information"><%= t(".sidebar_information") %></p>
      <h3 class="subheader"><%= t(".sidebar_next_steps") %></h3>
      <ul class="next-steps-list">
        <li><%= t(".sidebar_next_steps_1") %></li>
        <li><%= t(".sidebar_next_steps_2") %></li>
        <li><%= t(".sidebar_next_steps_3") %></li>
        <li><%= t(".sidebar_next_steps_4") %></li>
      </ul>
      <%= link_to new_visit_path, class: "button" do %>
        <%= t(".schedule_a_visit") %>
        <%= image_tag("arrow-right.svg", width: "20px", height: "20px", alt: t("alt.right_facing_arrow")) %>
      <% end %>
      <br />
      <%= link_to t(".view_our_reserves"), reserves_path %>
    </section>
    <section class="content">
      <header>
        <h1 class="main-header"><%= t(".project_summary") %></h1>
        <div class="subheader">
          <span><%= @presenter.project_status %></span>
          <span><%= t(".project_status_request", project_type: @presenter.project_type.capitalize) %>: <%= @presenter.submitted_at %></span>
          <span><%= link_to t(".edit_project"), "#" %></span>
        </div>
      </header>
      <%= render partial: @presenter.partial_name, locals: { presenter: @presenter } %>
      <%= render partial: "projects/team_member_show_table", locals: { presenter: @presenter } %>
      <%= render partial: "projects/funding_show_table", locals: { presenter: @presenter } %>
      <%= render partial: "projects/permit_show", locals: { presenter: @presenter } %>
  </div>
</div>
