<div class="split-background-sidebar">
  <div class="project container">
    <section class="sidebar">
      <%= render partial: @presenter.sidebar_partial, locals: { presenter: @presenter} %>
      <br />
      <%= link_to t(".view_our_reserves"), reserves_path %>
    </section>
    <section class="content">
      <header>
        <h1 class="main-header"><%= t(".project_summary") %></h1>
        <div class="subheader">
          <span><%= @presenter.project_status %></span>
          <span><%= t(".project_status_request", project_type: @presenter.project_type.capitalize) %>: <%= @presenter.submitted_at %></span>
          <span><%= link_to t(".edit_project"), edit_project_path(@presenter.id) %></span>
        </div>
      </header>
      <%= render partial: @presenter.partial_name, locals: { presenter: @presenter } %>
      <%= render partial: "shared/projects/team_member_show_table", locals: { presenter: @presenter } %>
      <%= render partial: "shared/projects/funding_show_table", locals: { presenter: @presenter } %>
      <%= render partial: "shared/projects/permit_show", locals: { presenter: @presenter } %>
      <%= render partial: "shared/projects/reserve_question_show", locals: { presenter: @presenter } %>
      <%= render partial: "shared/projects/visit_show_table", locals: { presenter: @presenter } %>
    </section>
  </div>
</div>
