<section class="content">
  <%= render partial: 'manager/reserve_info/header' %>
  <div>
    <section class="reserve-info-menu">
      <%= render partial: 'manager/reserve_info/menu' %>
    </section>
    <section class="reserve-info">
      <header><%= t(".reserve_details") %></header>
      <%= form_with model: @presenter.form_reserve, url: manager_reserve_reserve_info_reserve_details_path(current_reserve) do |f| %>
        <section class="reserve-info-subsection">
          <header class="with-form-group-pad">
            <%= t(".alert_message") %>
            <small><%= t(".alert_message_subheader") %></small>
          </header>
          <div class="row">
            <div class="form-group">
              <%= f.radio_button(:reserve_alert_message_enabled, true, class: "custom-control-input") %>
              <%= f.label(:reserve_alert_message_enabled_true, t(".show"), class:"custom-control-label") %>
            </div>
            <div class="form-group">
              <%= f.radio_button(:reserve_alert_message_enabled, false, class: "custom-control-input") %>
              <%= f.label(:reserve_alert_message_enabled_false, t(".hide"), class:"custom-control-label") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :reserve_alert_message, t(".message"), class: "form-label" %>
            <%= f.text_area :reserve_alert_message, class: "form-textarea" %>
          </div>
          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
        <section class="reserve-info-subsection">
          <header class="with-form-group-pad"><%= t(".general_information") %></header>
          <div class="input-group">
            <div class="form-group">
              <%= f.label :reserve_name, t(".reserve_name"), class: "form-label" %>
              <%= f.text_field :reserve_name, placeholder: @presenter.reserve_name, disabled: :disabled, class: "form-input" %>
            </div>
            <div class="row">
              <div class="col form-group">
                <%= f.label :managing_campus_name, t(".managing_campus"), class: "form-label" %>
                <%= f.text_field :managing_campus_name, placeholder: @presenter.managing_campus_name, disabled: :disabled, class: "form-input" %>
              </div>
              <div class="col form-group">
                <%= f.label :department, t(".department"), class: "form-label" %>
                <%= f.text_field :department, class: "form-input" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.check_box :public_calendar_access %>
              <%= f.label :public_calendar_access, t(".show_public_reserve_calendar") %>
            </div>
          </div>
          <div class="input-group">
            <div class="row" data-controller="followup-content">
              <div class="col">
                <div class="row">
                  <div class="col-50 form-group">
                  <%= f.label :address_country_id, t(".country"), class: "form-label" %>
                  <%= f.collection_select(
                        :address_country_id,
                        Country.alphabetical_by_name,
                        :id,
                        :name,
                        { selected: f.object.address_country_id, prompt: t(".please_select") },
                        { data: { action: "change->followup-content#change" }, class: "form-input" },
                      )
                  %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :address_line_1, t(".address"), class: "form-label" %>
                  <%= f.text_field :address_line_1, class: "form-input" %>
                  <label class="form-label"></label>
                  <%= f.text_field :address_line_2, class: "form-input" %>
                </div>
                <div class="row">
                  <div class="col-50 form-group">
                    <%= f.label :address_city, t(".city"), class: "form-label" %>
                    <%= f.text_field :address_city, class: "form-input" %>
                  </div>
                  <div class="col-25 form-group">
                    <%= f.label :address_state_id, t(".state"), class: "form-label" %>
                    <%= f.collection_select(
                          :address_state_id,
                          @presenter.address_state_options,
                          :id,
                          :name,
                          { selected: f.object.address_state_id },
                          { data: { followup_content_target: "destination", "followup-content-url-value": states_url(country_id: "VALUE") }, class: "form-input" },
                        ) %>
                  </div>
                  <div class="col-25 form-group">
                    <%= f.label :address_postal_code, t(".postal_code"), class: "form-label" %>
                    <%= f.text_field :address_postal_code, class: "form-input" %>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-50 form-group">
                    <%= f.label :phone_number, t(".phone"), class: "form-label" %>
                    <%= f.text_field :phone_number, class: "form-input" %>
                  </div>
                  <div class="col-50 form-group">
                    <%= f.label :fax_number, t(".fax"), class: "form-label" %>
                    <%= f.text_field :fax_number, class: "form-input" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :email_address, t(".reserve_email"), class: "form-label" %>
                  <%= f.text_field :email_address, class: "form-input" %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :doi, t(".reserve_doi"), class: "form-label" %>
            <%= f.text_field :doi, class: "form-input" %>
          </div>
          <div class="form-group">
            <%= f.label :zotero_url, t(".zotero_url"), class: "form-label" %>
            <%= f.text_field :zotero_url, class: "form-input" %>
          </div>
          <div class="row">
            <div class="col form-group">
              <%= f.label :zotero_login, t(".zotero_username"), class: "form-label" %>
              <%= f.text_field :zotero_login, class: "form-input" %>
            </div>
            <div class="col form-group">
              <%= f.label :zotero_password, t(".zotero_password"), class: "form-label" %>
              <%= f.text_field :zotero_password, class: "form-input" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :ldap_address, t(".reserve_ldap"), class: "form-label" %>
            <%= f.text_field :ldap_address, class: "form-input" %>
          </div>
          <div class="form-group">
            <%= f.label :outside_reservation_system_url, t(".outside_reservation_system_url"), class: "form-label" %>
            <%= f.text_field :outside_reservation_system_url, class: "form-input" %>
          </div>
          <div class="form-group">
            <%= f.label :outside_reservation_system_text, t(".outside_reservation_system_text"), class: "form-label" %>
            <%= f.text_field :outside_reservation_system_text, class: "form-input" %>
          </div>
          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
        <section class="reserve-info-subsection">
          <header class="with-form-group-pad"><%= t(".billing_information") %></header>
          <div data-controller="followup-content" class="row input-group">
            <div class="col-50">
              <div class="form-group">
                <%= f.label :bill_name, t(".name"), class: "form-label" %>
                <%= f.text_field :bill_name, class: "form-input" %>
              </div>
              <div class="row">
                <div class="col-50 form-group">
                  <%= f.label :billing_address_country_id, t(".country"), class: "form-label" %>
                  <%= f.collection_select(
                                          :billing_address_country_id,
                                          Country.alphabetical_by_name,
                                          :id,
                                          :name,
                                          { selected: f.object.billing_address_country_id, prompt: t(".please_select") },
                                          { data: { action: "change->followup-content#change" }, class: "form-input" },
                  ) %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :billing_address_line_1, t(".billing_address"), class: "form-label" %>
                <%= f.text_field :billing_address_line_1, class: "form-input" %>
                <label class="form-label"></label>
                <%= f.text_field :billing_address_line_2, class: "form-input" %>
              </div>
              <div class="row">
                <div class="col-50 form-group">
                  <%= f.label :billing_city, t(".city"), class: "form-label" %>
                  <%= f.text_field :billing_city, class: "form-input" %>
                </div>
                <div class="col-25 form-group">
                  <%= f.label :billing_address_state_id, t(".state"), class: "form-label" %>
                  <%= f.collection_select(
                                          :billing_address_state_id,
                                          @presenter.billing_address_state_options,
                                          :id,
                                          :name,
                                          { selected: f.object.billing_address_state_id },
                                          { data: { followup_content_target: "destination", "followup-content-url-value": states_url(country_id: "VALUE") }, class: "form-input" },
                  ) %>
                </div>
                <div class="col-25 form-group">
                  <%= f.label :billing_address_postal_code, t(".postal_code"), class: "form-label" %>
                  <%= f.text_field :billing_address_postal_code, class: "form-input" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-50 form-group">
              <%= f.label :check_payable_to_name, t(".checks_are_made_payable_to_name"), class: "form-label" %>
              <%= f.text_field :check_payable_to_name, class: "form-input" %>
            </div>
            <div class="col-25 form-group">
              <%= f.label :tax_id_number, t(".tax_id_number"), class: "form-label" %>
              <%= f.text_field :tax_id_number, class: "form-input" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :invoice_message, t(".invoice_payment_directions"), class: "form-label" %>
            <%= f.text_area :invoice_message, class: "form-input" %>
          </div>
          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
        <section class="reserve-info-subsection site-content">
          <header class="with-form-group-pad">
            <h1><%= t(".site_content") %></h1>
            <p class="support-text"><%= t(".upload_support_text") %></p>
          </header>
          <div class="row">
            <div class="col form-group">
              <span class="form-label"><%= t(".large_hero_photo") %></span>
              <div class="reserve-pictures">
                <%= image_tag @presenter.hero_photo, height: "100", width: "150" %>
                <%= f.file_field :large_hero_photo %>
              </div>
            </div>
            <div class="col form-group">
              <span class="form-label"><%= t(".listing_photo") %></span>
              <div class="reserve-pictures">
                <%= image_tag @presenter.listing_photo, height: "100", width: "150" %>
                <%= f.file_field :listing_photo %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, t(".short_description"), class: "form-label" %>
            <%= f.text_area :description, class: "form-input" %>
          </div>
          <div class="form-group">
            Tags
          </div>

          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
        <section class="reserve-info-subsection">
          <header class="with-form-group-pad"><%= t(".directions") %></header>
          <div>
            <div class="form-group">
              <%= f.label :directions_url, t(".directions_url"), class: "form-label" %>
              <%= f.text_field :directions_url, class: "form-input" %>
            </div>
            <div class="form-group">
              <%= f.label :directions, t(".directions"), class: "form-label" %>
              <%= f.text_area :directions, class: "form-input" %>
            </div>
          </div>
          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
        <section class="reserve-info-subsection">
          <header class="with-form-group-pad"><%= t(".location") %></header>
          <div class="row">
            <div class="col form-group">
              <%= f.label :latitude, t(".latitude"), class: "form-label" %>
              <%= f.text_field :latitude, class: "form-input" %>
            </div>
            <div class="col">
              <div class="row">
                <div class="col form-group">
                  <%= f.label :latitude_degrees, t(".degrees"), class: "form-label" %>
                  <%= f.text_field :latitude_degrees, class: "form-input", disabled: "disabled" %>
                </div>
                <div class="col form-group">
                  <%= f.label :latitude_minutes, t(".minutes"), class: "form-label" %>
                  <%= f.text_field :latitude_minutes, class: "form-input", disabled: "disabled" %>
                </div>
                <div class="col form-group">
                  <%= f.label :latitude_seconds, t(".seconds"), class: "form-label" %>
                  <%= f.text_field :latitude_seconds, class: "form-input", disabled: "disabled" %>
                </div>
                <div class="col form-group">
                  <%= f.label :latitude_hemisphere, t(".hemisphere"), class: "form-label" %>
                  <%= f.text_field :latitude_hemisphere, class: "form-input", disabled: "disabled" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <%= f.label :longitude, t(".longtitude"), class: "form-label" %>
              <%= f.text_field :longitude, class: "form-input" %>
            </div>
            <div class="col">
              <div class="row">
                <div class="col form-group">
                  <%= f.label :longitude_degrees, t(".degrees"), class: "form-label" %>
                  <%= f.text_field :longitude_degrees, class: "form-input", disabled: "disabled" %>
                </div>
                <div class="col form-group">
                  <%= f.label :longitude_minutes, t(".minutes"), class: "form-label" %>
                  <%= f.text_field :longitude_minutes, class: "form-input", disabled: "disabled" %>
                </div>
                <div class="col form-group">
                  <%= f.label :longitude_seconds, t(".seconds"), class: "form-label" %>
                  <%= f.text_field :longitude_seconds, class: "form-input", disabled: "disabled" %>
                </div>
                <div class="col form-group">
                  <%= f.label :longitude_hemisphere, t(".hemisphere"), class: "form-label" %>
                  <%= f.text_field :longitude_hemisphere, class: "form-input", disabled: "disabled" %>
                </div>
              </div>
            </div>
          </div>
          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
        <section class="reserve-info-subsection">
          <header class="with-form-group-pad">
            <%= t(".amenities") %>
            <small>
              <%= t(".amenities_small_info") %>
            </small>
          </header>
          <div class="col form-group">
            <%= f.label :amenity_group_label_1, t(".amenity_group_name_1"), class: "form-label" %>
            <%= f.text_field :amenity_group_label_1, class: "form-input" %>
          </div>
          <div class="col form-group">
            <%= f.label :amenity_group_label_2, t(".amenity_group_name_2"), class: "form-label" %>
            <%= f.text_field :amenity_group_label_2, class: "form-input" %>
          </div>
          <div class="col form-group">
            <%= f.label :amenity_group_label_3, t(".amenity_group_name_3"), class: "form-label" %>
            <%= f.text_field :amenity_group_label_3, class: "form-input" %>
          </div>
          <div class="col form-group">
            <%= f.label :amenity_group_label_4, t(".amenity_group_name_4"), class: "form-label" %>
            <%= f.text_field :amenity_group_label_4, class: "form-input" %>
          </div>
          <div class="col form-group">
            <%= f.label :amenity_group_label_5, t(".amenity_group_name_5"), class: "form-label" %>
            <%= f.text_field :amenity_group_label_5, class: "form-input" %>
          </div>
          <div class="with-form-group-pad">
            <button><%= t(".save_changes") %></button>
          </div>
        </section>
      <% end %>
    </section>
  </div>
</section>
