<section class="content">
  <%= render partial: 'manager/reserve_info/header' %>
  <div>
    <section class="reserve-info-menu">
      <%= render partial: 'manager/reserve_info/menu' %>
    </section>
    <section class="reserve-info">
      <header><%= t(".reserve_details") %></header>

      <%= turbo_frame_tag "reserve-details-edit-form-container" do %>
        <%= render partial: "reserve_details_edit_form", locals: { presenter: @presenter } %>
      <% end %>

    </section>
  </div>
</section>
