<tr class="amenity_visit">
  <td style="border-bottom: 1px solid #aab7bb; padding: .75rem .75rem .75rem 0;"><%= amenity_visit.amenity_title %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: .75rem .75rem .75rem 0;"><%= amenity_visit.requested_date_range %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: .75rem .75rem .75rem 0;"><%= amenity_visit.rate_in_dollar %> <%= amenity_visit.per_sentence %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: .75rem .75rem .75rem 0;"><%= amenity_visit.number_of_people %></td>
  <td style="border-bottom: 1px solid #aab7bb; padding: .75rem .75rem .75rem 0;"><%= amenity_visit.cost_in_dollar %></td>
</tr>
