<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>
    <section class="calendar-modal">
      <header class="modal-header">
        <h1><%= presenter.reserve_name %></h1>
        <h1><%= presenter.timeframe(:date_month_hour) %></h1>
      </header>
      <section class="visit-information">
        <div>
          <%= t("universal.project.project_types.#{presenter.project_type}") %> Visit
        </div>
        <div>
          <%= tag.span t("universal.visit.statuses.#{presenter.status}"),
            class: "pill #{presenter.status}"
          %>
        </div>
      </section>
      <hr />

      <section class="visitor-amenity-list-section">
        <header>
          <h2><%= t(".visitor_list") %></h2>
        </header>
        <% presenter.user_visits? && presenter.user_visits.each do |user_visit| %>
          <div class="visitor-amenity-list">
            <span>
              <%= t("universal.roles.#{user_visit.role}") %>
              <% if user_visit.count > 1 %>
                <%= t(".group_of", count: user_visit.count) %>
              <% end %>
            </span>
            <span><%= user_visit.date_range %></span>
          </div>
        <% end %>
      </section>

      <section class="visitor-amenity-list-section">
        <header>
          <h2><%= t(".amenities") %></h2>
        </header>
        <% presenter.amenity_visits.each do |amenity_visit| %>
          <div class="visitor-amenity-list">
            <span><%= amenity_visit.amenity_title %></span>
            <span><%= amenity_visit.number_of_people %></span>
            <span><%= amenity_visit.requested_date_time_range %></span>
          </div>
        <% end %>
      </section>
    </section>
  </div>
</turbo-frame>
