<header class="content-header">
  <div>
    <h2><%= t(".visits") %></h2>
  </div>
  <ul class="link-group" data-controller="active-tab" data-active-tab-selected-value=<%= selected_tab %>>
    <li id="dashboard">
      <%= link_to image_tag('icon-dash-on.svg', alt: I18n.t(".alt.icon_dash"), class: "tab-icon"),
        manager_reserve_dashboard_path(current_reserve),
        data: {
          "active-tab-target": "tab",
          index: 0,
          action: "click->active-tab#activeCalendar"
        }
      %>
    </li>
    <li id="list">
      <%= link_to image_tag('icon-list-off.svg', alt: I18n.t("alt.icon_list"), class: "tab-icon"),
        manager_reserve_dashboard_visits_path(current_reserve),
        data: {
          "turbo-frame": "dashboard-content",
          "turbo-action": "replace",
          "active-tab-target": "tab",
          index: 1,
          action: "click->active-tab#activeCalendar"
        }
      %>
    </li>
    <li id="calendar">
      <%= link_to image_tag('icon-calendar-off.svg', alt: I18n.t(".alt.icon_calendar"), class: "tab-icon"),
        manager_reserve_dashboard_calendar_path(start_date: Date.current),
        data: { "turbo-frame": "dashboard-content",
          "turbo-action": "replace", "active-tab-target": "tab", index: 2, action: "click->active-tab#activeCalendar" }
      %>
    </li>
  </ul>
</header>
