<%= turbo_frame_tag 'calendar' do %>
  <header>
    <%= form_with url: reserve_path(id: @presenter.current_reserve), method: :get, data: { "turbo-frame": "_top" } do %>
      <%= hidden_field_tag "start_date", @presenter.start_date %>
      <%= render partial: "reserves/calendar/unauthorize/reserve_filter", locals: { presenter: @presenter } %>
    <% end %>
  </header>
  <%= month_calendar @presenter.calendar_params do |date, visits| %>
    <% @presenter.add_date_visits(date: date, visits: visits) %>
    <span class="date-text" ><strong><%= date.day %></strong></span>
    <%= render partial: "reserves/calendar/unauthorize/bar", collection: @presenter.visits_link_params %>
  <% end %>
<% end %>
