<div class="d-flex-end">
  <h4 class="m-right"><%= t(".labels.by_reserve") %></h4>
  <select id="reserve_filter" name="reserve_filter" aria-label="reserve_filter" class="drop-down" onchange="this.form.requestSubmit()">
    <optgroup label="<%= t(".labels.by_reserve") %>">
      <% presenter.reserve_list.each do |key, value| %>
        <option <%= presenter.reserve_selected("#{value}") %> value="<%= value %>"><%= key %></option>
      <% end %>
    </optgroup>
  </select>
</div>
