<tr id="<%= dom_id reserve_addendum %>">
  <td><%= reserve_addendum.sort_order %></td>
  <td><%= reserve_addendum.name %></td>
  <td>
    <%= link_to t("edit"),
      edit_manager_reserve_reserve_info_reserve_addendum_path(current_reserve, reserve_addendum.id),
      data: { "turbo-frame": "modal-content" }
    %>
    <%= link_to t("delete"),
      manager_reserve_reserve_info_reserve_addendum_path(current_reserve, reserve_addendum.id),
      method: :delete,
      data: { confirm: t("confirm_removal", name: reserve_addendum.name) }
    %>
  </td>
</tr>
