<table class="invoices">
  <thead>
    <tr>
      <th><%= t(".status") %></th>
      <th><%= t(".invoice_id") %></th>
      <th><%= t(".invoice_date") %></th>
      <th><%= t(".amenity_visit_date") %></th>
      <th><%= t(".balance") %></th>
      <td></td>
    </tr>
  </thead>
  <%= render partial: "shared/manager/invoices/invoice",
    collection: presenter.selected_invoices,
    locals: { presenter: presenter }
  %>
  <tfoot>
    <tr>
      <td colspan="3"></td>
      <td class="total-balance-label"><%= t(".total_balance") %></td>
      <td class="total-balance"><%= number_to_currency presenter.selected_invoices.sum(&:balance_due) %></td>
    </tr>
  </tfoot>
</table>
