<% content_for(:title) { t(".title") } %>
<h1><%= t(".title") %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="instructions">
    <%= t(".instructions") %>
    <%= link_to t(".create_an_account"), new_user_registration_path %>
  </section>

  <div class="field">
    <%= f.label :email, t(".email") %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field" data-controller="passwords">
    <%= f.label :password, t(".password") %>
    <div class="input-with-buttons">
      <%= f.password_field :password, data: { "passwords-target": "input" } %>
      <%= image_tag "hide-password.svg", class: "input-icon", data: { action: "click->passwords#togglePasswordDisplay", "passwords-target": "icon", info: { show_url: image_url("show-password.svg"), hide_url: image_url("hide-password.svg") } }, alt: t(".password_visibility_alt") %>
    </div>
  </div>


  <section class="extra_actions">
    <%= link_to t(".forgot_password"), new_user_password_path %>
  </section>

  <div class="actions">
    <%= f.submit t(".submit") %>
  </div>

  <section class="legal">
    <p>
      <span><%= I18n.t(".footer.link.all_rights", year: Date.current.year) %></span>
    </p>
    <p>
      <span><%= link_to I18n.t(".footer.link.terms_of_use"), "https://ucnature.org/ucnrs-websites-terms-of-use/" %></span>
      <span>
        <%= link_to I18n.t(".footer.link.privacy_policy_short"), href: "https://ucnature.org/rams-privacy-statement/" do %>
          <span id="privacy-long" class="hide-765"><%= I18n.t(".footer.link.privacy_policy") %></span>
          <span id="privacy-short" class="display-none show-765"><%= I18n.t(".footer.link.privacy_policy_short") %></span>
        <% end %>
      </span>
    </p>
  </section>

<% end %>
