<% content_for(:title) { t(".title") } %>
<h1><%= t(".title") %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="instructions">
    <%= t(".instructions") %>
    <%= link_to t(".create_an_account"), new_user_registration_path %>
  </section>

  <div class="field">
    <%= f.label :email do %>
      <span><%= t(".email_address") %></span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password do %>
      <span><%= t(".password") %></span>
      <%= f.password_field :password %>
    <% end %>
  </div>

  <section class="extra_actions">
    <%= link_to t(".forgot_password"), new_user_password_path %>
  </section>

  <div class="actions">
    <%= f.submit t(".submit") %>
  </div>
<% end %>
