<section>
  <ul class="project-menu-bar">
    <li class="tab"><button class="nav-link"><%= t(".summary") %></button></li>
    <li class="tab"><button class="nav-link"><%= t(".visits") %></button></li>
    <li class="tab"><button class="nav-link"><%= t(".details") %></button></li>
    <li class="tab"><button class="nav-link"><%= t(".team") %></button></li>
    <li class="tab"><button class="nav-link"><%= t(".permits") %></button></li>
    <li class="tab"><button class="nav-link"><%= t(".funding") %></button></li>
    <li class="tab"><button class="nav-link"><%= t(".activity_and_notes") %></button></li>
  </ul>
</section>
