<section>
  <ul class="project-menu-bar">
    <li ><%= link_to( t(".summary"), 
      '#',
      { class: "nav-link active"})%>
    </li>
    <li ><%= link_to( t(".visits"), 
      '#',
      { class: "nav-link"})%>
    </li>
    <li ><%= link_to( t(".details"), 
      '#',
      { class: "nav-link"})%>
    </li>
    <li ><%= link_to( t(".team"), 
      '#',
      { class: "nav-link"})%>
    </li>
    <li ><%= link_to( t(".permits"), 
      '#',
      { class: "nav-link"})%>
    </li>
    <li ><%= link_to( t(".funding"), 
      '#',
      { class: "nav-link"})%>
    </li>
    <li ><%= link_to( t(".activity_and_notes"), 
      '#',
      { class: "nav-link"})%>
    </li>
  </ul>
</section>
