<tr id="<%= dom_id project %>" class="project">
  <td><%= tag.strong project.submitted_at %></td>
  <td>
    <%= link_to project.applicant_name,
      edit_manager_reserve_user_path(current_reserve, project.applicant_id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td>
    <%= project.project_type %>
    |
    <%= link_to project.title,
      manager_reserve_project_path(current_reserve, project.id),
      data: { "turbo-frame" => "_top" }
    %>
  </td>
  <td>
    <%= link_to pluralize(project.visits_count, "visit"),
      manager_reserve_user_activities_path(current_reserve, project.applicant_id),
      target: "_top"
    %>
    |
    <%= project.recent_visit_date %>
  </td>
</tr>
