<%= turbo_frame_tag 'projects-index' do %>
  <section class="content full">
    <header>
      <h1><%= t(".projects") %></h1>
    </header>
    <hr />
    <section class="projects-search-list">
      <section class="search-subsection">
        <%= render partial: "search", locals: { presenter: @presenter } %>
      </section>
      <section class="reserve-info-subsection">
        <header>
          <span class="list-count">
            <strong><%= @presenter.project_scope.total_count %></strong>
            <%= t(".found", name: t('.project').pluralize(@presenter.project_scope.total_count)) %>
          </span>
        </header>
        <%= render partial: "projects_table", locals: { projects: @presenter.projects } %>
        <%= paginate @presenter.project_scope, data: { "turbo-action": "advance" } %>
      </section>
    </section>
  </section>
<% end %>
