<section class="content">
  <%= render partial: "manager/projects/summary_box", locals: { presenter: @presenter } %>
  <%= render "manager/projects/menu" %>
  <p><%= @presenter.project_info %></p>
  <%= render partial: @presenter.partial_name, locals: { presenter: @presenter } %>
  <%= render partial: "shared/projects/team_member_show_table", locals: { presenter: @presenter } %>
  <%= render partial: "shared/projects/funding_show_table", locals: { presenter: @presenter } %>
  <%= render partial: "shared/projects/permit_show", locals: { presenter: @presenter } %>
  <%= render partial: "shared/projects/reserve_question_show", locals: { presenter: @presenter } %>
</section>
