<section data-controller="turbo-content copy-first copy-second">
  <section class="visit-form">
    <%= form.hidden_field :id, value: @presenter.id %>
    <div class="project-type-options"  data-purpose="project_type" data-controller="value-projection" data-value-projection-projected-value="<%= form.object.project_type %>">
      <% unless presenter.editing %>
        <div class="row">
          <%= render partial: presenter.project_type_partial_path, locals: { presenter: presenter, form: form} %>
        </div>
      <% end %>
      <div class="field project_select">
        <%= render partial: presenter.project_partial_path, locals: { presenter: presenter, form: form} %>
      </div>
    </div>
    <h3><%= t(".titles.purpose") %></h3>
    <div class="text-area">
      <div><%= form.label :purpose_of_visit, t(".labels.purpose_of_visit") %></div>
      <%= form.text_area :purpose_of_visit %>
    </div>
  </section>

  <span data-controller="followup-content">
    <section class="reserve-info progress-steps">
      <div><h3><%= presenter.reserve_header %><% if presenter.show_browse_reserve_link %> <%= link_to t(".links.browse_reserves"), "#" %><% end %></h3></div>
      <div class="display-row-flex">
        <div class="field">
          <%= form.hidden_field(:reserve_id, value: current_reserve.id) %>
          <h2><%= link_to current_reserve.name, reserve_path(current_reserve.id)  %></h2>
        </div>
        <div class="date-range-select">
          <div class="field">
            <%= form.label :start_date, t(".labels.arrival"), class:"reserve-lable" %>
            <div class="date-time-select">
              <%= form.date_field(:start_date, value: presenter.start_date, data: { action: "change->copy-first#copy" }) %>
              <%= form.collection_select(:start_time, presenter.time_options, :value, :human, aria: { label: t(".aria.arrival_time") }) %>
            </div>
          </div>
          <span class="separator"></span>
          <div class="field">
            <%= form.label :end_date, t(".labels.departure") %>
            <div class="date-time-select">
              <%= form.date_field(:end_date, value: presenter.end_date, data: { action: "change->copy-second#copy" }) %>
              <%= form.collection_select(:end_time, presenter.time_options, :value, :human, aria: { label: t(".aria.departure_time") }) %>
            </div>
          </div>
        </div>
      </div>
      <div data-followup-content-target="destination" data-followup-content-url-value="<%= visits_reserve_input_url("VALUE") %>" class="reserve-specific-fields">
        <%= render partial: "visits/reserve_inputs/fields", locals: { form_values: presenter.form, presenter: presenter } %>
      </div>
    </section>
    <section class="visit-form">
      <h2><%= t(".visitors_list") %></h2>
      <table id="amenities-summary-table" class="summary-table">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".date_range") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "shared/visits/user_visits/user_visit_dates", collection: presenter.user_visits, as: :user_visit %>
        </tbody>
      </table>
    </section>
    <section class="amenities visit-form" data-followup-content-target="destination" data-followup-content-url-value="<%= visits_amenities_url(reserve_id: "VALUE") %>">
      <section class="amenity-options" >
        <% presenter.amenities_by_group_label.each do |group_label, amenities| %>
          <%= render partial: "visits/amenities/amenities", locals: { group_label: group_label, amenities: amenities } %>
        <% end %>
      </section>
    </section>
  </span>

</section>
