<tr id="<%= dom_id institution %>">
  <td><strong><%= institution.name %></strong></td>
  <td><%= t("universal.institution_types")[:"#{institution.institution_type}"] %></td>
  <td><%= institution.city %>, <%= institution.state_name %></td>
  <td><%= institution.country_name %></td>
  <td>
    <%= link_to "#" do %>
      <%= image_tag "arrow-right-circle.svg", alt: t("alt.right_facing_arrow"), height: "20", width: "20" %>
    <% end %>
  </td>
</tr>
