<form method="get" data-controller="toggle" data-turbo-action="advance">
  <div class="search-primary">
    <div class="first">
      <div class="row mb-0">
        <div class="row-medium input-with-buttons search">
          <input type="text" name="filter[institution_search]" value="<%= presenter.institution_search_filter %>" placeholder="Search"/>
        </div>
        <div class="row-auto">
          <%= link_to t(".show_options"), "#",
            "data-action": "click->toggle#toggle", "data-toggle-target": "toggle", "data-toggle-class": "show",
            class: "button button-inline button-clear #{ presenter.filter_present? ? "loadhide" : "show" }",
            id: "show_button"
          %>
          <%= link_to t(".hide_options"), "#",
            "data-action": "click->toggle#toggle", "data-toggle-target": "toggle", "data-toggle-class": "show",
            class: "button button-inline button-clear #{ presenter.filter_present? ? "show" : "loadhide" }",
            id: "hide_button"
          %>
        </div>
      </div>
    </div>
    <div class="second">
      <select id="search_sort_by" name="filter[institution_sort_by]" aria-label="institution_sort_by" onchange="this.form.requestSubmit()">
        <%= options_for_select presenter.institution_sort_by_options, presenter.institution_sort_by_filter %>
      </select>
    </div>
  </div>
  <div class="search-secondary <%= "show" if presenter.filter_present? %>" data-toggle-target="toggle" data-toggle-class="show">
    <div class="row">
      <div class="row-medium">
        <label for="institution_country"><%= t(".country") %></label>
        <select id="institution_country" name="filter[institution_country]" aria-label="show" onchange="this.form.requestSubmit()">
          <%= options_for_select(presenter.institution_country_options, presenter.institution_country_filter) %>
        </select>
      </div>
      <div class="row-medium">
        <label for="institution_state"><%= t(".state") %></label>
        <select id="institution_state" name="filter[institution_state]" aria-label="show" onchange="this.form.requestSubmit()" <%= "disabled" unless presenter.country_have_states? %>>
          <%= options_for_select(presenter.institution_state_options, presenter.institution_state_filter) %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="row-medium">
        <label for="institution_type"><%= t(".institution_type") %></label>
        <select name="filter[institution_type]" aria-label="institution_type" onchange="this.form.requestSubmit()">
          <%= options_for_select(presenter.institution_type_options, presenter.institution_type_filter) %>
        </select>
      </div>
    </div>
    <div>
      <%= link_to t(".clear"), manager_reserve_institutions_path(current_reserve) %>
    </div>
  </div>
</form>
