<%= turbo_frame_tag 'institutions-index' do %>
  <section class="content full">
    <header>
      <h1><%= t(".institutions") %></h1>
    </header>
    <hr />
    <%= turbo_frame_tag 'dashboard-content' do %>
      <section class="visits-search-list">
        <section class="search-subsection">
          <%= render partial: "search", locals: { presenter: @presenter } %>
        </section>
        <section class="reserve-info-subsection">
          <%= render partial: "institutions", locals: { presenter: @presenter } %>
        </section>
      </section>
    <% end %>
  </section>
<% end %>
