<%= form_with model: presenter.form, url: presenter.form_url, id: "visits-questions-form", class: "d-flex-col" do |form| %>
  <section>
    <header>
      <h2><%= t(".reserve_questions") %></h2>
    </header>

    <% if presenter.has_reserve_questions_for_visit? %>
      <% presenter.reserve_questions_by_location.each do |location, questions| %>
        <%= render partial: "shared/visits/questions/group",
          locals: {
            title: t(".location.#{location}"),
            questions: questions,
          }
        %>
      <% end %>

    <% else %>
      <p id="no-questions"><%= t(".no_reserve_questions") %></p>

    <% end %>
  </section>

  <section>
    <header>
      <h2><%= t(".permit_questions") %></h2>
    </header>

    <% if presenter.has_permit_questions_for_project? %>
      <section>
        <% presenter.permit_questions_by_authority.each do |authority, questions| %>
          <%= render partial: "projects/questions/group",
            locals: {
              title: t(".authority.#{authority}"),
              questions: questions
            }
          %>
        <% end %>
      </section>
      <section>
        <div class="field">
          <%= form.label :approved_permits %>
          <p>
            <%= form.text_area :approved_permits %>
            <span class="explanation"><%= t(".permit_statement") %></span>
          </p>
        </div>
      </section>

    <% else %>
      <input name="project[no_questions]" value="" type="hidden"/>
      <p><%= t(".no_permit_questions") %></p>

    <% end %>
  </section>
<% end %>
