<%= fields_for "visit[#{question.location}_reserve_answers][#{question.id}]", question.form do |f| %>
  <div class="question"
    data-controller="value-projection"
    data-value-projection-projected-value="<%= f.object.answer if question.question_type == 'boolean' %>"
  >
    <%= render partial: "shared/visits/questions/#{question.question_type}", locals: { question: question, f: f } %>
    <div class="description">
      <%= question.description %>
      <ul>
        <% question.urls.each do |url, description| %>
          <li><%= link_to description, url, target: "_blank" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
