<div class="field">
  <%= f.label :text_answer do %>
    <%= question.question %>
    <%= tag.span " *", class: "clr-red" if question.answer_required %>
  <% end %>
  <span class="explanation"><%= question.statement %></span>
  <%= f.text_area :text_answer, aria: { label: t(".aria_label_for", question: question.id) } %>
</div>
