<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form,
      url: manager_reserve_reserve_info_reserve_questions_path(current_reserve),
      method: :post do |form|
    %>
      <section>
        <header class="modal-header">
          <h2 class="modal-title"><%= t(".title") %></h2>
        </header>
        <%= render partial: "reserve_question_field", locals: { form: form, presenter: presenter } %>
      </section>
      <section class="buttons">
        <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
        <%= button_tag t("create"), class: "active", type: "submit" %>
      </section>
    <% end %>
  </div>
</turbo-frame>
