<ul class="list-group">
  <li class="list-item"><%= active_link_to_by_url t(".reserve_details"), edit_manager_reserve_reserve_info_reserve_details_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".amenities_and_rates"), manager_reserve_reserve_info_amenities_and_rates_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".waivers"), manager_reserve_reserve_info_waivers_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".rules_and_regulations"), edit_manager_reserve_reserve_info_rules_and_regulations_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".permits"), manager_reserve_reserve_info_permits_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".reserve_questions"), manager_reserve_reserve_info_reserve_questions_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".staff_and_notifications"), manager_reserve_reserve_info_staff_and_notifications_path(current_reserve) %></li>
  <li class="list-item"><%= active_link_to_by_url t(".reserve_addendums"), manager_reserve_reserve_info_reserve_addendums_path(current_reserve) %></li>
</ul>
