<turbo-frame id="reserve_questions-table">
  <table class="reserve_questions_table">
    <thead>
      <tr>
        <th><%= t(".location") %></th>
        <th><%= t(".order") %></th>
        <th><%= t(".type") %></th>
        <th><%= t(".question") %></th>
        <th><%= t(".status") %></th>
        <th>
          <%= link_to(
            t(".new"),
            new_manager_reserve_reserve_info_reserve_question_path(current_reserve),
            data: { "turbo-frame": "modal-content" }
          ) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% reserve_questions.each do |location, reserve_questions | %>
        <tr><td colspan="6"><%= location.capitalize %></td></tr>
        <%= render partial: "reserve_question_row", collection: reserve_questions %>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
