<tr>
  <td>
    <strong><%= reserve_question_row.location.capitalize %></strong>
    <% reserve_question_row.location_project_types.each do |project_type| %>
      <li><%= project_type %></li>
    <% end %>
  </td>
  <td>
    <%= reserve_question_row.sort_order %>
  </td>
  <td>
    <%= reserve_question_row.type %>
  </td>
  <td>
    <strong><%= reserve_question_row.question %></strong>
    <br />
    <small><%= reserve_question_row.statement %></small>
  </td>
  <td>
    <%= reserve_question_row.visible ? t(".enabled") : t(".disabled") %>
    <br />
    <%= reserve_question_row.answer_required ? t(".required") : t(".optional") %>
  </td>
  <td>
    <%= link_to(
      t("edit"), 
      edit_manager_reserve_reserve_info_reserve_question_path(current_reserve, reserve_question_row.id),
      data: { "turbo-frame": "modal-content" }
    ) %>
  </td>
</tr>
