<section class="content">
  <%= render partial: 'manager/reserve_info/header' %>
  <div>
    <section class="reserve-info-menu">
      <%= render partial: 'manager/reserve_info/menu' %>
    </section>
    <section class="reserve-info">
      <header><%= t(".reserve_questions") %></header>
      <section class="reserve-info-subsection">
        <p><%= t(".about_questions_paragraph1") %></p>
        <%= render partial: "reserve_questions_table", locals: { reserve_questions: @presenter.reserve_questions} %>
      </section>
    </section>
  </div>
</section>
