<h1><%= t(".title") %></h1>
<p class="explanation">
  <h2><%= t(".explanation.title") %></h2>
  <%= t(".explanation.body") %>
</p>

<section class="project-info">
  <dl>
    <dt><%= t(".project-title") %></dt>
    <dd>
      Quisque sed tortor vitae arcu consequat eleifend.
    </dd>
    <dt><%= t(".project-description") %></dt>
    <dd>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue augue ac nisi dapibus, non tempus tortor lacinia. Quisque sed tortor vitae arcu consequat eleifend.
    </dd>
  </dl>
</section>

<section class="actions">
  <%= link_to t(".actions.dismiss"), "#" %>
  <%= link_to t(".actions.edit"), "#" %>
</section>
