<turbo-frame class="modal-content" data-modal-target="dialog openOnLoad" >
  <section class="text calendar-modal">
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px", data: { action: "click->modal#close" } %>
    </div>
    <div class="header">
      <h3><%= @presenter.reserve_name %></h3>
      <h3><%= @presenter.timeframe(:date_month_hour) %></h3>
    </div>
    <div class="vertical-padding d-flex">
      <div>
        <%= link_to @presenter.purpose_of_visit, manager_reserve_visit_path(reserve_id: @presenter.reserve_id, id: @presenter.id), class: "clr-blue", data: { turbo: "false" } %>
        <p class="clr-gray"><em><%= t(".visit", id: @presenter.id, reserve_name: @presenter.visit_reserve_name ) %></em></p>
      </div>
      <div>
        <p class="<%= @presenter.status_classes%>"><%= @presenter.status_text %></p>
      </div>
    </div>
    <hr>
    <div class="vertical-padding">
      <p class="clr-gray"><em><%= t(".project", id: @presenter.project_id, project_type: @presenter.project_type ) %></em></p>
      <%= link_to @presenter.project_title, manager_reserve_project_path(reserve_id: @presenter.reserve_id, id: @presenter.project_id), class: "clr-blue", data: { turbo: "false" } %>
      <p class="clr-gray"><em><%= @presenter.user_full_name %> - <%= @presenter.user.institution_name %></em></p>
    </div>
    <hr>
    <h5><%= t(".reservation_member") %></h5>
    <% @presenter.user_visits? && @presenter.user_visits.each  do |user_visit| %>
      <div class="display-flex">
        <p><%= user_visit.user_full_name(with_role: true) %></p>
        <p><%= user_visit.date_range %></p>
      </div>
    <% end %>
    <h5><%= t(".reserve_Resource") %> <%= t(".create_invoice")%></h5>
    <% @presenter.amenity_visits.each  do |amenity_visit| %>
      <div class="display-flex">
        <p><%= amenity_visit.amenity_title %></p>
        <p><%= amenity_visit.number_of_people %></p>
        <p><%= amenity_visit.requested_date_time_range %></p>
      </div>
    <% end %>
  </section>
  <section class="buttons">
    <button class="active black-btn" data-action="click->modal#close">
      <%= t('.close') %>
    </button>
  </section>
</turbo-frame>
