<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad" data-controller="user-days">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form.user_visit, url: presenter.user_visit_form_path do |form| %>
      <section>
        <header class="modal-header">
          <h2><%= t(".title") %></h2>
        </header>
        <div class="field">
          <%= form.hidden_field :visit_id %>
          <%= form.hidden_field :user_id %>
          <%= form.hidden_field :institution_id %>
          <%= form.hidden_field :count, value: 1 %>
          <%= hidden_field_tag :add_visitor_partial, :team_members %>
          <%= presenter.user.full_name %>
        </div>
        <div class="field">
          <%= form.label :role %>
          <%= form.select :role, presenter.user_role_options, selected: presenter.role %>
        </div>
        <table>
          <tr>
            <td colspan="2">
              <div class="date-range-select">
                <div class="field">
                  <%= form.label :arrives_at %>
                  <%= form.date_field :arrives_at, data: {"user-days-target": "arrivesAt", action: "input->user-days#calculate" } %>
                </div>
                <span class="separator"></span>
                <div class="field">
                  <%= form.label :departs_at %>
                  <%= form.date_field :departs_at, data: {"user-days-target": "departsAt", action: "input->user-days#calculate"} %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </section>
      <section class="buttons">
        <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
        <%= button_tag t("sitewide.save"), class: "active", type: "submit" %>
      </section>
    <% end %>
  </div>
</turbo-frame>
