<turbo-frame id="modal-content" class="modal-content" role="dialog" aria-labelledby="modal-title">
  <div data-modal-target="dialog openOnLoad">
    <%= form_with model: presenter.form, url: presenter.user_visit_form_path, method: "patch" do |form| %>
      <%= form.hidden_field :id %>
      <p class="screenreader-text">
        <span id="modal-title"><%= t(".title") %></span>
        <span id="modal-description"><%= t(".accessible_description") %></span>
      </p>
      <section class="text">
        <h2><%= t(".title") %></h2>
        <div class="field">
          <%= form.label :role %>
          <%= form.select :role, presenter.user_role_options %>
        </div>
        <% if presenter.guest_user? %>
          <div class="field">
            <%= form.label :guest_name %>
            <%= form.text_field :guest_name %>
          </div>
        <% elsif presenter.group_user? %>
          <div class="field">
            <%= form.label :count %>
            <%= form.text_field :count %>
          </div>
        <% end %>
        <div class="field autocomplete" data-controller="autocomplete" data-autocomplete-url-value="<%= institutions_path %>">
          <%= form.label :institution_name %>
          <%= form.text_field :institution_name, placeholder: t(".search_by_name"), value: presenter.institution_name, data: { "autocomplete-target": "input" } %>
          <%= form.hidden_field :institution_id, data: { "autocomplete-target": "hidden" } %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
          <div class="link">
            <%= link_to t(".create_new_institution"), new_institution_path, target: "_blank" %>
          </div>
        </div>
        <table>
          <tr>
            <td colspan="2">
              <div class="date-range-select">
                <div class="field">
                  <%= form.label :arrives_at %>
                  <%= form.date_field :arrives_at %>
                </div>
                <span class="separator"></span>
                <div class="field">
                  <%= form.label :departs_at %>
                  <%= form.date_field :departs_at %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </section>
      <section class="buttons">
        <div class="close">
          <%= link_to t(".cancel"), "#", data: { action: "click->modal#close" } %>
        </div>
        <button class="active" type="submit">
          <%= t(".save") %>
        </button>
      </section>
    <% end %>
  </div>
</turbo-frame>
