<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form, url: presenter.team_memberships_form_path, method: "patch" do |form| %>
      <section>
        <header class="modal-header with-links">
          <h2 class="modal-title"><%= presenter.user_full_name %></h2>
          <%= link_to t(".remove_team_member"),
            presenter.team_memberships_form_path,
            method: :delete,
            data: { confirm: t(".confirm_removal", name: presenter.user_full_name) }
          %>
        </header>
        <%= form.hidden_field :id %>
        <div class="field autocomplete" data-controller="autocomplete" data-autocomplete-url-value="<%= institutions_path %>">
          <%= form.label :institution_name %>
          <%= form.text_field :institution_name, placeholder: t(".search_by_name"), value: presenter.institution_name, data: { "autocomplete-target": "input" } %>
          <%= form.hidden_field :institution_id, data: { "autocomplete-target": "hidden" } %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <div class="field">
          <%= form.label :user_role %>
          <%= form.select :user_role, presenter.user_role_options %>
        </div>
        <fieldset>
          <legend><%= t(".permissions") %></legend>
          <div class="field checkbox">
            <%= form.label :active %>
            <%= form.check_box :active %>
          </div>
          <div class="field checkbox">
            <%= form.label :is_principal_investigator %>
            <%= form.check_box :is_principal_investigator %>
          </div>
          <div class="field checkbox">
            <%= form.label :can_edit_project %>
            <%= form.check_box :can_edit_project %>
          </div>
          <div class="field checkbox">
            <%= form.label :can_add_project_user %>
            <%= form.check_box :can_add_project_user %>
          </div>
          <div class="field checkbox">
            <%= form.label :can_add_visit %>
            <%= form.check_box :can_add_visit %>
          </div>
          <div class="field checkbox">
            <%= form.label :can_receive_invoice %>
            <%= form.check_box :can_receive_invoice %>
          </div>
        </fieldset>
        <% if presenter.able_to_change_owner? %>
          <fieldset>
            <legend><%= t(".ownership") %></legend>
            <div class="field checkbox">
              <%= form.label :assigned_as_project_owner?, t(".assigned_as_project_owner") %>
              <%= form.check_box :assigned_as_project_owner?, {}, true, false %>
            </div>
          </fieldset>
        <% end %>
      </section>
      <section class="buttons">
        <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
        <%= button_tag t("update"), class: "active", type: "submit" %>
      </section>
    <% end %>
  </div>
</turbo-frame>
