<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form, url: presenter.funding_form_path, method: "patch", id: "edit-project-funding", namespace: "edit" do |form| %>
      <section>
        <header class="modal-header with-links">
          <h2><%= t(".title", funding_title: presenter.funding_title) %></h2>
          <%= link_to t(".remove_funding"),
            presenter.funding_form_path,
            method: :delete,
            data: { confirm: t(".confirm_removal", title: presenter.funding_title) }
          %>
        </header>
        <%= render partial: "shared/projects/fundings/form_fields", locals: { presenter: presenter, form: form } %>
      </section>
      <section class="buttons">
        <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
        <%= button_tag t("update"), form: "edit-project-funding", class: "active", type: "submit" %>
      </section>
    <% end %>
  </div>
</turbo-frame>
