<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form, url: presenter.team_memberships_form_path, method: "patch" do |form| %>
      <section>
        <header class="modal-header with-links">
          <h2 class="modal-title"><%= presenter.user_full_name %></h2>
          <%= link_to t(".remove_team_member"),
            presenter.team_memberships_form_path,
            method: :delete,
            data: { confirm: t(".confirm_removal", name: presenter.user_full_name) }
          %>
        </header>
        <%= form.hidden_field :id %>
        <div class="autocomplete form-group" data-controller="autocomplete" data-autocomplete-url-value="<%= institutions_path %>" role="combobox" aria-haspopup="listbox">
          <%= form.label :institution_name, class:"form-label" %>
          <%= form.text_field :institution_name,
            placeholder: t(".search_by_name"),
            value: presenter.institution_name,
            data: { "autocomplete-target": "input" },
            class: "form-input"
          %>
          <%= form.hidden_field :institution_id, data: { "autocomplete-target": "hidden" } %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :user_role, class: "form-label" %>
          <%= form.select :user_role, presenter.user_role_options, {}, class: "form-input" %>
        </div>
        <div class="form-group">
          <div class="form-label"><%= t(".permissions") %></div>
          <div>
            <%= form.check_box :active %>
            <%= form.label :active, class: "form-inline-label" %>
          </div>
          <div>
            <%= form.check_box :is_principal_investigator %>
            <%= form.label :is_principal_investigator, class: "form-inline-label" %>
          </div>
          <div>
            <%= form.check_box :can_edit_project %>
            <%= form.label :can_edit_project, class: "form-inline-label" %>
          </div>
          <div>
            <%= form.check_box :can_add_visit %>
            <%= form.label :can_add_visit, class: "form-inline-label" %>
          </div>
          <div>
            <%= form.check_box :can_receive_invoice %>
            <%= form.label :can_receive_invoice, class: "form-inline-label" %>
          </div>
        </div>
        <% if presenter.able_to_change_owner? %>
          <div class="form-group">
            <div class="form-label"><%= t(".ownership") %></div>
            <div>
              <%= form.check_box :assigned_as_project_owner?, {}, true, false %>
              <%= form.label :assigned_as_project_owner?, t(".assigned_as_project_owner"), class: "form-inline-label" %>
            </div>
          </div>
        <% end %>
      </section>
      <section class="buttons">
        <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
        <%= button_tag t("update"), class: "active", type: "submit" %>
      </section>
    <% end %>
  </div>
</turbo-frame>
