<turbo-frame id="modal-content"
  class="modal-content"
  role="dialog"
  aria-labelledby="modal-title"
  aria-describedby="modal-description"
>
  <div data-modal-target="dialog openOnLoad" data-action="mousedown@window->modal#closeBackground">
    <section class="log-modal">
      <header>
        <h2 id="modal-title"><%= t(".log") %></h2>
        <%= image_tag "x.svg", height: "16px", width: "16px", class: "close", data: { action: "click->modal#close" } %>
      </header>

      <section class="log">
        <table>
          <tr>
            <td><%= t(".time") %></td>
            <td><%= presenter.time %></td>
          </tr>
          <tr>
            <td><%= t(".action") %></td>
            <td><%= presenter.action_name %></td>
          </tr>
          <% if presenter.details.present? %>
            <tr>
              <td><%= t(".action") %></td>
              <td><%= presenter.details %></td>
            </tr>
          <% end %>
          <tr>
            <td><%= t(".id") %></td>
            <td><%= presenter.record_about_id %></td>
          </tr>
          <tr>
            <td><%= t(".by") %></td>
            <td>
              <%= link_to presenter.user_name,
                edit_manager_reserve_user_path(current_reserve, presenter.user_id),
                data: { turbo_frame: "_top" }
              %>
            </td>
          </tr>
        </table>
      </section>
      <br />
      <% if presenter.changes.present? %>
        <section class="log-changes">
          <header>
            <%= t(".log_changes") %>
          </header>
          <hr />
          <table>
            <thead>
              <tr>
                <th class="log-field"><%= t(".field") %></th>
                <th class="old-value"><%= t(".old_value") %></th>
                <th class="new-value"><%= t(".new_value") %></th>
              </tr>
            </thead>
            <tbody>
              <% presenter.changes.each do |change_key, change| %>
                <tr>
                  <td><%= change_key %></td>
                  <td><code><%= change[0].present? ? change[0] : "nil" %></code></td>
                  <td><code><%= change[1] %></code></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </section>
      <% end %>
    </section>
  </div>
</turbo-frame>
