<turbo-frame id="modal-content" class="modal-content" role="dialog" aria-labelledby="modal-title">
  <div data-modal-target="dialog openOnLoad">
    <%= form_with model: presenter.form, url: presenter.user_visit_form_path do |form| %>
      <p class="screenreader-text">
        <span id="modal-title"><%= t(".title") %></span>
        <span id="modal-description"><%= t(".accessible_description") %></span>
      </p>
      <section class="text">
        <h2><%= t(".title") %></h2>
        <h5><%= t(".subtitle") %></h5>
        <%= hidden_field_tag :show_add_guest_modal, true %>
        <%= form.hidden_field :user_id, value: 1 %>
        <%= form.hidden_field :visit_id, value: @presenter.visit.id %>
        <%= form.hidden_field :count, value: 1 %>
        <div class="field">
          <%= form.label :guest_name %>
          <%= form.text_field :guest_name %>
        </div>
        <div class="field institution-id">
          <%= form.label :institution_id, t(".institution_name") %>
          <%= form.select :institution_id, options_for_select(@presenter.institution_options, @presenter.default_institution), 
                prompt: t(".select_institution") %>
        </div>
        <div class="field role">
          <%= form.label :role, t(".role") %>
          <%= form.select :role, options_for_select(@presenter.user_role_options), 
                prompt: t(".select_user_role")%>
        </div>
      </section>
      <section class="buttons">
        <div class="close">
          <%= link_to t(".cancel"), "#", data: { action: "click->modal#close" } %>
        </div>
        <button class="active" type="submit">
          <%= t(".save") %>
        </button>
      </section>
    <%end%>
  </div>
</turbo-frame>
