<turbo-frame id="modal-content">
  <div class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text">
      <span id="modal-title"><%= t(".title") %></span>
      <span id="modal-description"><%= t(".accessible_description") %></span>
    </p>
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px",
        id: "x-icon",
        data: { action: "click->modal#close" },
        alt: t("alt.icon_x")
      %>
    </div>

    <%= form_with model: presenter.form, url: presenter.user_form_path do |form| %>
      <section data-controller="followup-content">
        <header class="modal-header">
          <h2 class="modal-title"><%= t(".title") %></h2>
        </header>
        <div class="field">
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>
        </div>
        <div class="field">
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>
        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email %>
        </div>
        <div class="field">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number %>
        </div>
        <div class="field">
          <%= form.label :emergency_contact_full_name %>
          <%= form.text_field :emergency_contact_full_name %>
        </div>
        <div class="field">
          <%= form.label :emergency_contact_phone_number %>
          <%= form.text_field :emergency_contact_phone_number %>
        </div>
        <div class="field">
          <%= form.label :user_role %>
          <%= form.select :user_role, presenter.user_role_options, prompt: t(".select_user_role") %>
        </div>
        <div class="field autocomplete" data-controller="autocomplete" data-autocomplete-url-value="<%= institutions_path %>">
          <%= form.label :institution_name %>
          <%= form.text_field :institution_name, placeholder: t(".search_by_name"), value: presenter.institution_name, data: { "autocomplete-target": "input" } %>
          <%= form.hidden_field :institution_id, data: { "autocomplete-target": "hidden" } %>
          <div class="autocomplete-results-container">
            <ul class="autocomplete-results" data-autocomplete-target="results"></ul>
          </div>
        </div>
        <div class="field">
          <%= form.label :project_role %>
          <%= form.select :project_role, presenter.project_role_options, prompt: t(".select_project_role") %>
        </div>

        <h3>Current Address</h3>
        <div class="field">
          <%= form.label :address_country_id %>
          <%= form.collection_select(:address_country_id, Country.alphabetical_by_name,
            :id,
            :name,
            { selected: form.object.address_country_id || presenter.default_country_option },
            { data: { action: "change->followup-content#change" } }
          ) %>
        </div>
        <div class="field">
          <%= form.label :address_line_1 %>
          <%= form.text_field :address_line_1 %>
        </div>
        <div class="field">
          <%= form.label :address_city %>
          <%= form.text_field :address_city %>
        </div>
        <div class="field">
          <%= form.label :address_state_id %>
          <%= form.collection_select(:address_state_id, presenter.address_state_options || presenter.initial_state_options,
            :id,
            :name,
            { include_blank: true, selected: form.object.address_state_id || presenter.default_state_option },
            { data: { followup_content_target: "destination", "followup-content-url-value": states_url(country_id: "VALUE") } }
          ) %>
        </div>
        <div class="field">
          <%= form.label :address_postal_code %>
          <%= form.text_field :address_postal_code %>
        </div>
      </section>

      <section class="buttons">
        <%= link_to t("cancel"), "#", class: "close", data: { action: "click->modal#close" } %>
        <%= button_tag t("sitewide.save"), class: "active", type: "submit" %>
      </section>
    <% end %>
  </div>
</turbo-frame>
