<turbo-frame id="modal-content"
  class="modal-content project"
  role="dialog"
  aria-labelledby="modal-title"
  aria-describedby="modal-description"
  data-action="mousedown@window->modal#closeBackground"
>
  <section class="modal-content" data-modal-target="dialog openOnLoad">
    <p class="screenreader-text" id="modal-description"><%= t(".accessible_description") %></p>
    <div class="close">
      <%= image_tag "x.svg",
        height: "16px", width: "16px",
        id: "x-icon",
        alt: t(".alt.close_modal_icon"),
        data: { action: "click->modal#close" }
      %>
    </div>
    <section class="text">
      <h1 id="modal-title"><%= t(".title") %></h1>
      <p><%= t(".content_first") %></p>
      <p><%= t(".content_middle") %></p>
    </section>
    <section class="buttons">
      <button class="active" data-action="click->modal#close">
        <%= t(".okay") %>
        <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
      </button>
    </section>
  </section>
</turbo-frame>
