<turbo-frame id="modal-content"
             class="modal-content project"
             role="dialog"
             aria-labelledby="modal-title"
             aria-describedby="modal-description"
             data-modal-target="dialog openOnLoad" data-action="mousedown@window->modal#closeBackground"
>
  <p class="screenreader-text" id="modal-description"><%= t(".accessible_description") %></p>
  <section class="text">
    <div class="close">
      <%= image_tag "x.svg", height: "16px", width: "16px", alt: t(".alt.close_modal_icon"), data: { action: "click->modal#close" } %>
    </div>
    <h1 id="modal-title"><%= t(".title") %></h1>
    <p><%= t(".content_first") %></p>
    <p><%= t(".content_middle") %></p>
  </section>
  <section class="buttons">
    <button class="active" data-action="click->modal#close">
      <%= t(".okay") %>
      <%= image_tag "arrow-right.svg", alt: t(".alt.right_facing_arrow") %>
    </button>
  </section>
</turbo-frame>
