<turbo-frame id="modal-content"
  class="modal-content welcome"
  role="dialog"
  aria-labelledby="modal-title"
  aria-describedby="modal-description"
  data-modal-target="dialog openOnLoad" data-action="mousedown@window->modal#closeBackground"
>
  <%= image_tag "latest-news-background.jpg", class: "main-image" %>
  <section class="text">
    <h1 id="modal-title"><%= t(".title") %></h1>
    <p class="screenreader-text" id="modal-description"><%= t(".accessible_description") %></p>
    <p><%= t(".content") %></p>
  </section>
  <section class="buttons">
    <button class="active" data-action="click->modal#close">
      <%= t(".continue") %>
      <%= image_tag "arrow-right.svg", alt: t("alt.right_facing_arrow") %>
    </button>
  </section>
</turbo-frame>
