<turbo-frame id="modal-content"
             class="modal-content welcome"
             role="dialog"
             aria-labelledby="modal-title"
             aria-describedby="modal-description"
             data-modal-target="dialog openOnLoad"
>
  <%= image_tag "latest-news-background.jpg", class: "main-image" %>
  <section class="text">
    <h1 id="modal-title"><%= t(".title") %></h1>
    <p class="screenreader-text" id="modal-description"><%= t(".accessible_description") %></p>
    <p><%= t(".content") %></p>
  </section>
  <section class="buttons">
    <button class="active" data-action="click->modal#close">
      <%= t(".continue") %>
      <%= image_tag "arrow-right.svg" %>
    </button>
  </section>
</turbo-frame>
