<section class="calendar-visit">
  <header>
    <h2>
      <%= link_to truncate(visit.purpose_of_visit, length: 50),
        manager_reserve_visit_path(visit.reserve_id, visit.id),
        data: { turbo_frame: "_top"}
      %>
    </h2>
  </header>
  <div class="calendar-visit-body">
    <div>
      <p><%= t(".id_with_reserve_name", id: visit.id, reserve_name: visit.reserve_name ) %></p>
      <p><%= visit.user_info %> - <%= visit.institution_name %></p>
    </div>

    <div class="visit-status">
      <%= tag.span t("universal.visit.statuses.#{visit.status_class}"), class: "pill #{visit.status_class}" %>
      <%= tag.p pluralize(visit.visitor_count_on_date(begin_date), t(".visitor")) %>
    </div>
  </div>
</section>
