<div class="card">
  <div class="card-body">
    <p class="text-muted">Data is drawn from project (having funding) that have an
    approved visit(s) with arrival and departure dates within the selected
    date range.</p>
  </div>
</div>

<table class="project-funding-report">
  <thead>
    <tr>
      <th colspan="2">Project Funding</th>
    </tr>
  </thead>
  <tbody>
    <% data.each do |data| %>
      <tr>
        <td>
          <div class="project-funding-report-title">
            <%= data.title.present? ? data.title : "N/A" %>
          </div>
          <small class="project-funding-report-description">
            <%= link_to data.project.title, manager_reserve_project_path(current_reserve, data.project_id) %> |
            <%= data.project.project_type %> |
            <%= "Project ##{data.project_id}" %>
          </small>
        </td>
        <td class="project-funding-report-amount"><%= number_to_currency data.award_amount.to_f %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td class="project-funding-report-amount"><%= number_to_currency data.sum { |funding| funding.award_amount.to_f } %></td>
    </tr>
  </tfoot>
</table>
<br /><br />
