<div class="part-3-content">
  <div><%= link_to project.course_title, manager_reserve_project_path(current_reserve, project.id) %></div>
  <span>Course Number: <%= project.course_number || project.abstract || "N/A" %></span>
  <span>
    Instructor:
    <%= link_to project.owner_name, edit_manager_reserve_user_path(current_reserve, project.owner.id) %>
    <%= " - #{project.owner.department}" if project.owner.department.present? %>
  </span>
  <span>Date: <%= project.timeframe %></span>

  <% presenter.project_user_details(project).each do |user_role, user_count| %>
    <span><%= "#{ t("universal.roles.#{user_role}")}: #{user_count}" %></span>
  <% end %>
</div>
