<div class="card">
  <div class="card-body">
    <p class="text-muted">User count and user days for research, class, and public visitors
        to each reserve.</p>
  </div>
</div>

<table class="project-funding-report">
  <thead>
    <tr><th colspan="12" class="title">Total Usage for All NRS Reserves </th></tr>
    <tr>
      <th rowspan="2" class="subtitle">
        Reserve Name
      </th>
      <th colspan="5" class="center subtitle">
        User Count
      </th>
      <th colspan="5" class="center subtitle">
        User Days
      </th>
    <tr>
      <th class="right subtitle">Research</th>
      <th class="right subtitle">Class</th>
      <th class="right subtitle">Public</th>
      <th class="right subtitle">Housing</th>
      <th class="right subtitle" style="background:#fafafa;">Count All</th>

      <th class="right subtitle">Research</th>
      <th class="right subtitle">Class</th>
      <th class="right subtitle">Public</th>
      <th class="right subtitle">Housing</th>
      <th class="right subtitle" style="background:#fafafa;">Days All</th>
    </tr>
  </thead>
  <tbody>
    <% data.each do |row| %>
      <tr height=20>
        <td><%= row['reserve_name'] %></td>

        <td align=right><%= row['research_uc_user_count'].to_i %></td>
        <td align=right><%= row['class_uc_user_count'].to_i %></td>
        <td align=right><%= row['public_uc_user_count'].to_i %></td>
        <td align=right><%= row['housing_uc_user_count'].to_i %></td>
        <td style="background:#fafafa;" align=right><%= row['all_uc_user_count'].to_i %></td>

        <td align=right><%= row['research_uc_user_days'].to_i %></td>
        <td align=right><%= row['class_uc_user_days'].to_i %></td>
        <td align=right><%= row['public_uc_user_days'].to_i %></td>
        <td align=right><%= row['housing_uc_user_days'].to_i %></td>
        <td style="background:#fafafa;"align=right><%= row['all_uc_user_days'].to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /><br />
