<%= form.hidden_field :id %>
<div class="field">
  <%= form.label :funding_status, t(".funding_status") %>
  <%= form.select :funding_status, presenter.funding_status_options, { prompt: t(".sponsor_prompt") } %>
</div>
<div class="field">
  <%= form.label :title, t(".official_grant_title") %>
  <%= form.text_field :title %>
</div>
<div class="inline-fields">
  <div class="field small">
    <%= form.label :funding_opportunity_number, t(".funding_opportunity_number") %>
    <%= form.text_field :funding_opportunity_number %>
    <small><%= t(".funding_opportunity_number_explanation") %></small>
  </div>
  <div class="field small">
    <%= form.label :grant_number, t(".grant_number") %>
    <%= form.text_field :grant_number %>
    <small><%= t(".grant_number_explanation") %></small>
  </div>
</div>
<div class="field">
  <%= form.label :principal_investigators, t(".principal_investigators") %>
  <%= form.text_area :principal_investigators %>
</div>
<div class="field">
  <%= form.label :co_principal_investigators, t(".co_principal_investigators") %>
  <%= form.text_area :co_principal_investigators %>
</div>
<div class="inline-fields" data-controller="value-projection" data-value-projection-projected-value="<%= form.object.sponsor %>">
  <div class="field small">
    <%= form.label :sponsor, t(".sponsor") %>
    <%= form.select :sponsor, presenter.sponsor_options, { prompt: t(".sponsor_prompt") },
      data: { action: "change->value-projection#change" } %>
  </div>
  <div class="field small sponsor_other">
    <%= form.label :sponsor_other, t(".sponsor_other") %>
    <%= form.text_field :sponsor_other, placeholder: t(".sponsor_other_placeholder") %>
  </div>
</div>
<div class="inline-fields">
  <div class="field">
    <%= form.label :award_amount, t(".award_amount") %>
    <%= form.text_field :award_amount, placeholder: t(".award_amount_placeholder") %>
  </div>
  <div class="date-fields">
    <div class="field">
      <%= form.label :start_date, t(".start_date") %>
      <%= form.date_field(:start_date) %>
    </div>

    <span class="separator"></span>

    <div class="field">
      <%= form.label :end_date, t(".end_date") %>
      <%= form.date_field(:end_date) %>
    </div>
  </div>
</div>
