<section class="logs">
  <header>
    <h2><%= t(".title") %></h2>
  </header>
  <table class="logs-table">
    <thead>
      <tr class="log">
        <th class="log-creator"><%= t(".creator") %></th>
        <th class="log-action"><%= t(".action") %></th>
        <th class="log-datetime"><%= t(".date_and_time") %></th>
        <th class="log-button-actions"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "manager/projects/activity_and_notes/activity", collection: presenter.logs %>
    </tbody>
  </table>
  <%= paginate presenter.logs_scope, param_name: :logs_page, data: { "turbo-action": "advance" } %>
</section>
