<section class="reserve-notes">
  <header>
    <h2><%= t(".title") %></h2>
  <header>
  <%= form_with model: ReserveNote.new, url: manager_reserve_visit_activity_and_notes_path(current_reserve, presenter.id) do |f| %>
    <section class="note-form">
      <%= f.text_field :note, id:"note-input", required: true %>
      <%= f.button "Post Note" , type: "submit" ,class: "submit-btn" %>
    </section>
  <% end %>

  <%= render partial: "manager/visits/activity_and_notes/note", collection: presenter.notes %>
  <%= paginate presenter.notes_scope, param_name: :notes_page, data: { "turbo-action": "advance" } %>
</section>
