<% content_for(:title) { t(".title") } %>
<%= render partial: "projects/steps", locals: { presenter: @presenter } %>

<section class="add-user-form">
  <header class="form-container">
    <h1><%= t(".title") %></h1>
  </header>
  <turbo-frame id="project-details" class="team_memberships-index">
    <div>
      <section class="form-subsection background-1">
        <div class="form-container">
          <%= render partial: "shared/projects/team_memberships/form", locals: { presenter: @presenter } %>
        </div>
      </section>
      <div class="form-subsection form-container">
        <%= render partial: "shared/projects/team_memberships/team_member_table", locals: { presenter: @presenter } %>
      </div>
    </div>
  </turbo-frame>
</section>

<section class="controls">
  <%= link_to edit_manager_reserve_project_path(current_reserve, @presenter.project) do %>
    <%= image_tag "arrow-left-blue.svg", height: "16px", width: "16px", alt: t("alt.left_facing_arrow")  %>
    <%= t(".back") %>
  <% end %>
  <%= render @presenter.continue_button %>
</section>
