<nav class="navbar" role="navigation">
  <div class="manager-navbar upper">
    <div class="container">
      <ul class="navbar-nav">
        <li><%= link_to I18n.t(".navbar.link.welcome_back", name: current_user.full_name), "#" %></li>
        <li><%= link_to current_reserve.name, "#", class: "dropdown-toggle" %></li>
        <li><%= link_to I18n.t(".navbar.link.manager_view"), "#", class: "dropdown-toggle" %></li>
        <li><%= link_to image_tag('icon-user-navbar.svg', alt: I18n.t(".navbar.alt_text.icon_user")), "#", class: "icon-only" %></li>
        <li><%= link_to image_tag('icon-sign-out-navbar.svg', alt: I18n.t(".navbar.alt_text.icon_sign_out")), destroy_user_session_path, class: "icon-only" %> </li>
      </ul>
    </div>
  </div>
  <div class="manager-navbar lower">
    <div class="container">
      <div class="left-side">
        <%= image_tag "navbar-logo.svg", height: "57px", alt: "rams navbar logo", class: "logo" %>
        <h1 class="title">RAMS</h1>
        <small id="title-extra">University of California<br />Natural Reserve System</small>
      </div>
      <div class="right-side">
        <ul class="navbar-nav">
          <li> <%= link_to I18n.t(".navbar.link.visits"), "#", class:"nav-link" %> </li>
          <li> <%= link_to I18n.t(".navbar.link.projects"), "#", class:"nav-link" %> </li>
          <li> <%= link_to I18n.t(".navbar.link.invoices"), "#", class:"nav-link" %> </li>
          <li> <%= link_to I18n.t(".navbar.link.reports"), report_part_1_manager_reserve_report_path(current_reserve.id, Date.current.year), class:"nav-link #{active_class_for("reports")}" %> </li>
          <li> <%= link_to I18n.t(".navbar.link.reserve_info"), "#", class:"nav-link" %> </li>
          <li> <%= link_to I18n.t(".navbar.link.users"), "#", class:"nav-link" %> </li>
          <li> <%= link_to I18n.t(".navbar.link.help"), "#", class:"nav-link" %> </li>
        </ul>

        <%= image_tag 'hamburger.svg', alt: I18n.t(".navbar.alt_text.mobile_menu"), class: "navbar-hamburger display-none" %>
      </div>
    </div>
  </div>
</nav>
