<div class="manager-navbar upper">
  <div class="container">
    <ul class="navbar-nav">
      <li><%= t(".link.welcome_back", name: layout_presenter.current_user_full_name) %></li>
      <% if layout_presenter.in_manager_namespace? %>
        <li class="dropdown" data-controller="dropdown">
          <%= link_to layout_presenter.current_reserve_name,
            "#",
            class: "dropdown-toggle",
            data: { action: "click->dropdown#toggle click@window->dropdown#hide"}
          %>
            <% if layout_presenter.current_user_is_admin? %>
              <div class="dropdown-menu" data-dropdown-class="show" data-dropdown-target= "dropdown">
                <header><%= t(".link.your_managed_reserves") %></header>
                <hr />
                <% layout_presenter.admin_reserves.each do |reserve| %>
                  <%= link_to reserve.name, manager_reserve_dashboard_path(reserve), class: "dropdown-item" %>
                <% end %>
              </div>

            <% else %>
              <div class="dropdown-menu" data-dropdown-class="show" data-dropdown-target= "dropdown">
                <header><%= t(".link.your_managed_reserves") %></header>
                <hr />
                <% layout_presenter.current_user_managed_reserves.each do |reserve| %>
                  <%= link_to reserve.name, manager_reserve_dashboard_path(reserve), class: "dropdown-item" %>
                <% end %>
              </div>

          <% end %>
        </li>
      <% end %>

      <li class="dropdown" data-controller="dropdown">
        <%= link_to (layout_presenter.in_manager_namespace? ?
            t(".link.manager_view") : t(".link.public_view")
          ),
          "#",
          class: "dropdown-toggle",
          data: { action: "click->dropdown#toggle click@window->dropdown#hide"}
        %>
        <div class="dropdown-menu" data-dropdown-class="show" data-dropdown-target= "dropdown">
          <% if layout_presenter.in_manager_namespace? %>
            <%= link_to t(".link.go_to_public_view"),
              root_path,
              class: "dropdown-item" %>

          <% else %>
            <%= link_to t(".link.go_to_manager_view"),
              manager_reserve_dashboard_path(layout_presenter.current_user_first_managed_reserve || Reserve.first),
              class: "dropdown-item" %>

          <% end %>
        </div>
      </li>
      <li>
        <%= link_to image_tag("icon-user-navbar.svg", alt: t(".alt_text.icon_user")),
          layout_presenter.in_manager_namespace? ?
            edit_manager_reserve_user_path(layout_presenter.current_reserve, layout_presenter.current_user) :
            edit_user_registration_path,
          class: "icon-only"
        %>
      </li>
      <li>
        <%= link_to image_tag("icon-sign-out-navbar.svg", alt: t(".alt_text.icon_sign_out")),
          destroy_user_session_path,
          class: "icon-only"
        %>
      </li>
    </ul>
  </div>
</div>
