<div class="navbar">
  <div class="container">
    <div class="navbar-content">
      <div class="left-side">
        <%= link_to dashboard_index_path do %>
          <%= image_tag "ucnrs-logo.svg", alt: t("alt.ucnrs_logo"), height: "57px", class: "logo" %>
        <% end %>
        <h1 class="title">RAMS</h1>
        <small id="title-extra">University of California<br />Natural Reserve System</small>
      </div>
      <div class="right-side">
        <ul class="navbar-nav">
          <% if layout_presenter.current_user_logged_in? %>
            <li>
              <%= link_to I18n.t(".navbar.link.visits"), root_path,
                class: ["nav-link", active_class_for("visits"), active_class_for("home")] %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.projects"), projects_path,
                class: ["nav-link", active_class_for("projects")] %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.reserves"), reserves_path,
                class: ["nav-link", active_class_for("reserves")] %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.my_profile"), edit_user_registration_path,
                class: ["nav-link", active_class_for("registrations")] %>
            </li>
            <li>
              <%= link_to "https://ramshelp.ucnrs.org/", id: "help-link", class: ["nav-link", active_class_for("helps")],
                target: "_blank" do %>
                <%= I18n.t(".navbar.link.help") %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 22 22" fill="none" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
                  <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                  <polyline points="15 3 21 3 21 9"></polyline>
                  <line x1="10" y1="14" x2="21" y2="3"></line>
                </svg>
              <% end %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.sign_out"), destroy_user_session_path,
                class: ["nav-link", active_class_for("sessions")], data: { turbo: false } %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.schedule_visit"), new_visit_path,
                class: ["nav-link", "schedule", active_class_for("visits")] %>
            </li>

          <% else %>
            <li>
              <%= link_to I18n.t(".navbar.link.reserves"), reserves_path,
                class: ["nav-link", active_class_for("reserves")] %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.project_search"), "#",
                class: ["nav-link", active_class_for("project_search")] %>
            </li>
            <li>
              <%= link_to I18n.t(".navbar.link.schedule_visit"), new_visit_path,
                class: ["nav-link", "schedule", active_class_for("visits")] %>
            </li>

          <% end %>
        </ul>

          <%= image_tag 'hamburger.svg', alt: I18n.t(".navbar.alt_text.mobile_menu"),
            class: "navbar-hamburger display-none"
          %>
        </div>
    </div>
  </div>
</div>
