<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UC Nature RAMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= render partial: "layouts/fonts" %>
  </head>

  <body class="<%= body_class %>">
    <header>
      <%= render partial: 'layouts/domain_banner' %>
      <%= render partial: 'layouts/nav', locals: { layout_presenter: @layout_presenter } %>
      <%= render "shared/flash", formats: [:html] %>
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
    <%= render partial: "layouts/modal" %>
  </body>
</html>
