<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UcnrsRams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: "layouts/fonts" %>
  </head>

  <body class="<%= body_class %>">
    <%= render(NavbarComponent.new(user: current_user)) %>
    <main role="main">
      <section role="region" aria-label="errors">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </section>
      <%= yield %>
    </main>
    <%= render(FooterComponent.new) %>
  </body>
</html>
