<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UCNRS RAMS | Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= render partial: "layouts/fonts" %>
  </head>

  <body class="manager <%= body_class %>">
    <header>
      <%= render partial: 'layouts/manager_nav', locals: { layout_presenter: @layout_presenter } %>
      <%= render "shared/flash" %>
    </header>
    <main role="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render partial: "layouts/manager_footer" %>
    <%= render partial: "layouts/modal" %>
  </body>
</html>
