<!DOCTYPE html>
<html lang="en" class="unauthenticated-html">
  <head>
    <title>RAMS - <%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= render partial: "layouts/fonts" %>
  </head>

  <body class="unauthenticated <%= body_class %>">
    <%= render partial: 'layouts/welcome_rams3' %>
    <main role="main">
      <section class="left-side hero">
        <header>
          <%= image_tag "white-logo-big.svg", class: "logo big-logo", height: "168px", width: "173px", alt: t(".alt-text.logo") %>
          <%= image_tag "white-logo-small.svg", class: "logo small-logo", height: "168px", width: "173px", alt: t(".alt-text.logo") %>
          <h1><%= t(".hero.title") %></h1>
        </header>
        <p><%= t(".hero.emphasized") %></p>
        <p><%= t(".hero.explanation1") %></p>
        <p><%= t(".hero.explanation2") %></p>
        <p><%= raw t(".hero.more_information") %></p>
        <p><%= t(".hero.public_information",
                  reserves_info_link: link_to(t(".hero.reserves_info"), reserves_path),
                  project_search_link: link_to(t(".hero.project_search"), "#")
                ).html_safe
            %>
        </p>
      </section>

      <section class="right-side form">
        <section class="notifications" role="region" aria-label="errors">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>

        <%= yield %>
      </section>
    </main>
  </body>
</html>
