<section class="project-team p-bottom">
  <h2 class="main-header"><%= t(".amenity_visits", size: presenter.amenity_visits.sum(&:number_of_people)) %></h2>
  <%= link_to t(".edit_amenities"), edit_manager_reserve_visit_detail_path(visit_id: presenter.id),
      data: { controller: "tab-bar", action: "click->tab-bar#selectTab", "tab-bar-id-param": "details" } if presenter.reserve_manager? %>

  <table id="amenities-summary-table" class="summary-table">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".dates_of_use") %></th>
        <th><%= t(".rate") %></th>
        <th><%= t(".count") %></th>
        <th><%= t(".cost") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "manager/visits/summary/amenity_visit", collection: presenter.amenity_visits %>
      <tr class="amenity-total">
        <td colspan=3></td>
        <td><%= t(".total") %></td>
        <td><strong><%= presenter.amenities_total %></strong></td>
      </tr>
    </tbody>
  </table>
</section>
