<tr class="amenity_visit">
  <td><%= amenity_visit.amenity_title %></td>
  <td><%= amenity_visit.requested_date_range("date_range.different_years")%></td> 
  <td><%= amenity_visit.rate_in_dollar %> <%= amenity_visit.per_sentence %></td>
  <td><%= amenity_visit.number_of_people %> <%= amenity_visit.unit %></td>
  <td><%= amenity_visit.cost_in_dollar %></td>
</tr>
