<section class="email-notification">
  <header>
    <h2><%= t(".notification") %></h2>
  </header>
  <div class="space-between">
    <div class="input-group">
      <%= form.label :email_notification_method, t(".notification_method") %>
      <%= form.select :email_notification_method,
        options_for_select(presenter.email_options),
        {},
        class: "email-notification-method",
        data: {"summary-tab-target": "selectField", action: "change->summary-tab#toggleEmailDiv"}
      %>
    </div>
    <div>
      <%= form.check_box :report_access %>
      <%= form.label :report_access, t(".report_access") %>
    </div>
  </div>
  <div class="email" data-summary-tab-target="emailDiv" >
    <div class="input-group">
      <%= form.label :approval_message, t(".email_message") %>
      <%= form.text_area :approval_message,
        rows: 15,
        data: { "summary-tab-target": "textArea" },
        value: presenter.message_text,
        class:"email-message"
      %>
      <%= hidden_field_tag :approval_message,
        presenter.reserve.approval_message,
        data: { "summary-tab-target": "approvalMessage" }
      %>
      <div>
        <%= link_to t(".clear_message"), "#", id: "clear_btn", remote: true,
          data: {action: "click->summary-tab#clearField"}
        %>
        <%= tag.label t(".message_field_label"), class: "label" %>
      </div>
    </div>

    <section>
      <header>
        <h3><%= t(".email_recipient") %></h3>
      </header>
      <% presenter.project_team_members.each do |team_member| %>
        <div class="team-member">
          <div>
            <%= form.check_box :email_to_list,
              {
                multiple: true,
                checked: team_member.is_principal_investigator?,
                id: "visit_email_to_list_#{team_member.id}",
              },
              team_member.user.email,
              nil
            %>
            <strong>
              <%= form.label "email_to_list_#{team_member.id}", team_member.user.full_name %>
            </strong>
          </div>
          <div><%= team_member.institution.name %></div>
          <div><%= team_member.project_role %></div>
        </div>
      <% end %>
      <div>
        <%= form.check_box :bcc_personnel, checked: true %>
        <%= form.label :bcc_personnel, t(".bcc_recipients") %>
      </div>
    </section>
  </div>
</section>
