<tr class="team-membership">
  <% if user_visits.actual_user? %>
    <td> <%= link_to user_visits.user_full_name, "#" %> </td>
  <% else %>
    <td> <%= user_visits.user_full_name %> </td>
  <% end %>
  <td> <%= user_visits.institution_name %> </td>
  <td> <%= user_visits.user_role %> </td>
  <td> <%= user_visits.project_role %> </td>
  <td> <%= user_visits.date_of_use %> </td>
</tr>
